{% load l10n visite_utils %}

{% for day, visites in days.items %}
    {% if forloop.first %}
    <div class="container app-totaux mt-2 mb-2">
        <div class="row">
            <div class="col-6 pe-0 text-end">Nombre de visites:</div>
            <div class="col-6">{{ sums.total_visites|default_if_none:'0' }}</div>
        </div>
        <div class="row">
            <div class="col-6 pe-0 text-end">Durée totale:</div>
            <div class="col-6">{{ sums.total_duree|default_if_none:'0'|strip_seconds }}</div>
        </div>
    </div>
    <div class="accordion">
    {% endif %}
    <div class="accordion-item">
        <h2 class="accordion-header">
            <button class="accordion-button ps-4 collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#d{{ day|date:'md' }}">
            {{ day }}
            </button>
        </h2>
        <div id="d{{ day|date:'md' }}" class="accordion-collapse collapse mt-2">
            {% for visite in visites %}
            <div class="row p-2">
                <div class="col-11">
                    <div>Visite du {{ visite.debut|date:'d.m.Y à H:i' }} chez {{ visite.client }} ({{ visite.client.localite }}).</div>
                    <div>Durée: {{ visite.duree|format_duree }}</div>
                    {% if visite.compte_rendu %}<div>Compte-rendu: {{ visite.compte_rendu }}</div>{% endif %}
                </div>
                <div class="col-1 pe-1 ps-0">
                    {% if visite|can_edit:benev %}
                    <a class="btn btn-light w-100 h-100 pe-1 ps-1 openmodal"
                       href="{% url 'app-visite-edit' visite.pk %}?next={% url 'app-archives' %}">
                        <img src="{% static 'img/edit.svg' %}" class="icon h-100" title="Modifier le rapport">
                    </a>
                    {% endif %}
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    {% if forloop.last %}</div>{% endif %}
{% endfor %}
