{% extends "visite/app/base.html" %}
{% load client_utils %}

{% block title %}Accueil{% endblock %}

{% block extrastyle %}
    {{ block.super }}
    <link rel="manifest" href="{% url 'manifest' %}" crossorigin="use-credentials">
{% endblock %}

{% block breadcrumb %}{% endblock %}

{% block content %}
<h1 class="text-center">Visites Croix-Rouge<span class="noprint"><br>Portail bénévoles</span></h1>

    <div id="visites" class="tab-pane fade show active">
        <div class="list-group">
        {% for attrib, client in attributions %}
            <div class="row m-1">
                <div class="col p-2 border">
                    {% bandeau_absence client %}
                    <div>
                        {% with adresse=client.adresse %}
                        <b>{{ client.nom_prenom }}</b> <small>({{ client.date_naissance|date:'d.m.Y' }})</small><br>
                        {{ adresse.rue }}, {{ adresse.npa }} {{ adresse.localite }}
                        {% endwith %}
                    </div>
                    <div class="tels">
                        {% for tel in client.telephones %}{% if not forloop.first %}, {% endif %}{{ tel.tel|as_tel }}{% endfor %}
                    </div>
                    {% if client.remarques_ext_visite %}
                    <div class="fst-italic">{{ client.remarques_ext_visite|linebreaksbr }}</div>
                    {% endif %}

                    <div class="text-end">
                    {% if attrib.donnees_inscr %}
                    <!-- Modale données inscr. -->
                    <button type="button" class="btn btn-sm btn-secondary" data-bs-toggle="modal" data-bs-target="#dataInscr{{ attrib.pk }}">
                      Données d’inscription
                    </button>
                    <div class="modal fade text-start" id="dataInscr{{ attrib.pk }}" tabindex="-1" aria-hidden="true">
                      <div class="modal-dialog">
                        <div class="modal-content">
                          <div class="modal-header">
                            <h1 class="modal-title fs-5">Données de l’inscription</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                          </div>
                          <div class="modal-body">
                            {% for label, contenu in attrib.donnees_inscr.items %}
                            <div class="libelle_inscription">{{ label }}</div>
                            <div class="contenu_inscription form-control mb-2">{{ contenu }}</div>
                            {% endfor %}
                          </div>
                          <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
                          </div>
                        </div>
                      </div>
                    </div>
                    {% endif %}
                    {% if attrib.contacts %}
                    <!-- Modale contacts -->
                    <button type="button" class="btn btn-sm btn-secondary" data-bs-toggle="modal" data-bs-target="#dataContacts{{ attrib.pk }}">
                      Contacts
                    </button>
                    <div class="modal fade" id="dataContacts{{ attrib.pk }}" tabindex="-1" aria-hidden="true">
                      <div class="modal-dialog">
                        <div class="modal-content">
                          <div class="modal-header">
                            <h1 class="modal-title fs-5">Contacts</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                          </div>
                          <div class="modal-body">
                            <ul class="list-group text-start">
                            {% for contact in attrib.contacts %}
                            <li class="list-group-item">
                                {{ contact.get_full_name }}{% if contact.relation %} ({{ contact.relation }}){% endif %},
                                {{ contact.rue_localite }}
                                {% for tel in contact.telephones %}{% if forloop.first %}<br>{% else %} - {% endif %}{{ tel.tel|as_tel }}{% if tel.remarque %} ({{ tel.remarque }}){% endif %}{% endfor %}
                            </li>
                            {% endfor %}
                            </ul>
                          </div>
                          <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
                          </div>
                        </div>
                      </div>
                    {% endif %}
                    </div>
                </div>
            </div>
            {% for visite in attrib.non_rapportees %}
            <div>
                <a href="{% url 'app-visite-edit' visite.pk %}"
                   class="alert alert-danger d-block openmodal"
                   title="Rapporter une visite" data-deleteurl="{% url 'app-visite-delete' visite.pk %}"
                   data-deleteconfirm="Voulez-vous vraiment supprimer cette visite ?">
                    Rapporter la visite du {{ visite.debut|date:'d.m.Y à H:i' }}
                </a>
            </div>
            {% endfor %}
            {% if attrib.prochaine %}
            <div>
                <a href="{% url 'app-visite-edit' attrib.prochaine.pk %}"
                   class="alert alert-primary d-block openmodal"
                   title="Modifier une visite" data-deleteurl="{% url 'app-visite-delete' attrib.prochaine.pk %}"
                   data-deleteconfirm="Voulez-vous vraiment supprimer cette visite ?">
                    Prochaine visite: le {{ attrib.prochaine.debut|date:'d.m.Y à H:i' }}
                </a>
            </div>
            {% endif %}
            <a href="{% url 'app-visite-new' attrib.pk %}" class="btn btn-primary openmodal"
               title="Création d’une visite">Nouvelle visite</a>
        {% empty %}
            <div class="mt-3"><i>Aucune visite ne vous est attribuée.</i></div>
        {% endfor %}
        </div>
    </div>
{% endblock content %}
