{% extends 'base.html' %}

{% block extrastyle %}<link rel="stylesheet" type="text/css" href="{% static 'css/besoins.css' %}">{% endblock %}
{% block extra_javascript %}<script src="{% static 'js/besoins.js' %}" defer></script>{% endblock %}

{% block title_intro %}Croix-Rouge - analyse des besoins{% endblock %}

{% block breadcrumb %}
    {% if request.path != "/" %}
        {{ block.super }}
        {% url 'besoins:home' as home_besoins %}
        {% if home_besoins != "/" %}<li class="breadcrumb-item"><a href="{{ home_besoins }}">Besoins</a></li>{% endif %}
    {% endif %}
{% endblock %}
