{% extends "client/client_list_base.html" %}
{% load client_utils %}

{% block right_of_title %}{% endblock %}

{% block add_headers %}
{% if not view.is_archive %}<th></th><th>Questionnaire</th>{% endif %}
{% endblock %}

{% block add_filters %}
{% if not view.is_archive %}<td></td><td></td>{% endif %}
{% endblock %}

{% block add_columns %}
{% if not view.is_archive %}
    <td>{% services_as_icons client %}</td>
    <td>{% if client.last_quest %}{{ client.last_quest|date:"d.m.Y" }}{% else %}<i>Jamais</i>{% endif %}</td>
{% endif %}
{% endblock %}
