<div class="offcanvas offcanvas-start" tabindex="-1" id="aidePanel" data-bs-scroll="true" data-bs-backdrop="false">
  <div class="offcanvas-header">
    <h5 class="offcanvas-title" id="offcanvasBottomLabel">Aides à conseiller</h5>
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body small">
    {% for res in ressources %}
      <h3 class="mt-3 mb-1 border-top">{{ res.titre }}</h3>
      {% if res.web %}<div><a href="{{ res.web }}" target="_blank">Web</a></div>{% endif %}
      {% if res.coordonnees %}<div>{{ res.coordonnees|safe }}</div>{% endif %}
      {% if res.descriptif %}<div>{{ res.descriptif|safe }}</div>{% endif %}
    {% endfor %}
  </div>
</div>
