{% extends "besoins/base.html" %}
{% load common_utils client_utils besoins %}

{% block title %}Questionnaire - {{ section_verbose }}{% endblock %}

{% block content %}
<h2>
    Analyse des besoins pour {{ client.nom }} {{ client.prenom }} {% services_as_icons client '' 'p-2' %}
</h2>
<div><b>Thème:</b> {{ view.section.theme }}</div>
{% if view.section.buts %}<div><b>Buts:</b> {{ view.section.buts }}</div>{% endif %}

{% include 'besoins/q-aide.html' %}

<form id="quest_form" method="post" action="." class="position-relative">{% csrf_token %}
    <div id="bouton_aide">
        <button class="btn btn-warning" type="button" data-bs-toggle="offcanvas" data-bs-target="#aidePanel" aria-controls="aidePanel">Afficher l’aide
            </button>
    </div>

    <div class="float-end list-group ms-4 themes_status">
        {% for key, theme in themes_status.items %}
        <div class="list-group-item">
            {% if key != 'fin' %}{{ theme.done|boolean_icon }}{% endif %}
            <a class="theme_link" href="{% url 'besoins:questionnaire' view.kwargs.pk view.kwargs.qpk key %}">{{ theme.label }}</a>
        </div>
        {% endfor %}
    </div>

    {% if view.section_key == 'fin' %}
        <h3>Résumé</h3>
        {% include 'besoins/resume.html' with quest=object print_rems=False %}
    {% endif %}

    {% for question in questions %}
    <div id="q{{ question.pk }}-wrapper" class="quest_question mt-3 mb-3 border-top">
        <div class="fs-3">{{ question.question }} {% help_tooltip question.aide %}</div>
        <div class="row">
            <div class="col-md-6">{{ form|get_field:question.field }}</div>
            <div class="col-md-6">
                {% if question.question_compl %}<div>{{ question.question_compl }}</div>{% endif %}
                {% if question.field_detail %}
                    {{ form|get_field:question.field_detail }}
                    {% if question.field == 'chutes' and form.interet_alarme %}
                    <div id="interet_alarme_div" class="form-check" hidden>
                        {{ form.interet_alarme }} <label for="id_interet_alarme" class="form-check-label">La personne a donné son accord pour signaler son intérêt à une installation d’alarme</label>
                    </div>{% endif %}
                {% endif %}
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 text-end pt-2">
                {% if prev_quest %}
                <details open>
                    <summary><i>Réponse quest. précédent</i></summary>
                    <div class="d-inline-block bg-light p-2">
                        {{ prev_quest|prev_reponse:question.field }}
                        {% with prev_quest|prev_reponse:question.field_detail as details %}
                        {% if details %} / <span class="reponse_prec">{{ details|linebreaksbr }}</span>
                        <img class="copier_reponse icon" src="{% static 'img/copy.svg' %}" data-bs-toggle="tooltip"
                             title="Copier ce contenu dans le nouveau questionnaire">
                        {% endif %}
                        {% endwith %}
                    </div>
                </details>
                {% endif %}
            </div>
        </div>
    </div>
    {% endfor %}
    {% if not next.0 and not object.termine_le %}
    <div id="besoins_temps_passe" class="mb-3 mt-3">
        <span class="fs-3">{{ form.duree.label_tag }}</span>
        <div class="input-group mb-3">{{ form.duree }}
        <span class="input-group-text">minutes</span>
        </div>
        {{ form.duree.errors }}
    </div>
    {% endif %}

    <div class="d-flex justify-content-between">
        <div>
        {% if previous.0 %}
            <button type="submit" class="btn btn-primary me-2"  formaction="{{ request.path }}?back=1">&lt; {{ previous.1 }}</button>
        {% endif %}
        </div>
        {% if next.0 %}
            <button type="submit" class="btn btn-primary">&gt; {{ next.1 }}</button>
        {% else %}
            {% if object.termine_le %}
            <div class="alert alert-success">Questionnaire terminé le {{ object.termine_le|date:'d.m.Y' }}.</div>
            {% else %}
            <button type="submit" class="btn btn-primary" formaction="{{ request.path }}?termine=1">Marquer l’entretien comme terminé</button>
            {% endif %}
        {% endif %}
    </div>
</form>
{% endblock %}
