{% extends "besoins/base.html" %}
{% load client_utils %}

{% block title %}Questionnaire - Intro{% endblock %}

{% block content %}
<h2>{{ client.nom }} {{ client.prenom }} {% services_as_icons client '' 'p-2' %}</h2>

<div class="row">
    <div class="col-sm-3">{% if adresse.c_o %}{{ adresse.c_o }}<br>{% endif %}{{ adresse.rue }}</div>
    <div class="col-sm-3">{{ adresse.npa }} {{ adresse.localite }}</div>
    <div class="col-sm-3 tels">{{ client|tels_as_divs }}</div>
    <div class="col-sm-3">{{ client.date_naissance|date:'d.m.Y' }} ({{ client.age|to_int }} ans)</div>
</div>
{% if client.langues and 'fr' not in client.langues %}
    <div><b>Langues:</b> {{ client.get_langues_display }}</div>
{% endif %}
{% if client.handicaps %}
    <div><b>Handicaps:</b> {{ client.get_handicaps_display }}</div>
{% endif %}
{% if client.remarques_ext %}
    <div>{{ client.remarques_ext }}</div>
{% endif %}

{% bandeau_absence client %}

{% info_partenaire client %}

<details><summary class="fs-4">Contacts/répondants</summary>
    <div id="client-contacts">
        {% include 'client/contact_list.html' with readonly=True %}
        {% if not referents and not repondants and not autres_contacts %}
        <i>Aucun contact actuellement pour cette personne.</i>
        {% endif %}
    </div>
</details>

<div class="texte_intro mt-3 mb-3 fs-5">
    <div><b>Canevas de dialogue introductif</b></div>
    <ul>
        {% block intro1 %}
        <li>Nous vous appelons parce que vous êtes client Alarme, Visites à domicile, OSAD ou Transports à la Croix-Rouge neuchâteloise</li>
        {% endblock intro1 %}
        <li>Nous avons à cœur de favoriser le maintien à domicile des personnes âgées et souhaiterions proposer une offre globale</li>
        <li>C’est pourquoi nous aimerions identifier vos besoins immédiats ou futurs.</li>
        <li>De ce fait, nous souhaiterions vous poser quelques questions, si vous avez un petit moment à nous consacrer.</li>
        <li>La durée du questionnaire sera d’environ 15 minutes</li>
    </ul>
</div>

<form method="post" action=".">{% csrf_token %}
    <p>Si <b>une autre personne</b> répond pour le client ou l’aide pendant l'entretien, indiquez-le dans ce champ:</p>
    {{ form.aide_entretien }}
    <div class="d-flex justify-content-between">
        <div></div>
        <button type="submit" class="btn btn-primary">&gt; Environnement familial et social</button>
    </div>

    <hr>
    <div>{{ form.rappeler }} {{ form.rappeler.label_tag|strip_colon }}</div>
    <div id="id_rappeler_suite"{% if not form.instance.note_rappel %} hidden{% endif %}>
        <div><label for="id_note_rappel">Note interne</label> {{ form.note_rappel }}</div>
        <div>
            <button type="submit" formaction="{{ request.path }}?rappel=1" class="btn btn-warning">
                Enregistrer et revenir à l’accueil
            </button>
        </div>
    </div>

    <div class="mt-3">{{ form.non_repondu }}</div>
    <div id="id_non_repondu_suite" hidden>
        <div><label for="id_remarques">Remarques</label> {{ form.remarques }}</div>
        <div><button type="submit" class="btn btn-warning">Confirmer ce choix</button></div>
    </div>
</form>
{% endblock content %}
