<ul class="nav nav-tabs nav-statistiques">
    {# active is defined in include tag #}
    <li class="nav-item">
        <a class="nav-link {% if active == 'general' %}active{% endif %}"
           href="{% url 'besoins:stats-besoins' %}{% querystring %}">Générales</a>
    </li>
    <li class="nav-item">
        <a class="nav-link {% if active == 'collab' %}active{% endif %}"
           href="{% url 'besoins:stats-besoins-collab' %}{% querystring %}">Par collaboratrice</a>
    </li>
</ul>
