{% extends "besoins/base.html" %}
{% load besoins %}

{% block breadcrumb %}
<li class="breadcrumb-item"><a href="{% url 'home' %}">Accueil</a></li>
<li class="breadcrumb-item active" aria-current="page">Statistiques</li>
{% endblock %}

{% block content %}
<h1 class="mb-5 text-center fw-bold">Statistiques des questionnaires de besoins</h1>

<div class="row border-bottom mb-3">
    <div class="col">
        <form method="get" id="annee_form" class="immediate_submit unmonitor">
            {{ date_form.non_field_errors }}
            <p class="lead">
                Statistiques de {{ date_form.year }}
            </p>
        </form>
    </div>
</div>
{% include "besoins/stats-tabs.html" with active=view.active %}

<table class="table table-sm table-hover table-striped stat_table">
    <thead>
        <tr><th></th>
            {% for month in months %}<th class="text-end" scope="col">{{ month }}</th>{% endfor %}
            <th class="text-end" scope="col">Total</th>
        </tr>
    </thead>
    <tbody>
        {% for collab, results in collabs.items %}
        <tr>
            <th scope="row">{{ collab }}</th>
            {% for month in months %}
                <td class="num">
                    {{ results|get_item:month|get_item:'num'|default_if_none:'-' }}<br>
                    {{ results|get_item:month|get_item:'duree'|format_duree }}
                </td>
            {% endfor %}
            <td class="num">
                {{ results|get_item:'total_num'|default_if_none:'-' }}<br>
                {{ results|get_item:'total_duree'|format_duree }}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
