{% extends "besoins/base.html" %}
{% load besoins %}

{% block breadcrumb %}
<li class="breadcrumb-item"><a href="{% url 'home' %}">Accueil</a></li>
<li class="breadcrumb-item active" aria-current="page">Statistiques</li>
{% endblock %}

{% block content %}
<h1 class="mb-5 text-center fw-bold">Statistiques des questionnaires de besoins</h1>

<div class="row border-bottom mb-3">
    <div class="col">
        <form method="get" id="annee_form" class="immediate_submit unmonitor">
            {{ date_form.non_field_errors }}
            <div class="lead d-flex">
                <div>Statistiques de {{ date_form.year }}</div>
                {% if date_form.avec_osad %}<div class="form-check ms-4 mt-2 fs-6" id="osad_cb">{{ date_form.avec_osad }} {{ date_form.avec_osad.label_tag|strip_colon }}</div>{% endif %}
            </div>
        </form>
    </div>
</div>
{% include "besoins/stats-tabs.html" with active=view.active %}

<p class="alert alert-warning">Attention: les clients faisant partie de plusieurs services sont comptés plusieurs fois, sauf sur la ligne <i>Totaux</i>, ce qui explique que les additions de colonnes ne coïncident pas.</p>
<table class="table table-sm table-hover table-striped stat_table">
    <thead>
        <tr><th></th>
            {% for month in months %}<th class="text-end" scope="col">{{ month }}</th>{% endfor %}
            <th class="text-end" scope="col">Total</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">Alarme</th>
            {% for month in months %}
                <td class="num">{% stat_numb month 'num_alarme' %}</td>
            {% endfor %}
            <td class="num">{{ totaux|get_item:'num_alarme' }}</td>
        </tr>
        <tr>
            <th scope="row">Transport</th>
            {% for month in months %}
                <td class="num">{% stat_numb month 'num_transport' %}</td>
            {% endfor %}
            <td class="num">{{ totaux|get_item:'num_transport' }}</td>
        </tr>
        {% if 'num_visite' in totaux %}
        <tr>
            <th scope="row">Visites</th>
            {% for month in months %}
                <td class="num">{% stat_numb month 'num_visite' %}</td>
            {% endfor %}
            <td class="num">{{ totaux|get_item:'num_visite' }}</td>
        </tr>
        {% endif %}
        {% if 'num_osad' in totaux %}
        <tr>
            <th scope="row">OSAD</th>
            {% for month in months %}
                <td class="num">{% stat_numb month 'num_osad' %}</td>
            {% endfor %}
            <td class="num">{{ totaux|get_item:'num_osad' }}</td>
        </tr>
        {% endif %}
        <tr class="table-primary">
            <th scope="row">Totaux</th>
            {% for month in months %}
                <td class="num">{% stat_numb month 'num_total' 0 %}</td>
            {% endfor %}
            <td class="num">{{ totaux|get_item:'num_total' }}</td>
        </tr>
        <tr><th scope="row" class="pt-5">&nbsp;</th>{% for month in months %}<td></td>{% endfor %}<td></td></tr>
        <tr id="besoins_temps_passe">
            <th scope="row">Temps consommé</th>
            {% for month in months %}
                <td class="num">
                    {{ results|get_item:month|get_item:'temps'|default_if_none:'-'|format_duree }}
                </td>
            {% endfor %}
            <td class="num">{{ totaux|get_item:'temps'|default_if_none:'-'|format_duree }}</td>
        </tr>
        <tr>
            <th scope="row">Non répondus</th>
            {% for month in months %}
                <td class="num">
                    {% with non_repondus=results|get_item:month|get_item:'non_repondus' %}
                    {% if non_repondus %}<a href="{% url 'besoins:liste-non-repondus' %}?year={{ month.year }}&month={{ month.month }}">{{ non_repondus }}</a>{% else %}-{% endif %}
                    {% endwith %}
                </td>
            {% endfor %}
            <td class="num">{{ totaux|get_item:'non_repondus' }}</td>
        </tr>
        <tr>
            <th scope="row">Nouveaux clients</th>
            {% for month in months %}
                <td class="num">
                    {% with num_nouveaux=results|get_item:month|get_item:'num_nouveaux' %}
                    {% if num_nouveaux %}{{ num_nouveaux }}{% else %}-{% endif %}
                    {% endwith %}
                </td>
            {% endfor %}
            <td class="num">{{ totaux|get_item:'num_nouveaux' }}</td>
        </tr>
    </tbody>
</table>
<div class="text-end">
    <a class="btn-icon" title="Exporter les questionnaires" href="{% url 'besoins:quest-export' months.0.year %}">
        <img class="icon-ui" src="{% static 'ficons/tsv.svg' %}">
    </a>
</div>
{% endblock %}
