textarea { width: 100%; }
#bouton_aide {
  position: absolute;
  transform: rotate(-90deg);
  transform-origin: bottom left;
  top: 12em;
  left: -0.5em;
}
.texte_intro {
  padding: 1em;
  border-radius: 6px;
  background-color: var(--bs-secondary-bg);
}
.texte_intro ul li { padding-top: 0.5em; }
.themes_status, .themes_status > div {
  background-color: var(--bs-secondary-bg);
}
@media (max-width: 1020px) {
  .themes_status { display: none; }
@media (max-width: 600px) {
  .top-container { margin-left: 2em; width: auto; } /* Place pour le bouton "Afficher l'aide" */
}
.offcanvas-open {
  padding-left: 370px;
}
#aidePanel p { margin-bottom: 0.2em; }
label[for='id_non_repondu_0'] { display: none; }
#annee_form #id_year { display: inline; }
#id_duree { display: inline-block; }
.note { font-style: italic; font-size: 95%; }
.reponse_prec { font-style: italic; }
