{% extends "./base.html" %}

{% block title %}Défraiements{% endblock %}

{% block breadcrumb %}
<li class="breadcrumb-item"><a href="{% url 'home' %}">Accueil</a></li>
<li class="breadcrumb-item active" aria-current="page">Défraiements</li>
{% endblock %}

{% block content %}
{% include 'alarme/facturation_tabs.html' with active='frais' %}

<div class="row mt-2">
    <div class="col">
        <form method="get" id="mois_form" class="d-flex immediate_submit unmonitor">
        {{ date_form.year }} {{ date_form.month }}
        </form>
    </div>
    <div class="col d-flex justify-content-end">
        {% if bouton_figer %}
        <form method="post" id="bouton_figer_frais" class="me-2" action="{% url 'defraiements-figer' date_form.cleaned_data.year date_form.cleaned_data.month %}">
            {% csrf_token %}
            <button type="submit" class="btn btn-outline-primary" data-confirm="Voulez-vous vraiment figer les frais pour ce mois ?">
                Figer les frais pour ce mois
            </button>
        </form>
        {% elif mois_passe %}
        <form method="post" action="{% url 'defraiements-export' date_form.cleaned_data.year date_form.cleaned_data.month %}">
            {% csrf_token %}
            <button type="submit" class="btn btn-outline-primary">
                <img class="icon" src="{% static 'ficons/tsv.svg' %}"> Exporter ce mois
            </button>
        </form>
        {% endif %}
        {% if transmission_url and not tout_envoye %}
        <form method="post" class="ms-2" action="{{ transmission_url }}">
            {% csrf_token %}
            <input type="hidden" name="service" value="alarme">
            <button type="submit" class="btn btn-outline-primary">Envoyer les notes de frais à l’ERP</button>
        </form>
        {% endif %}
    </div>
</div>

<table class="table table-hover">
    <thead class="sticky-top">
        <tr><th>Bénévole</th><th class="text-end">Frais</th><th class="text-end">Km</th>
            <th class="text-end">Interv. {% help_tooltip "Nombre d’interventions effectuées chez un client" %}</th>
            {% if totaux.visites_defrayees %}<th class="text-end">Visites défrayées</th>{% endif %}
            <th class="text-end frais_total_col">Montant</th><!--th>Exporté</th-->
        </tr>
    </thead>
    <tbody id="filter_container">
    {% for note in object_list %}
    <tr><td><a href="{% url 'benevole-edit' 'alarme' note.benevole__id %}">{{ note.benevole__nom }} {{ note.benevole__prenom }}</a></td>
        <td class="text-end">{{ note.frais_sum|monetize }}</td>
        <td class="text-end">{{ note.kms|floatformat }}</td>
        <td class="text-end">{{ note.num_visites }}</td>
        {% if totaux.visites_defrayees %}<td class="text-end">{{ note.visites_defrayees }}</td>{% endif %}
        <td class="text-end frais_total_col">{{ note.montant_total|monetize }}</td>
        <td>
            {% if note.note_frais and note.note_frais.date_export %}
            Envoyée le {{ note.note_frais.date_export|date:'d.m.Y'|default:'' }}
            {% else %}{% endif %}
        </td>
    </tr>
    {% endfor %}
    </tbody>
    <tbody class="table-group-divider">
    <tr class="table-light fw-bold">
        <td>Totaux</td>
        <td class="text-end">{{ totaux.frais_sum|monetize }}</td>
        <td class="text-end">{{ totaux.kms|floatformat }}</td>
        <td class="text-end">{{ totaux.num_visites }}</td>
        {% if totaux.visites_defrayees %}<td class="text-end">{{ totaux.visites_defrayees }}</td>{% endif %}
        <td class="text-end frais_total_col">{{ totaux.montant_total|monetize }}</td>
    </tr>
    </tbody>
</table>

{% endblock %}
