{% extends "./base.html" %}

{% block extra_javascript %}
{{ block.super }}
<script src="https://cdn.jsdelivr.net/npm/signature_pad@4.1.5/dist/signature_pad.umd.min.js"></script>
{% endblock %}

{% block title %}{{ view.obj_name }} à signer{% endblock %}

{% block breadcrumb %}
<li class="breadcrumb-item"><a href="{% url 'home' %}">Accueil</a></li>
<li class="breadcrumb-item"><a href="{% url 'client-edit' client.pk %}">{{ client.nom_prenom }}</a></li>
<li class="breadcrumb-item active" aria-current="page">{{ view.obj_name }} à signer</li>
{% endblock breadcrumb %}

{% block content %}
<img src="{% url pdf_url_name client.pk %}?asimg=yes&forsign=yes" class="w-100">

{% block above_form %}{% endblock %}

<form id="signature_form" method="post" class="unmonitor mt-4">{% csrf_token %}
    {% if form.sig_data %}
        {{ form.sig_data }}
        <p>{{ form.lieu.as_field_group }}</p>
        <div>
            <canvas class="signature_canvas" height="300" width="600"  data-input="id_sig_data"></canvas><br>
            <button type="button" class="btn btn-secondary clear">Effacer</button>
        </div>
    {% else %}
        {{ form.sig_data_cl }} {{ form.sig_data_cr }}
        <p>{{ form.lieu.as_field_group }}</p>
        <div>
            <div class="fw-bold">Pour le client :</div>
            <canvas class="signature_canvas" height="300" width="600"  data-input="id_sig_data_cl"></canvas><br>
            <button type="button" class="btn btn-secondary clear">Effacer</button>
        </div>
        <div class="mt-4">
            <div><b>Pour la Croix-Rouge :</b> {{ user.last_name }} {{ user.first_name }}</div>
            <canvas class="signature_canvas" height="300" width="600"  data-input="id_sig_data_cr"></canvas><br>
             <button type="button" class="btn btn-secondary clear">Effacer</button>
        </div>
    {% endif %}

    <div class="text-end" width="300">
        <button id="save" type="button" class="btn btn-primary">Valider</button>
    </div>
</form>
{% endblock content %}
