<form id="standalone-form" class="{{ form_classes }}{% if form.readonly %} readonly{% endif %}"
      method="post" action="{{ request.path }}">
    {% if client or form.instance.client %}
        <div class="nomclient mb-2">Client: <b>{{ client|default:form.instance.client }}</b></div>
    {% endif %}
    {% if not client.no_debiteur %}
        <div class="mb-3 alert alert-danger debiteur-manquant">Le n° débiteur est manquant pour ce client</div>
    {% endif %}

    {% csrf_token %}
    {% for hidden in form.hidden_fields %}{{ hidden }}{% endfor %}
    {{ form.non_field_errors }}
    {% for field in form.visible_fields %}
    <div class="form-group mb-2 {{ field.name }}">
        {{ field.label_tag }} {{ field }} {% if field.name == 'date_facture' %}{% help_tooltip field.help_text %}{% endif %} {{ field.errors }}
    </div>
    {% endfor %}
</form>
