{% extends "./base.html" %}
{% load l10n alarme_utils %}

{% block title %}Factures{% endblock %}

{% block breadcrumb %}
<li class="breadcrumb-item"><a href="{% url 'home' %}">Accueil</a></li>
<li class="breadcrumb-item"><a href="{% url 'facturation' %}">Facturation</a></li>
<li class="breadcrumb-item active" aria-current="page">{{ title }}</li>
{% endblock %}

{% block content %}
    <div class="row align-items-center">
        <div class="col">
            <h2>{{ title }} (<span class="list-count">{{ paginator.count }}</span>)</h2>
        </div>
        {% if trans_url %}
        <div class="col-auto text-end">
            <form method="post" action="{{ trans_url }}" class="inline unmonitor">{% csrf_token %}
                <button class="btn btn-primary long-op"
                        data-confirm="Voulez-vous vraiment envoyer les factures non transmises à l’ERP ?"
                        type="submit">Envoyer factures non transmises à l’ERP</button>
            </form>
        </div>
        {% endif %}
    </div>

    <form class="immediate_submit table-filter unmonitor" method="get" action=".">
    <table class="table facture-list">
        <thead class="sticky-top">
            <tr><th>Date de facture</th><th>Destinataire</th><th>Appartement</th><th>Abonnement</th><th>Envoi compta</th></tr>
            <tr class="filters">
                <td>{{ form.date_facture }}</td><td>{{ form.nom_client }}</td>
                <td></td><td></td><td></td>
            </tr>
        </thead>
        <tbody id="filter_container">
        {% for facture in object_list %}
            <tr data-clientid="{{ facture.client.pk }}">
                <td>
                    {{ facture.date_facture|date:'d.m.Y' }}
                    {% if facture.export_err %}
                        <img src="{% static 'img/warning.svg' %}" class="icon blacksvg" data-bs-toggle="tooltip" title="{{ facture.export_err }}">
                    {% endif %}
                </td>
                <td>{{ facture.appart.gerant.get_full_name }}</td>
                <td>{{ facture.appart }}</td>
                <td>{{ facture.abo }}</td>
                <td>{% if facture.exporte %}{{ facture.exporte|date:'d.m.Y' }}{% else %}-{% endif %}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    </form>

    {% include 'pagination.html' %}

{% endblock %}
