{% extends "./base.html" %}

{% block title %}Accueil{% endblock %}

{% block bodyclass %}page-home{% endblock %}

{% block breadcrumb %}{% endblock %}

{% block content %}
<div class="row row-cols-1 row-cols-md-3 g-4">
  {% if 'besoins' in profiles %}
  <div class="col">
    <a href="{% url 'besoins:home' %}" class="link-light">
    <div class="card h-100 text-white">
      <div class="card-body d-flex flex-column align-items-center justify-content-center">
        <h3 class="card-title">Analyse des besoins</h3>
      </div>
    </div>
    </a>
  </div>
  {% endif %}
  {% if 'atelier' in profiles %}
  <div class="col">
    <a href="{% url 'materiel' %}" class="link-light">
    <div class="card h-100 text-white">
      <div class="card-body d-flex flex-column align-items-center justify-content-center">
        <h3 class="card-title">Atelier</h3>
        <p class="card-text text-center">Gestion du matériel, appareils d’alarme y compris</p>
      </div>
    </div>
    </a>
  </div>
  {% endif %}
  {% if 'app' in profiles %}
  <div class="col">
    <a href="{% url 'home-app' %}" class="link-light">
    <div class="card h-100 text-white">
      <div class="card-body d-flex flex-column align-items-center justify-content-center">
        <h3 class="card-title">Mes interventions</h3>
      </div>
    </div>
    </a>
  </div>
  {% endif %}
</div>
{% endblock %}
