{{ form.non_field_errors }}
<form id="standalone-form" method="post" action="{{ request.path }}?{{ request.GET.urlencode }}">{% csrf_token %}
    {% for hidden in form.hidden_fields %}{{ hidden }}{% endfor %}
    {% if client or form.instance.client %}
        <div class="nomclient mb-2">Client: <b>{{ client|default:form.instance.client }}</b></div>
    {% endif %}
    {% if alarme %}
        <div class="mb-2">Appareil: <b>{{ alarme }}</b></div>
    {% endif %}

    {% for field in form.visible_fields %}
    {% if field.name != 'nouvelle_alarme' and field.name != 'date_changement' %}
    <div class="form-group mb-2">
        {{ field.label_tag }} {{ field }}
        {{ field.errors }}
    </div>
    {% endif %}
    {% endfor %}
</form>
