<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link {% if active == 'edition' %}active{% endif %}" href="{% url 'intervenant' intervenant.pk %}">Édition</a>
  </li>
  <li class="nav-item">
    <a class="nav-link {% if active == 'interv' %}active{% endif %}" href="{% url 'intervenant-interventions' intervenant.pk %}">Interventions</a>
  </li>
  <li class="nav-item">
    <a class="nav-link {% if active == 'stock' %}active{% endif %}" href="{% url 'intervenant-stock' intervenant.pk %}">Stock</a>
  </li>
  <li class="nav-item">
    <a class="nav-link {% if active == 'visites' %}active{% endif %}" href="{% url 'intervenant-visites' intervenant.pk %}">Visites</a>
  </li>
</ul>
