{% extends "base.html" %}
{% load client_utils %}

{% block title %}{{ labels.title }}{% endblock %}

{% block breadcrumb %}
<li class="breadcrumb-item"><a href="{% url 'home' %}">Accueil</a></li>
<li class="breadcrumb-item active" aria-current="page">Intervenant·e·s</li>
{% endblock %}

{% block content %}
    <div class="row align-items-center">
        <div class="col"><h2>Intervenant·e·s alarme</h2></div>
        <div class="col text-end">
            {% if view.is_archive %}
                <a class="btn btn-sm btn-outline-primary" href="{% url 'intervenants' %}">Liste des Intervenant·e·s</a>
            {% else %}
                <a class="btn btn-sm btn-outline-primary" href="{% url 'benevoles-archives' 'alarme' %}">Archives</a>
                <a class="btn btn-sm btn-outline-primary" href="{% url 'benevole-new' 'alarme' %}">Nouveau bénévole</a>
            {% endif %}
        </div>
    </div>

    <form class="immediate_submit table-filter unmonitor" method="get" action=".">
    <table class="table">
        <thead class="sticky-top table-light">
            <tr>
                <th>Nom</th><th>Localité</th><th>Tél.</th><th>Courriel</th><th>Activités</th>
                <th style="width: 20%;">Remarques</th>
            </tr>
            <tr class="filters">
                <td>{{ form.nom }}</td><td>{{ form.npa_localite }}</td><td></td>
                <td></td>
                <td>{{ form.activite }}</td>
                <td></td>
            </tr>
        </thead>
        <tbody id="filter_container">
        {% for interv in object_list %}
            <tr{% if interv.is_benevole and interv.benevole.inactif %} class="inactif"{% endif %}>
                {% if interv.is_benevole %}
                {% with benevole=interv.benevole %}
                <td><a href="{{ benevole.get_absolute_url }}">{{ benevole.nom }} {{ benevole.prenom }}</a>
                </td>
                <td>{{ interv.adresse_active.npa }} {{ interv.adresse_active.localite }}</td>
                <td class="tels">{{ benevole|tels_as_divs }}</td>
                <td>{{ benevole.courriel|as_email }}</td>
                <td>{{ benevole.get_activites_display }}</td>
                <td>{{ benevole.remarques }}</td>
                {% endwith %}
                {% else %}
                <td><a href="{% url 'intervenant' interv.pk %}">{{ interv.last_name }} {{ interv.first_name }}</a>
                </td>
                <td><i>Interne</i></td>
                <td>{{ interv.tel|as_tel }}</td>
                <td>{{ interv.email|as_email }}</td>
                <td>Interventions alarme</td>
                <td></td>
                {% endif %}
            </tr>
        {% endfor %}
        </tbody>
    </table>
    </form>

    {% include 'pagination.html' %}

{% endblock %}
