{% extends "utilisateur_edit.html" %}

{% block breadcrumb %}
<li class="breadcrumb-item"><a href="{% url 'home' %}">Accueil</a></li>
<li class="breadcrumb-item"><a href="{% url 'intervenants' %}">Intervenant·e·s</a></li>
<li class="breadcrumb-item active" aria-current="page">
    {% if intervenant.pk %}{{ intervenant.last_name }} {{ intervenant.first_name }}{% else %}Nouveau{% endif %}
</li>
{% endblock breadcrumb %}

{% block tabs %}
    {% if form.instance.pk %}{% include 'alarme/intervenant_tabs.html' with active='edition' %}{% endif %}
{% endblock %}
