{% extends "./base.html" %}
{% load alarme_utils %}

{% block title %}Stock matériel{% endblock %}

{% block breadcrumb %}
<li class="breadcrumb-item"><a href="{% url 'home' %}">Accueil</a></li>
<li class="breadcrumb-item"><a href="{% url 'intervenants' %}">Intervenant·e·s</a></li>
<li class="breadcrumb-item"><a href="{{ intervenant|user_edit_url }}">{{ intervenant.get_full_name }}</a></li>
<li class="breadcrumb-item active" aria-current="page">Stock</li>
{% endblock %}

{% block content %}
    {% include tabs_template with active='stock' %}

    <h2>Appareils</h2>

    <table class="table">
    <thead class="table-light">
        <tr><th>Modèle</th><th>N° série</th><th>Carte SIM</th><th style="width: 18%">Remarques</th></tr>
    </thead>
    <tbody>
    {% for alarme in appareils %}
        <tr><td><a href="{{ alarme.get_absolute_url }}">{{ alarme.modele }}</a></td>
            <td>{{ alarme.no_serie }}</td>
            <td>{{ alarme.carte_sim }}</td>
            <td>{% if alarme.a_reviser %}<b>À réviser</b><br>{% endif %}
                {{ alarme.remarques }}
                {% if alarme.pk in planned_installs %}<div>Installation planifiée chez {{ planned_installs|get_item:alarme.pk|get_attribute:'client' }}</div>{% endif %}
            </td>
        </tr>
    {% empty %}
        <tr><td colspan="4"><i>Pas d’appareil en stock actuellement.</i></td></tr>
    {% endfor %}
    </tbody>
    </table>

    <h2>Autre matériel</h2>

    <ul>
    {% for item in materiels %}
        <li><a href="{{ item.get_absolute_url }}">{{ item }}</a></li>
    {% empty %}
    <div><i>Pas d’autre matériel en stock actuellement.</i></div>
    {% endfor %}
    </ul>

{% endblock %}
