{% extends "./base.html" %}
{% load alarme_utils client_utils %}

{% block title %}Visites par le bénévole{% endblock %}

{% block breadcrumb %}
<li class="breadcrumb-item"><a href="{% url 'home' %}">Accueil</a></li>
<li class="breadcrumb-item"><a href="{% url 'intervenants' %}">Intervenant·e·s</a></li>
<li class="breadcrumb-item"><a href="{{ intervenant|user_edit_url }}">{{ intervenant.get_full_name }}</a></li>
<li class="breadcrumb-item active" aria-current="page">Visites</li>
{% endblock %}

{% block content %}
    {% include tabs_template with active='visites' %}

    <h2>Clients alarme à visiter ({{ a_visiter|length }})</h2>

    <table class="table client_list">
        <thead class="sticky-top">
            <tr>
                <th>Nom</th><th>Adresse</th><th>Localité</th><th>Téléphone-s</th><th>Date de naissance</th><th>Dernière visite/interv.</th>
            </tr>
        </thead>
        <tbody>
        {% for client in a_visiter %}
            <tr{% if client|visite_a_faire %} class="afaire"{% endif %}>
                {% with adresse=client.adresse %}
                <td><a href="{% url 'client-edit' client.pk %}">{{ client.noms }}</a> {{ client.prenoms }}</td>
                <td>{{ adresse.rue }}</td>
                <td>{{ adresse.npa }} {{ adresse.localite }}</td>
                <td class="tels">{{ client|tels_as_divs }}</td>
                <td>{{ client.date_naissance|date:'d.m.Y' }}</td>
                <td>
                    {{ client.derniere|date:'d.m.Y' }}
                    {% for mission in client.interv_en_cours %}
                        <div><i>Prochaine : {% if mission.planifiee %}planifiée le {{ mission.planifiee|date:'d.m.Y' }}{% else %}délai au {{ mission.delai|date:'d.m.Y' }}{% endif %} ({{ mission.type_mission.nom }})</i></div>
                    {% endfor %}
                </td>
                {% endwith %}
            </tr>
        {% empty %}
            <tr><td colspan="5"><i>Aucun client à visiter n’est actuellement attribué.</i></td></tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
