{% extends "./doc_a_signer.html" %}

{% block above_form %}
<h3>Dispositions finales</h3>
<p>
    Veuillez noter que tous les détails des prestations auxquelles vous recourez
    sont régies par le contrat Alarme Croix-Rouge et les conventions de prestations correspondantes.
</p>

<p>
    Veuillez remplir ce formulaire de manière complète et précise. La {{ cr_canton }}
    et la centrale d’alarme s’engagent à traiter de façon strictement
    confidentielle toutes les données personnelles qui y figurent.
</p>

<p><b>Accord</b><br>
    Je confirme avoir pris connaissance des informations techniques ci-dessus et
    accepte que mes données personnelles soient enregistrées auprès de la
    centrale d’alarme et de la {{ cr_canton }}.
</p>
{% endblock above_form %}
