{% load alarme_utils %}

{% for mission in missions %}
    {% if forloop.first %}
        <table class="table mission">
            <thead>
                <tr class="table-light"><th>Chez</th><th>Description</th><th>Par</th><th>Délai</th><th>Planifiée le</th></tr>
            </thead>
            <tbody>
    {% endif %}
    <tr><td>
            <a href="{% url 'client-edit' mission.client.pk %}">{{ mission.client.nom_prenom }}</a>, {{ mission.adresse_client.npa }} {{ mission.adresse_client.localite }}
        </td>
        <td><b>{{ mission.type_mission }}{% if mission.description %}:{% endif %}</b> {{ mission.description }}</td>
        {% if mission.intervenant %}
        <td>{% if mission.intervenant.is_benevole %}<a href="{% url 'benevole-edit' 'alarme' mission.intervenant.benevole.pk %}">{% endif %}{{ mission.intervenant.nom_prenom }}{% if mission.intervenant.is_benevole %}</a>{% endif %}
        </td>
        {% else %}
        <td><i>À attribuer</i></td>
        {% endif %}
        <td>{{ mission.delai|date_delai }}</td>
        <td>{{ mission.planifiee|date:'d.m.Y'|default:'-' }}</td>
        <td><button type="button" class="btn btn-light btn-icon openmodal" title="Modifier l’intervention"
                    data-modalurl="{% url 'mission-edit' mission.pk %}"
                    {% if perms.alarme.delete_mission %}
                    data-deleteurl="{% url 'mission-delete' mission.pk %}"
                    data-deleteconfirm="Voulez-vous vraiment annuler cette intervention ?"
                    {% endif %}>
                <img src="{% static 'img/edit.svg' %}">
            </button>
        </td>
    </tr>
    {% if forloop.last %}
    </tbody></table>
    {% endif %}
{% empty %}
    <div><i>-</i></div>
{% endfor %}
