<form id="standalone-form" method="post" action="{{ request.path }}">
{% block form %}
    {% csrf_token %}
    {% for hidden in install_form.hidden_fields %}{{ hidden }}{% endfor %}
    <div class="nomclient mb-2">Client: <b>{{ client }}</b></div>
    {{ install_form.non_field_errors }}
    {% for field in install_form.visible_fields %}
    <div class="form-group mb-2">
        {% if field.widget_type == 'checkbox' %}{{ field }} {{ field.label_tag|strip_colon }}
        {% else %}{{ field.label_tag }} {{ field }}{% endif %}
        {{ field.errors }}
    </div>
    {% endfor %}

    {% if mission_form %}
        {% for hidden in mission_form.hidden_fields %}{{ hidden }}{% endfor %}
        {{ mission_form.non_field_errors }}
        <div class="form-group mb-2">
            <input type="checkbox" id="interv_cb" data-visibilitytarget="interv_form">
            <label for="interv_cb">Programmer une intervention</label>
        </div>
        <div id="interv_form" hidden>
            {% for field in mission_form.visible_fields %}
            <div id="interv_form" class="form-group mb-2">
                {{ field.label_tag }} {{ field }}
                {{ field.errors }}
            </div>
            {% endfor %}
        </div>
    {% endif %}
{% endblock %}
</form>
