/* needed because of MESSAGE_TAGS customization in settings */
ul.messagelist li.alert-warning {
    background: var(--message-warning-bg) url(../admin/img/icon-alert.svg) 40px 14px no-repeat;
    background-size: 14px auto;
}
ul.messagelist li.alert-danger {
    background: var(--message-error-bg) url(../admin/img/icon-no.svg) 40px 12px no-repeat;
    background-size: 16px auto;
}
