{% extends "crm/base.html" %}
{% load l10n %}

{% block title %}Statistiques{% endblock %}

{% block content %}
    {% include "stat-form.html" %}

    {% if stats %}
    <table class="table table-sm table-hover stat_table">
        <thead>
            <tr><th></th>{% for month in months %}<th class="text-end">{{ month }}</th>{% endfor %}
            <th class="text-end">Total</th></tr>
        </thead>
        <tbody>
            <tr><td colspan="{{ months|length|add:2 }}" class="app_line">
                <span class="lead">Dons</span>
                </td>
            </tr>
            <tr>
                <td>Nombre de dons</td>
                {% for month in months %}
                    <td class="num">{{ stats|get_item:month|get_item:"nb_dons" }}</td>
                {% endfor %}
                <td class="num">{{ stats.nb_dons_total }}</td>
            </tr>
            <tr>
                <td>Montant des dons</td>
                {% for month in months %}
                    <td class="num">{{ stats|get_item:month|get_item:"sum_dons"|unlocalize }}</td>
                {% endfor %}
                <td class="num">{{ stats.sum_dons_total }}</td>
            </tr>
        </tbody>
    </table>
    <div class="row">
        <div class="col">
            <form method="post" action="{% url 'export-annuel' %}" class="d-inline">{% csrf_token %}
                <button type="submit" class="btn btn-sm btn-outline-primary">Exportation {{ annee_passee }} par donateur</button>
            </form>
        </div>
        <div class="col text-end">
            <a class="btn-icon" title="Exporter la statistique" href=".{% querystring export=1 %}">
                <img class="icon-ui" src="{% static 'ficons/tsv.svg' %}">
            </a>
        </div>
    </div>
    {% endif %}
{% endblock %}
