{% if show_messages %}{% include 'messages_block.html' %}{% endif %}
<div class="list-group address-list">
    {% for adr in adresses %}
        {% with actuelle=adr.actuelle %}
        <a href="{% url 'client-adresse-edit' adr.pk %}"
           class="list-group-item list-group-item-action openmodal {% if actuelle %}active{% endif %}"
           title="Édition de l’adresse"
           data-deleteurl="{% url 'persona-adresse-delete' adr.pk %}"
           data-deleteconfirm="Souhaitez-vous vraiment supprimer cette adresse ?">
           {% if adr.hospitalisation %}Hôpital {% endif %}{{ adr.adresse }}
           {% if actuelle %}
                {% if adr.depose %}- <b>Adresse de dépose</b>{% endif %}
                <small><i>­- {% if actuelle.jusqua %}Du {{ actuelle.depuis|date:'j F Y' }} au {{ actuelle.jusqua|date:'j F Y' }}
                {% else %}Depuis le {{ actuelle.depuis|date:'j F Y' }}{% endif %}</i></small>
           {% endif %}
           {% if adr.remarque %}<br><span class="smallitalic">{{ adr.remarque }}</span>{% endif %}
        </a>
        {% endwith %}
    {% endfor %}
</div>
