<div id="clientAdresseBloc" class="row mb-2"
     data-url="{{ adr_edit_url }}?part=adresseBloc"
     data-fragment="#clientAdresseBloc">
    <div class="col p-2 d-flex">
        <div class="me-3"><label>Adresse :</label></div>
        <div class="me-3">
            {% include "client/check_geoloc_adresse.html" with adresse=adresse %}
            {% if adresse.c_o %}{{ adresse.c_o }}<br>{% endif %}
            {% if adresse.rue %}{{ adresse.rue }}<br>{% endif %}
            {{ adresse.npa }} {{ adresse.localite }}
        </div>
        <div class="me-3 mt-auto">
            {% with map_link=adresse.map_link %}
            {% if map_link %}
                <div class="col-auto align-self-end"><a href="{{ map_link }}" target="blank">Carte</a></div>
            {% endif %}
            {% endwith %}
        </div>
        <div class="mt-auto">
            {% if adresse.pk %}
            <button type="button" class="btn btn-light btn-icon openmodal" title="Modifier l’adresse"
                    data-bs-toggle="tooltip" data-modalurl="{% url 'persona-adresse-princ-edit' adresse.pk %}">
                <img class="icon" src="{% static 'img/edit.svg' %}">
            </button>
            {% endif %}
        </div>
    </div>
    {% if adresse_future %}
    <div class="col d-flex bg-warning bg-gradient p-2 rounded-2">
        <div class="me-3">
            <label class="fw-bold">Dès le {{ adresse_future.principale.lower|date:'d.m.Y' }} :</label>
        </div>
        <div class="col-auto bg-warning bg-gradient p-1 me-3 ">
            {% include "client/check_geoloc_adresse.html" with adresse=adresse_future %}
            {% if adresse_future.c_o %}{{ adresse_future.c_o }}<br>{% endif %}
            {% if adresse_future.rue %}{{ adresse_future.rue }}<br>{% endif %}
            {{ adresse_future.npa }} {{ adresse_future.localite }}
        </div>
        <div class="me-3 mt-auto">
            {% with map_link=adresse_future.map_link %}
            {% if map_link %}
                <div class="col-auto align-self-end"><a href="{{ map_link }}" target="blank">Carte</a></div>
            {% endif %}
            {% endwith %}
        </div>
        <div class="mt-auto">
            <button type="button" class="btn btn-light btn-icon openmodal" title="Modifier l’adresse"
                    data-bs-toggle="tooltip" data-modalurl="{% url 'persona-adresse-princ-edit' adresse_future.pk %}"
                    data-deleteurl="{% url 'persona-adresse-delete' adresse_future.pk %}"
                    data-deleteconfirm="Voulez-vous vraiment supprimer cette adresse ?">
                <img class="icon" src="{% static 'img/edit.svg' %}">
            </button>
        </div>
    </div>
    {% endif %}
</div>
