<div class="nomclient mb-2">
    Client: <b>{{ form.instance.client }}</b>
</div>
<div class="nomclient mb-2">
    Alerte: <b>{{ form.instance.alerte }}</b>
</div>

<form id="standalone-form" class="{{ form_classes }}" method="post" action="{{ request.path }}">
    {% csrf_token %}
    <div class="form-group mb-2">
        {{ form.traite_le }} {{ form.traite_le.label_tag|strip_colon }}{{ form.traite_le.errors }}
    </div>
    <div class="form-group mb-2">
        {{ form.remarque.label_tag }} {{ form.remarque }} {{ form.remarque.errors }}
    </div>
</form>
