<div class="d-flex justify-content-between block-header">
    <h3>Médecins/Soignant-e-s</h3>
    {% if not form.readonly %}
    <button type="button" id="new_prof_button" class="btn btn-secondary openmodal" title="Nouveau professionnel de santé"
            data-modalurl="{% url 'client-professionnel-add' client.pk %}">+</button>
    {% endif %}
</div>
<div id="client-professionnels" class="list-group">
{% for prof in professionnels %}
    <a href="{% url 'client-professionnel-edit' client.pk prof.pk %}"
       class="list-group-item list-group-item-action openmodal"
       title="Édition du professionnel">
        {{ prof.professionnel.nom }}, {{ prof.professionnel.npa }} {{ prof.professionnel.localite }},
        {{ prof.professionnel.tel_1 }}
        {% if prof.remarque %}
        <br><span class="referent-fonction">{{ prof.remarque }}</span>
        {% endif %}
   </a>
{% endfor %}
</div>
