{% if adresse and not adresse.empl_geo %}
    <div class="alert alert-danger p-1 mb-1 geoloc-warning">
        <img class="icon blacksvg align-top" src="{% static 'img/warning.svg' %}"> Cette adresse n’a pas pu être géolocalisée
        {% if not form.readonly %}
        <button class="btn btn-secondary btn-sm ms-4 geoloc-retry" type="button" formaction="{% url 'adresse-check-geoloc' adresse.pk %}">Réessayer</button>
        {% endif %}
    </div>
{% endif %}
