<form id="standalone-form" class="{{ form_classes }}" method="post" action="{{ request.path }}">
    {% csrf_token %}
    {% if not install_en_cours %}
        {% if form.instance.samaritains %}
        <div class="mb-2">
            Confirmez-vous la suppression du service des Samaritains ?</i>
        </div>
        {% else %}
        <div class="mb-2">
            Confirmez-vous l’ajout du service des Samaritains ?<br>
            <i>(la date de début du service sera définie à la même date que l'installation)</i>
        </div>
        {% endif %}
    {% endif %}
    {% for hidden in form.hidden_fields %}{{ hidden }}{% endfor %}
    {{ form.non_field_errors }}
    {% for field in form.visible_fields %}
    <div class="form-group mb-2"{% if not install_en_cours %} hidden{% endif %}>
        {{ field.as_field_group }}
    </div>
    {% endfor %}
</form>
