{% load client_utils %}
{% if tabs|length > 1 %}
<ul class="nav nav-tabs">
    {% for tab in tabs %}
    <li class="nav-item">
        <a class="nav-link {% if active == tab.id %}active{% endif %}" href="{{ tab.url }}">{{ tab.title }}
        {% if tab.quest_a_faire %}<img src="{% static 'img/warning.svg' %}" class="icon blacksvg" data-bs-toggle="tooltip" title="Le questionnaire des besoins devrait être fait pour cette personne.">{% endif %}
        </a>
    </li>
    {% endfor %}
</ul>
{% endif %}

{% with client_archive=client|archived_for:current_app %}
{% if client_archive %}
    <div class="alert alert-danger d-flex justify-content-between align-items-center">
        <span>Cette personne se trouve dans les archives</span>
        {% if perms.client.change_client %}
            <form method="post" action="{% url 'client-archive' client.pk %}">{% csrf_token %}
                <button type="submit" class="btn btn-danger">Réactiver</button>
            </form>
        {% endif %}
    </div>
{% endif %}
{% if client and not dans_service_actuel and not client_archive %}
    <div class="alert alert-danger mt-2 p-2 d-flex justify-content-between">
        <p class="mb-0 align-self-center">
            Cette personne n’est pas identifiée comme cliente «{{ current_app }}».
        </p>
        <form class="d-inline" action="{% url 'client-add-service' client.pk %}" method="post">{% csrf_token %}
            <button class="btn btn-primary">Définir cette personne comme cliente «{{ current_app }}»</button>
        </form>
    </div>
{% endif %}
{% endwith %}
