{% extends "base.html" %}
{% load client_utils %}

{% block title %}{{ client }} - Journal{% endblock %}

{% block breadcrumb %}
<li class="breadcrumb-item"><a href="{% url 'home' %}">Accueil</a></li>
{% block bc_objlist %}<li class="breadcrumb-item"><a href="{% url 'clients' %}">Clients</a></li>{% endblock %}
<li class="breadcrumb-item active" aria-current="page">{{ client|default:"Nouveau client" }}</li>
{% endblock %}

{% block content %}
    <h2>{% block client_title %}{{ client }} {% services_as_icons client current_app 'p-2' %}{% endblock %}</h2>
    <div class="row mt-2 mb-2">
      <div class="col-12 col-md-9">
        {% block page_tabs %}{% include 'client/client_tabs.html' with active='journal' %}{% endblock %}
      </div>
      {% if client|can_edit:user or perms.client.add_journal %}
      <div class="col-12 col-md-3 text-end">
          <button type="button" class="btn btn-primary openmodal" title="Ajouter une nouvelle note"
                  data-modalurl="{% url 'client-journal-add' client.pk %}">Nouvelle note</button
      </div>
      {% endif %}
    </div>

    <form class="immediate_submit table-filter unmonitor" method="get">
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col" class="quand">Quand</th>
          <th scope="col" class="qui">Qui</th>
          <th scope="col">Description</th><th></th>
        </tr>
        <tr class="filters">
          <td></td><td>{{ form.qui }}</td><td>{{ form.description }}</td><td></td>
        </tr>
      </thead>
      <tbody id="filter_container">
        {% for entry in object_list %}
        <tr>
          <td>{{ entry.quand|date:'d.m.Y H:i' }}</th>
          <td>{{ entry.qui.get_full_name }}</td>
          <td>
            {% if entry.fichier %}<a href="{% url 'media' entry.fichier %}">{% endif %}
            {{ entry.description|safe }}
            {% if entry.fichier %}</a>{% endif %}
            {% if entry.details %}
                <i><a href="{% url 'client-journal-details' client.pk entry.pk %}" class="openmodal" title="Afficher les détails">Détails</a></i>
            {% endif %}
          </td>
          <td>{% if entry|can_edit:request.user %}
              <button type="button" class="btn btn-light btn-icon openmodal" title="Modifier la note"
                    data-modalurl="{% url 'client-journal-edit' client.pk entry.pk %}"
                    data-deleteurl="{% url 'client-journal-delete' client.pk entry.pk %}"
                    data-deleteconfirm="Voulez-vous vraiment supprimer cette note ?">
                    <img src="{% static 'img/edit.svg' %}">
              </button>
              {% endif %}
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    </form>

    {% include 'pagination.html' %}
{% endblock %}
