{% extends base_template %}
{% load client_utils %}

{% block title %}Liste des {{ libelles.1 }}{% endblock %}

{% block breadcrumb %}
{{ block.super }}
<li class="breadcrumb-item active" aria-current="page">{{ libelles.1|title }}</li>
{% endblock %}

{% block content %}
    <div class="row align-items-center">
        <div class="col-8">
            <h2>{{ title }}{% if count %} <span class="badge text-bg-secondary fs-6">{{ count }}</span>{% endif %}{% if view.is_archive %} <b>(archives)</b>{% endif %}</h2>
        </div>
        <div class="col text-end">
            {% block right_of_title %}
            {% if view.is_archive %}
                <a class="btn btn-sm btn-outline-primary" href="{% url 'clients' %}">Liste des {{ libelles.1 }}</a>
            {% else %}
                <a class="btn btn-sm btn-outline-primary" href="{% url 'clients-archives' %}">Archives</a>
            {% endif %}
            <a class="btn btn-sm btn-outline-primary" href="{% url 'client-new' %}">Nouveau {{ libelles.0 }}</a>
            {% endblock %}
        </div>
    </div>

    {% block above_table %}{% endblock %}

    <form class="immediate_submit table-filter unmonitor" method="get">
    {% if not view.is_archive and form.listes %}
        <div class="w-100 text-end">{{ form.listes }}</div>
    {% endif %}
    <table class="table table-striped client_list">
        <thead class="sticky-top">
            <tr>
                <th>Nom</th><th>Adresse</th><th>Localité</th><th>Téléphone-s</th><th>Date de naissance</th>
                {% block add_headers %}{% endblock %}
            </tr>
            {% if form %}
            <tr class="filters">
                <td>{{ form.nom_prenom }}</td><td>{{ form.rue }}</td><td>{{ form.npa_localite }}</td>
                <td>{{ form.tel }}</td><td></td>
                {% block add_filters %}{% endblock %}
            </tr>
            {% endif %}
        </thead>
        <tbody id="filter_container">
        {% for client in object_list %}
            <tr>
                <td>
                    {% block nom_client %}
                    {% if client_url_name %}<a href="{% url client_url_name client.pk %}">{% endif %}{{ client.nom }}{% if client_url_name %}</a>{% endif %}
                    {{ client.prenom }}
                    {% endblock %}
                </td>
                <td>{{ client.adresse_active.rue }}
                    {% if not client.adresse_active.empl_geo %}
                    <img class="icon blacksvg geoloc-warning align-top" src="{% static 'img/warning.svg' %}"
                         title="Cette personne n’a pas pu être géolocalisée" data-bs-toggle="tooltip">
                    {% endif %}
                </td>
                <td>{{ client.adresse_active.npa }} {{ client.adresse_active.localite }}</td>
                <td class="tels">{{ client|tels_as_divs }}</td>
                <td>{{ client.date_naissance|date:'d.m.Y' }}</td>
                {% block add_columns %}{% endblock %}
            </tr>
        {% endfor %}
        </tbody>
    </table>
    </form>

    {% include 'pagination.html' %}

{% endblock %}
