{% extends "base.html" %}
{% load client_utils %}

{% block title %}Création de client{% endblock %}

{% block breadcrumb %}
<li class="breadcrumb-item"><a href="{% url 'home' %}">Accueil</a></li>
<li class="breadcrumb-item"><a href="{% url 'clients' %}">Clients</a></li>
<li class="breadcrumb-item active" aria-current="page">Nouveau client</li>
{% endblock %}

{% block content %}
    <form method="post" action="{{ request.path }}">
        <p class="fs-3">Souhaitez-vous créer un nouveau client «{{ app }}» à partir des données personnelles suivantes ?</p>
        {% csrf_token %}
        <div class="border border-2 rounded p-2">
            <div>{{ persona.nom_prenom }}</div>
            <div>{{ persona.adresse }}</div>
            {% if persona.date_naissance %}<div>Né-e le {{ persona.date_naissance|date:'%d.m.Y' }}</div>{% endif %}
            {{ persona|tels_as_divs }}
            {% if persona.courriel %}<div>{{ persona.courriel }}</div>{% endif %}
        </div>
        <div class="text-end mt-3">
            <button type="cancel" class="btn btn-secondary goback">Non</button>
            <button type="submit" class="btn btn-primary ms-4">Oui, créer ce client</button>
        </div>
    </form>
{% endblock %}
