<form id="standalone-form" class="ReferentForm {% if form.readonly %}readonly{% endif %}" method="post" action="{{ request.path }}" autocomplete="off">
    {% csrf_token %}
    {% for hidden in form.hidden_fields %}{{ hidden }}{% endfor %}
    {% if client or form.instance.client %}
        <div class="nomclient mb-2">Client: <b>{{ client|default:form.instance.client }}</b></div>
    {% endif %}

    {% if form.contact_existant %}
    <div class="col form-group">
        {{ form.contact_existant.label_tag }} {{ form.contact_existant }} {{ form.contact_existant.errors }}
        <hr>
    </div>
    {% endif %}

    {{ form.non_field_errors }}

    <div class="row mb-2">
        <div class="col form-group">
            {{ form.nom.label_tag }} {{ form.nom }} {{ form.nom.errors }}
        </div>
        <div class="col form-group">
            {{ form.prenom.label_tag }} {{ form.prenom }} {{ form.prenom.errors }}
        </div>
    </div>

    <div class="row mb-2">
        <div class="col form-group">
            {{ form.salutation.label_tag }} {{ form.salutation }} {{ form.salutation.errors }}
        </div>
        <div class="col form-group">
            {{ form.complement.label_tag }} {% help_tooltip "S’il s’agit du nom d’une personne de contact concernant une adresse de facturation, la saisir plutôt sous Personne de contact ci-dessous" %}
            {{ form.complement }} {{ form.complement.errors }}
        </div>
    </div>

    <div class="row mb-2">
        <div class="col form-group">
            {{ form.rue.label_tag }} {{ form.rue }} {{ form.rue.errors }}
        </div>
        <div class="col form-group">
            {{ form.case_postale.label_tag }} {% help_tooltip form.case_postale.help_text %}
            {{ form.case_postale }} {{ form.case_postale.errors }}
        </div>
    </div>

    <div class="row mb-2">
        <div class="col form-group">
            {{ form.npalocalite.label_tag }} {{ form.npalocalite }} {{ form.npalocalite.errors }}
        </div>
        <div class="col form-group">
            {{ form.pays.label_tag }} {{ form.pays }} {{ form.pays.errors }}
        </div>
    </div>
    <div class="row mb-2">
        <div class="col form-group">
            {{ form.courriel.label_tag }} {{ form.courriel }} {{ form.courriel.errors }}
        </div>
        {% if form.id_externe %}
        <div class="col-6 form-group no_debiteur">
            {{ form.id_externe.label_tag }} {{ form.id_externe }} {{ form.id_externe.errors }}
        </div>
        {% endif %}
    </div>
    <div class="form-group mb-2">
        {{ form.relation.label_tag }} {{ form.relation }} {{ form.relation.errors }}
    </div>

    <div class="row mb-2">
        <div class="col-md-7 form-group">
            <div>{{ form.est_repondant }} {{ form.est_repondant.label_tag|strip_colon }} {{ form.est_repondant.errors }}</div>
            <div>{{ form.est_referent }} {{ form.est_referent.label_tag|strip_colon }} {{ form.est_referent.errors }}</div>
            <div>{{ form.admin }} {{ form.admin.label_tag|strip_colon }} {{ form.admin.errors }}</div>
            {% if form.contractant %}
            <div>
                {{ form.contractant }} {{ form.contractant.label_tag|strip_colon }} {{ form.contractant.errors }}
                {% help_tooltip "À cocher si le contrat alarme est au nom de cette personne." %}
            </div>
            {% endif %}
            {% if form.contact_visites %}
            <div>
                {{ form.contact_visites }} {{ form.contact_visites.label_tag|strip_colon }}
                {{ form.contact_visites.errors }}
            </div>
            {% endif %}
            {% if form.contact_transport %}
            <div>
                {{ form.contact_transport }} {{ form.contact_transport.label_tag|strip_colon }}
                {{ form.contact_transport.errors }}
                {% help_tooltip "Aussi visible par les chauffeurs dans leur application." %}
            </div>
            {% endif %}
        </div>
        <div id="bloc_facturation" class="col-md-5 form-group">
            <div>{{ form.facturation_pour.label_tag }} {{ form.facturation_pour }} {{ form.facturation_pour.errors }}</div>
            {% if form.no_sinistre %}
            <div>
                {{ form.no_sinistre.as_field_group }}
            </div>
            {% endif %}
            <div>
                {{ form.pers_contact.as_field_group }}
            </div>
        </div>
    </div

    {% if form.courrier_envoye %}
    <div class="row mb-2">
        <div class="col form-group">
            {{ form.courrier_envoye }} {{ form.courrier_envoye.label_tag|strip_colon }} {{ form.courrier_envoye.errors }}
            {% if form.instance.pk and not form.instance.courrier_envoye %}
                {% for key, courrier in courriers_referents.items %}
                <a id="link_{{ key }}" class="ms-3 link_courrier"
                   href="{% url 'client-referent-courrier' form.instance.client.pk form.instance.pk key %}"
                   target="_blank" title="{{ courrier.title }} (PDF)" data-bs-toggle="tooltip" data-input="{{ courrier.input }}">
                    <img class="icon" src="{% static 'ficons/pdf.svg' %}">
                </a>
                {% endfor %}
            {% endif %}
        </div>
    </div>
    {% endif %}

    <div class="form-group mb-2">
        {{ form.remarques.label_tag }} {{ form.remarques }} {{ form.remarques.errors }}
    </div>

    <div class="card">
        <div class="card-header fw-bold">
            Téléphones
        </div>
        <div class="card-body">
            {% include "client/phone_formset.html" %}
        </div>
    </div>
</form>
