{% with formset=form.formset %}
    {{ formset.management_form }}
    <div class="row reset">
        <div class="col-1"></div>
        <div class="col-4">N° de téléphone</div>
        <div class="col-6">Remarque</div>
        <div class="col-1"></div>
    </div>
    <div class="div-sortable">
    {% for subform in formset %}
    <div class="row fset-line">
        <div class="col-1 pt-1 priorite parent-draggable"></div>
        <div class="col-4 pt-1">{{ subform.tel.errors }}{{ subform.tel }}</div>
        <div class="col-6 pt-1">
            {{ subform.remarque.errors }}{{ subform.remarque }}
            {% for hidden in subform.hidden_fields %}{{ hidden }}{% endfor %}
        </div>
        <div class="col-1 pt-1">
            <span class="delete-formset-link"><img src="{% static 'admin/img/icon-deletelink.svg' %}"></span>
        </div>
    </div>
    {% endfor %}
    </div>
    <div class="row empty_form" hidden>
        <div class="col-1 pt-1 priorite parent-draggable"></div>
        <div class="col-4 pt-1">{{ formset.empty_form.tel.errors }}{{ formset.empty_form.tel }}</div>
        <div class="col-6 pt-1">
            {{ formset.empty_form.remarque.errors }}{{ formset.empty_form.remarque }}
            {% for hidden in formset.empty_form.hidden_fields %}{{ hidden }}{% endfor %}
        </div>
        <div class="col-1 pt-1"></div>
    </div>
{% endwith %}
<button type="button" class="btn btn-icon btn-outline-primary mb-2 add_more">+</button>
