{% extends "alarme/client.html" %}

{% block custom_fields %}
{{ block.super }}
<div class="row mb-2 align-items-end">
  <div class="col-6">
    <div class="form-group prest_compl">
        {{ form.canton_form.fasd.as_field_group }}
    </div>
    <div class="form-group prest_compl">
        {{ form.canton_form.adapart.as_field_group }}
    </div>
    <div class="form-group prest_compl">
        {{ form.canton_form.megapart.as_field_group }}
    </div>
  </div>
</div>
{% endblock custom_fields %}
