{% extends 'base.html' %}

{% block extrastyle %}
    <link rel="stylesheet" href="{% static 'css/crm.css' %}">
{% endblock %}
{% block extra_javascript %}
    <script src="{% static 'js/crm.js' %}" defer></script>
{% endblock %}

{% block app_logo %}<span class="fs-1 fw-bold mt-3 me-4">CRM</span>{% endblock %}
