{% extends "./base.html" %}

{% block title %}{{ campagne }}{% endblock %}

{% block breadcrumb %}
<li class="breadcrumb-item"><a href="{% url 'home' %}">Accueil</a></li>
<li class="breadcrumb-item"><a href="{% url 'campagnes' %}">Campagnes</a></li>
<li class="breadcrumb-item active" aria-current="page">{% if campagne %}{{ campagne }}{% else %}Nouvelle campagne{% endif %}</li>
{% endblock %}

{% block content %}
    {% if form.errors %}
    <div class="alert alert-danger alert-dismissible">
        Le formulaire contient des erreurs, veuillez les corriger avant d'enregistrer à nouveau.
    </div>
    {% endif %}

    <div class="row align-items-center">
        <h2 class="col">
            {% if campagne %}{{ campagne }}{% else %}Nouvelle campagne{% endif %}
        </h2>
    </div>

    <p>{{ form.non_field_errors }}</p>

    <form method="post" action="{{ request.path }}" autocomplete="off" class="noenter debounce">{% csrf_token %}
        <div class="form-group">
            {{ form.nom.label_tag }} {{ form.nom.errors }} {{ form.nom }}
        </div>
        <div class="form-group">
            {{ form.lancement.label_tag }} {{ form.lancement.errors }} {{ form.lancement }}
        </div>
        <div class="form-group">
            {{ form.info_qr.label_tag }} {{ form.info_qr.errors }} {{ form.info_qr }}
        </div>

        {% if not form.readonly %}
        <div class="buttons d-flex justify-content-between mt-3">
            <button type="submit" class="btn btn-primary order-3">Enregistrer</button>
            {% if can_be_archived %}
            <button type="submit" class="btn btn-danger order-1" data-confirm="Voulez-vous vraiment archiver cette campagne ?"
                    formaction="{ url 'campagne-archive' campagne.pk }">Archiver</button>
            {% else %}<div class="order-2">{#force push save to right #}</div>
            {% endif %}
        </div>
        {% endif %}
    </form>
{% endblock %}
