{% extends "./base.html" %}
{% load l10n %}

{% block title %}Liste des campagnes{% endblock %}

{% block breadcrumb %}
{{ block.super }}
<li class="breadcrumb-item active" aria-current="page">Campagnes</li>
{% endblock %}

{% block content %}
    <div class="row align-items-center">
        <div class="col-6">
            <h2>Campagnes</h2>
        </div>
        <div class="col text-end">
            <a class="btn btn-sm btn-outline-primary" href="{% url 'campagne-new' %}">Nouvelle campagne</a>
        </div>
    </div>

    <table class="table table-striped client_list">
        <thead class="sticky-top">
            <tr>
                <th>Nom</th><th>Lancement</th><th class="text-end">Dons</th>
            </tr>
        </thead>
        <tbody>
        {% for campagne in object_list %}
            <tr>
                <td>
                    <a href="{% url 'campagne-edit' campagne.pk %}">{{ campagne.nom }}</a>
                </td>
                <td>{{ campagne.lancement|date:'d.m.Y' }}</td>
                <td class="text-end">{{ campagne.somme_dons|default_if_none:"-"|unlocalize }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    </form>

{% endblock %}
