{% extends "client/client_journal.html" %}

{% block bc_objlist %}<li class="breadcrumb-item"><a href="{% url 'donateurs' %}">Donateurs</a></li>{% endblock %}
{% block client_title %}{{ client }}{% endblock %}</h2>
{% block page_tabs %}{% include 'crm/donateur_tabs.html' with active='journal' donateur=client %}{% endblock %}
