{% extends "base.html" %}
{% load l10n %}

{% block title %}{{ donateur }} - Dons{% endblock %}

{% block breadcrumb %}
<li class="breadcrumb-item"><a href="{% url 'home' %}">Accueil</a></li>
<li class="breadcrumb-item"><a href="{% url 'donateurs' %}">Donateurs</a></li>
<li class="breadcrumb-item active" aria-current="page">{{ donateur }}</li>
{% endblock breadcrumb %}

{% block content %}
    <div class="row align-items-center">
        <div class="col"><h2>{{ donateur }}</h2></div>
        <div class="col text-end">
            <a class="btn btn-sm btn-outline-primary openmodal" href="{% url 'don-new' donateur.pk %}">Nouveau don</a>
        </div>
    </div>
    <div class="row mt-2 mb-2">
      <div class="col-12 col-md-9">
        {% include 'crm/donateur_tabs.html' with active='dons' %}
      </div>
    </div>

    <table class="table table-striped">
        <thead class="sticky-top">
            <tr><th>Date</th><th>Campagne</th><th>Motif</th><th>Montant</th></tr>
        </thead>
        <tbody>
        {% for don in object_list %}
            <tr class="hidden-btns">
                <td>{{ don.date_don|date:'d.m.Y' }}</td>
                <td>{{ don.campagne }}</td>
                <td>{{ don.info_don }}</td>
                <td>{{ don.montant|unlocalize }}</td>
                <td class="text-end">
                {% if perms.crm.change_don %}
                    <button type="button" class="btn btn-light btn-icon openmodal" title="Modifier le don"
                            data-bs-toggle="tooltip" data-modalurl="{% url 'don-edit' don.pk %}">
                        <img class="icon" src="{% static 'img/edit.svg' %}">
                    </button>
                {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock content %}
