{# normal_submit because the submit button value must be transmitted #}
<form id="standalone-form" class="no-button-bar normal_submit" method="post" action="{{ request.path }}">{% csrf_token %}
    <p>Souhaitez-vous vraiment archiver ou supprimer ce donateur ?</p>
    <p class="text-end">{{ form.motif_archive.as_field_group }}</p>
    <div class="d-flex justify-content-between">
        <button type="submit" class="btn btn-danger" name="btn_action" value="supprimer">⚠ Supprimer totalement ⚠</button>
        <div>
        <button type="button" id="modal-cancel" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
        <button type="submit" id="modal-save" class="btn btn-primary" name="btn_action" value="archiver">Archiver</button>
        </div>
    </div>
</form>
