{% extends "base.html" %}
{% load client_utils %}

{% block title %}Création de donateur{% endblock %}

{% block breadcrumb %}
<li class="breadcrumb-item"><a href="{% url 'home' %}">Accueil</a></li>
<li class="breadcrumb-item"><a href="{% url 'donateurs' %}">Donateurs</a></li>
<li class="breadcrumb-item active" aria-current="page">Nouveau donateur</li>
{% endblock %}

{% block content %}
    <form method="post" action="{{ request.path }}">
        <p class="fs-3">Souhaitez-vous créer un nouveau donateur à partir des données personnelles suivantes ?</p>
        {% csrf_token %}
        <div class="border border-2 rounded p-2">
            {{ persona.nom_prenom }}<br>
            {{ persona.adresse }}
            {% if persona.date_naissance %}<br>Né-e le {{ persona.date_naissance|date:'%d.m.Y' }}{% endif %}
            {{ persona|tels_as_divs }}
            {% if persona.courriel %}<br>{{ persona.courriel }}{% endif %}
        </div>
        <div class="text-end mt-3">
            <button type="cancel" class="btn btn-secondary goback">Non</button>
            <button type="submit" class="btn btn-primary ms-4">Oui, créer ce donateur</button>
        </div>
    </form>
{% endblock %}
