<ul class="nav nav-tabs">
    <li class="nav-item">
        <a class="nav-link {% if active == 'general' %}active{% endif %}" href="{% url 'donateur-edit' donateur.pk %}">Général</a>
    </li>
    <li class="nav-item">
        <a class="nav-link {% if active == 'dons' %}active{% endif %}" href="{% url 'donateur-dons' donateur.pk %}">Dons</a>
    </li>
    <li class="nav-item">
        <a class="nav-link {% if active == 'journal' %}active{% endif %}" href="{% url 'donateur-journal' donateur.pk %}">Journal</a>
    </li>
</ul>

{% if donateur.archive_le %}
    <div class="alert alert-danger d-flex justify-content-between align-items-center">
        <span>Cette personne se trouve dans les archives ({{ donateur.get_motif_archive_display }})</span>
        {% if perms.crm.change_donateur %}
            <form method="post" action="{% url 'donateur-archive' donateur.pk %}">{% csrf_token %}
                <button type="submit" class="btn btn-danger">Réactiver</button>
            </form>
        {% endif %}
    </div>
{% endif %}
