{% extends "./base.html" %}
{% load client_utils %}

{% block title %}{{ donateur }}{% endblock %}

{% block breadcrumb %}
<li class="breadcrumb-item"><a href="{% url 'home' %}">Accueil</a></li>
<li class="breadcrumb-item"><a href="{% url 'donateurs' %}">Donateurs</a></li>
<li class="breadcrumb-item active" aria-current="page">{% if donateur %}{{ donateur }}{% else %}Nouveau {{ libelles.0 }}{% endif %}</li>
{% endblock %}

{% block content %}
    {% if form.errors %}
    <div class="alert alert-danger alert-dismissible">
        Le formulaire contient des erreurs, veuillez les corriger avant d'enregistrer à nouveau.
    </div>
    {% endif %}

    <div class="row align-items-center">
        <div class="col"><h2>
            {% if donateur %}
                {{ donateur }} {% if donateur.services %}{% services_as_icons donateur '' 'p-2' %}{% endif %}
            {% else %}Nouveau Donateur{% endif %}
        </h2></div>
        {% if donateur %}
        <div class="col text-end">
            <a class="btn btn-sm btn-outline-primary openmodal" href="{% url 'don-new' donateur.pk %}">Nouveau don</a>
        </div>
        {% endif %}
    </div>

    {% if donateur.pk %}
        {% include 'crm/donateur_tabs.html' with active='general' readonly=form.readonly %}
    {% endif %}

    {% if donateur.date_deces %}
        <div class="alert alert-danger mt-2 p-2 d-flex justify-content-between">
            <p class="mb-0 align-self-center">
                Personne décédée le {{ donateur.date_deces|date:'d.m.Y' }}.
                {% if 'alarme' in services and not can_be_archived %}
                    Son dossier sera automatiquement archivé un mois après le retour de son matériel d’alarme.
                {% endif %}
            </p>
        </div>
    {% endif %}

    <p>{{ form.non_field_errors }}</p>

    <form method="post" action="{{ request.path }}" autocomplete="off" class="noenter debounce">{% csrf_token %}
        <div class="row mb-2">
          <div class="col-md-3">
            <div class="form-group">
                {{ form.nom.label_tag }} {{ form.nom.errors }} {{ form.nom }}
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group">
                {{ form.prenom.label_tag }} {{ form.prenom.errors }} {{ form.prenom }}
            </div>
          </div>
          <div class="col-md-3 mt-auto">
            <div class="form-group">
                {{ form.genre.errors }} {{ form.genre }}
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group">
                {{ form.politesse.errors }} {{ form.politesse.label_tag }}
                {{ form.politesse }}
            </div>
          </div>
        </div>

        {% if not donateur.pk %}
        <div id="doublons" data-url="{% url 'persona-autocomplete' %}" hidden>
            <div>Doublons possibles :</div>
            <ul id="doublons_content"></ul>
        </div>
        {% endif %}

        {% if donateur.pk %}
        <div id="clientAdresseBloc" class="row mb-2"
             data-url="{% url 'donateur-edit' donateur.pk %}?part=adresseBloc"
             data-fragment="#clientAdresseBloc">
            <div class="col p-2 d-flex">
                <div class="me-3"><label>Adresse :</label></div>
                <div class="me-3">
                    {% if adresse.c_o %}{{ adresse.c_o }}<br>{% endif %}
                    {% if adresse.rue %}{{ adresse.rue }}<br>{% endif %}
                    {{ adresse.npa }} {{ adresse.localite }}
                </div>
                <div class="me-3 mt-auto">
                    {% with map_link=adresse.map_link %}
                    {% if map_link %}
                        <div class="col-auto align-self-end"><a href="{{ map_link }}" target="blank">Carte</a></div>
                    {% endif %}
                    {% endwith %}
                </div>
                <div class="mt-auto">
                    {% if adresse.pk %}
                    <button type="button" class="btn btn-light btn-icon openmodal" title="Modifier l’adresse"
                            data-bs-toggle="tooltip" data-modalurl="{% url 'persona-adresse-princ-edit' adresse.pk %}">
                        <img class="icon" src="{% static 'img/edit.svg' %}">
                    </button>
                    {% endif %}
                </div>
            </div>
            {% if adresse_future %}
            <div class="col d-flex bg-warning bg-gradient p-2 rounded-2">
                <div class="me-3">
                    <label class="fw-bold">Dès le {{ adresse_future.principale.lower|date:'d.m.Y' }} :</label>
                </div>
                <div class="col-auto bg-warning bg-gradient p-1 me-3 ">
                    {% include "client/check_geoloc_adresse.html" with adresse=adresse_future %}
                    {% if adresse_future.c_o %}{{ adresse_future.c_o }}<br>{% endif %}
                    {% if adresse_future.rue %}{{ adresse_future.rue }}<br>{% endif %}
                    {{ adresse_future.npa }} {{ adresse_future.localite }}
                </div>
                <div class="me-3 mt-auto">
                    {% with map_link=adresse_future.map_link %}
                    {% if map_link %}
                        <div class="col-auto align-self-end"><a href="{{ map_link }}" target="blank">Carte</a></div>
                    {% endif %}
                    {% endwith %}
                </div>
                <div class="mt-auto">
                    <button type="button" class="btn btn-light btn-icon openmodal" title="Modifier l’adresse"
                            data-bs-toggle="tooltip" data-modalurl="{% url 'persona-adresse-princ-edit' adresse_future.pk %}"
                            data-deleteurl="{% url 'persona-adresse-delete' adresse_future.pk %}"
                            data-deleteconfirm="Voulez-vous vraiment supprimer cette adresse ?">
                        <img class="icon" src="{% static 'img/edit.svg' %}">
                    </button>
                </div>
            </div>
            {% endif %}
        </div>
        <div class="form-group mb-2">
            {{ form.case_postale.label_tag }} {{ form.case_postale.errors }} {{ form.case_postale }}
        </div>
        {% else %}
        <div class="form-group mb-2">
            {{ form.c_o.label_tag }} {{ form.c_o.errors }} {{ form.c_o }}
        </div>

        <div class="row mb-2">
          <div class="col">
            <div class="form-group">
                {{ form.rue.label_tag }} {{ form.rue.errors }} {{ form.rue }}
            </div>
          </div>
          <div class="col">
            <div class="form-group">
                {{ form.case_postale.label_tag }} {{ form.case_postale.errors }} {{ form.case_postale }}
            </div>
          </div>
        </div>
        <div class="row mb-2">
            <div class="col">
            {% with map_link=form.instance.map_link %}
            <div class="col-auto flex-grow-1 form-group">
              {# hidden #}{{ form.npa }} {{ form.localite }}
              {{ form.npalocalite.label_tag }}{{ form.npalocalite.errors }}{{ form.npalocalite }}
            </div>
            {% if map_link %}
                <div class="col-auto align-self-end"><a href="{{ map_link }}" target="blank">Carte</a></div>
            {% endif %}
            {% endwith %}
            </div>
        </div>
        {% endif %}

        <div class="row mb-2">
          <div class="col">
                <div class="card">
                    <div class="card-header fw-bold">
                        Téléphones
                    </div>
                    <div class="card-body">
                        {% include "client/phone_formset.html" %}
                    </div>
                </div>
          </div>
          <div class="col">
            <div class="form-group">
                {{ form.courriel.label_tag }} {{ form.courriel.errors }} {{ form.courriel }}
            </div>
          </div>
        </div>

        <div class="row mb-2">
          <div class="col-md-3 col-sm-6">
            <div class="form-group">
                <div>{{ form.date_naissance.label_tag }}</div>
                {{ form.date_naissance.errors }} {{ form.date_naissance }}
            </div>
          </div>
          <div class="col-md-3 col-sm-6">
            <div class="form-group">
                {{ form.date_deces.label_tag }}
                {{ form.date_deces.errors }} {{ form.date_deces }}
            </div>
          </div>
        </div>

        <div class="row mb-2 align-items-end">
          <div class="col-md-3">
            <div class="form-group">
                {{ form.ne_pas_remercier.errors }} {{ form.ne_pas_remercier }} {{ form.ne_pas_remercier.label_tag|strip_colon }}<br>
                {{ form.ne_pas_solliciter.errors }} {{ form.ne_pas_solliciter }} {{ form.ne_pas_solliciter.label_tag|strip_colon }}
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group">
                {{ form.origine.errors }} {{ form.origine.label_tag }} {{ form.origine }}
            </div>
          </div>
          <div class="col">
            <div class="form-group">
                {{ form.no_wesser.errors }} {{ form.no_wesser.label_tag }} {{ form.no_wesser }}
            </div>
          </div>
        </div>

        <div class="form-group mb-3">
            {{ form.remarques.errors }} {{ form.remarques.label_tag }} {{ form.remarques }}
        </div>

        {% if not form.readonly %}
        <div class="buttons d-flex justify-content-between">
            <button type="submit" class="btn btn-primary order-3">Enregistrer</button>
            {% if can_be_archived %}
            <button type="submit" class="btn btn-danger order-1 openmodal"
                    data-modalurl="{% url 'donateur-archive' donateur.pk %}" aria-label="Archiver ou supprimer un donateur">Archiver</button>
            {% else %}<div class="order-2">{#force push save to right #}</div>
            {% endif %}
        </div>
        {% endif %}
    </form>

    {% if donateur %}
    <hr class="m-2">
    <div class="row mb-2 border-top">
        <div class="col-md-6 mt-3">
            <div id="fichiers-container" data-url="{% url 'donateur-fichier-list' donateur.pk %}">
            {% include 'fichier_list.html' with parent=donateur editurl_name='donateur-fichier-edit' deleteurl_name='donateur-fichier-delete' %}
            </div>
            {% if not form.readonly %}
            <div>
                <a href="{% url 'donateur-fichier-add' donateur.pk %}" class="btn btn-secondary openmodal" id="btn-add-file">Ajouter un fichier</a>
            </div>
            {% endif %}
        </div>
    </div>
    {% endif %}{# donateur #}
{% endblock %}
