{% extends "./base.html" %}
{% load client_utils %}

{% block title %}Liste des donateurs{% endblock %}

{% block breadcrumb %}
{{ block.super }}
<li class="breadcrumb-item active" aria-current="page">Donateurs</li>
{% endblock %}

{% block content %}
    <div class="row align-items-center">
        <div class="col-6">
            <h2>Liste des donateurs{% if count %} <span class="badge text-bg-secondary fs-6">{{ count }}</span>{% endif %}{% if view.is_archive %} <b>(archives)</b>{% endif %}</h2>
        </div>
        <div class="col text-end">
            {% if view.is_archive %}
                <a class="btn btn-sm btn-outline-primary" href="{% url 'donateurs' %}">Liste des donateurs</a>
            {% else %}
                <a class="btn btn-sm btn-outline-primary" href="{% url 'donateurs-archives' %}">Archives</a>
                <a class="btn btn-sm btn-outline-primary" href="{% url 'donateur-new' %}">Nouveau donateur</a>
                <a class="btn btn-sm btn-outline-primary" href="{% url 'importer-dons' %}">Importer dons mensuels</a>
            {% endif %}
        </div>
    </div>

    <form class="immediate_submit table-filter unmonitor" method="get">
    {% if not view.is_archive and form.listes %}
        <div class="w-100 text-end">{{ form.listes }}</div>
    {% endif %}
    <table class="table table-striped client_list">
        <thead class="sticky-top">
            <tr>
                <th>Nom</th><th>Adresse</th><th>Localité</th><th>Téléphone-s</th><th>Date de naissance</th>
            </tr>
            {% if form %}
            <tr class="filters">
                <td>{{ form.nom_prenom }}</td><td>{{ form.rue }}</td><td>{{ form.npa_localite }}</td>
                <td></td>
                <td class="text-end">
                    <span data-bs-toggle="tooltip" title="Afficher plus de filtres">
                        <button class="btn btn-sm btn-secondary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                            +
                        </button>
                    </span></td>
            </tr>
            <tr id="collapseExample" class="collapse filters">
                <td colspan="5">{{ form.exclure_ne_pas_soll }} {{ form.exclure_ne_pas_soll.label_tag|strip_colon }}</td>
            </tr>
            {% endif %}
        </thead>
        <tbody id="filter_container">
        {% for donateur in object_list %}
            <tr>
                <td>
                    <a href="{% url 'donateur-edit' donateur.pk %}">{{ donateur.nom }}</a> {{ donateur.prenom }}
                </td>
                <td>{{ donateur.adresse_active.rue }}</td>
                <td>{{ donateur.adresse_active.npa }} {{ donateur.adresse_active.localite }}</td>
                <td class="tels">{{ donateur|tels_as_divs }}</td>
                <td>{{ donateur.date_naissance|date:'d.m.Y' }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    </form>

    {% include 'pagination.html' %}

{% endblock %}
