{% extends "./base.html" %}

{% block title %}Importation des dons mensuels{% endblock %}

{% block content %}
<h1>Importation des dons mensuels</h1>

<div class="row">
    <div class="col-9">
        <p>
            Ce formulaire permet d’importer les dons mensuels à partir du fichier camt.053 en provenance de la relation bancaire concernée par les versements.
        </p>
        <form method="post" enctype="multipart/form-data" class="debounce">{% csrf_token %}
            {{ form.as_div }}
            <button type="submit" class="btn btn-primary">Importer</button>
        </form>
    </div>
    <div class="col-3 bg-secondary-subtle">
        <h3>Importations récentes</h3>
        <ul>
        {% for recent in recents %}
            <li><a href="{% url 'importer-rapport' recent.year recent.month recent.day %}">{{ recent|date:'d.m.Y' }}</a></li>
        {% endfor %}
        </ul>
    </div>
</div>
{% endblock %}
