{% extends "./base.html" %}
{% load l10n %}

{% block title %}Rapport d’importation des dons mensuels{% endblock %}

{% block content %}
<h1>Rapport d’importation des dons mensuels</h1>

<p>Veuillez vérifier ci-dessous que les correspondances entre «Infos débiteur» et «Donateur» soient correctes. Le cas échéant, vous pouvez créer/corriger le donateur pour chaque don, sinon le don sera considéré comme anonyme.
</p>

<form method="post">{% csrf_token %}
<table class="table table-striped table-sm">
    <tr><th>Date</th><th>Infos débiteur</th><th>Donateur</th><th>Motif don</th><th>Campagne</th><th>Montant</th><th></th></tr>
    {% for don in dons %}
    <tr class="hidden-btns">
        <td>{{ don.date_don|date:'d.m.Y' }}</td><td>{{ don.debiteur_as_lines|join:"<br>" }}</td>
        <td>{% if don.donateur %}
            <a href="{% url 'donateur-edit' don.donateur.pk %}">{{ don.donateur }}</a><br>
            {{ don.adresse_client.rue }}<br>
            {{ don.adresse_client.npa }} {{ don.adresse_client.localite }}
            {% else %}
            <div id="donateur_{{ don.pk }}"><span class="donateur_non_trouve">Donateur non trouvé</span></div>
            {% endif %}
            <div><button class="btn btn-sm btn-outline-secondary openmodal" type="button" data-modalurl="{% url 'recherche-donateur' don.pk %}">Chercher…</button></div>
            {% if not don.donateur %}
            <div class="creer_donateur">
                <button class="btn btn-sm btn-outline-secondary openmodal" type="button" data-modalurl="{% url 'don-creerdonateur' don.pk %}">Créer ce donateur…</button>
            </div>
            {% endif %}
        </td>
        <td>{{ don.info_don }}</td>
        <td>{{ don.campagne|default_if_none:'-' }}</td>
        <td>{{ don.montant|unlocalize }}</td>
        <td class="text-end">
        {% if perms.crm.change_don %}
            <button type="button" class="btn btn-light btn-icon openmodal" title="Modifier le don"
                    data-bs-toggle="tooltip" data-modalurl="{% url 'don-edit' don.pk %}">
                <img class="icon" src="{% static 'img/edit.svg' %}">
            </button>
        {% endif %}
        </td>
    </tr>
    {% endfor %}
</table>
</form>
{% endblock %}
