{% extends "./base.html" %}

{% block title %}Accueil{% endblock %}

{% block bodyclass %}page-home{% endblock %}

{% block breadcrumb %}{% endblock %}

{% block content %}

<div class="row row-cols-1 row-cols-md-3 g-4">
  <div class="col">
    <a href="{% url 'donateurs' %}" class="link-light">
    <div class="card h-100 text-white">
      <div class="card-body d-flex flex-column align-items-center justify-content-center">
        <h3 class="card-title">Donateurs</h5>
        <p class="card-text text-center">Gestion des partenaires donateurs</p>
      </div>
    </div>
    </a>
  </div>
  <div class="col">
    <a href="{% url 'campagnes' %}" class="link-light">
    <div class="card h-100 text-white">
      <div class="card-body d-flex flex-column align-items-center justify-content-center">
        <h3 class="card-title">Campagnes</h5>
        <p class="card-text text-center">Gestion des campagnes de dons</p>
      </div>
    </div>
    </a>
  </div>
  <div class="col">
    <a href="{% url 'stats-dons' %}" class="link-light">
    <div class="card h-100 text-white">
      <div class="card-body d-flex flex-column align-items-center justify-content-center">
        <h3 class="card-title">Statistiques</h5>
        <p class="card-text text-center">Dons, etc.</p>
      </div>
    </div>
    </a>
  </div>
</div>
{% endblock %}
