<form id="standalone-form" class="immediate_submit table-filter unmonitor debounce readonly"
      method="get" action="{{ request.path }}" data-donpk="{{ view.kwargs.don_pk }}">
    <table class="table table-striped client_list">
        <thead class="sticky-top">
            <tr>
                <th></th><th>Nom</th><th>Adresse</th><th>Localité</th><th>Date de naissance</th>
            </tr>
            <tr class="filters">
                <td></td><td>{{ form.nom_prenom }}</td><td>{{ form.rue }}</td><td>{{ form.npa_localite }}</td>
                <td></td>
            </tr>
        </thead>
        <tbody id="filter_container">
        {% for client in object_list %}
            <tr>
                <td>
                    <button class="btn btn-sm btn-outline-primary select_client" type="button"
                            data-chooseurl="{% url 'don-attribuer' view.kwargs.don_pk client.pk %}">Choisir</button>
                </td>
                <td>
                    {% if client_url_name %}<a href="{% url client_url_name client.pk %}">{% endif %}{{ client.nom }}{% if client_url_name %}</a>{% endif %}
                    {{ client.prenom }}
                </td>
                <td>{{ client.adresse_active.rue }}</td>
                <td>{{ client.adresse_active.npa }} {{ client.adresse_active.localite }}</td>
                <td>{{ client.date_naissance|date:'d.m.Y' }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</form>
