{% extends "admin/base_site.html" %}
{% block extrastyle %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'css/admin_custom.css' %}">
{% endblock %}

{% block branding %}
<div id="site-name"><a href="{% url 'admin:index' %}">Administration Croix-Rouge MAD</a></div>
{% endblock %}
