{% extends "transport/base.html" %}
{% load transport_utils %}

{% block title %}Attribution d’un chauffeur{% endblock %}

{% block extrastyle %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static 'css/agenda.css' %}">
{% endblock %}

{% block extra_javascript %}
{{ block.super }}
<script>
window.addEventListener('DOMContentLoaded', () => {
    attachHandlerSelector(document, 'input[name="chauffeur"]', 'click', loadObjectDayView);
    attachHandlerSelector(document, 'input[name="chauffeur_externe"]', 'change', toggleChauffExterne);
    attachHandlerSelector(document, 'input[name="vehicule"]', 'click', loadObjectDayView);
    attachHandlerSelector(document, '#refuser', 'click', refusChauffeur);
    attachHandlerSelector(document, '#chauffeur_search', 'keyup', delay(filtrerChauffeurs, 400));
    attachHandlerSelector(document, '#show_vehicles', 'click', (ev) => {
        ev.preventDefault();
        show(ev.target.nextElementSibling);
        hide(ev.target);
    });
    calcChauffeurDistances(10);
});
</script>
{% endblock %}

{% block breadcrumb %}
<li class="breadcrumb-item"><a href="{% url 'home' %}">Accueil</a></li>
<li class="breadcrumb-item"><a href="{% url 'gestion' %}">Transports</a></li>
<li class="breadcrumb-item active" aria-current="page">Attribution</li>
{% endblock %}

{% block content %}
<h2>Attribution d’un chauffeur</h2>

<div class="row">
    <div class="col">
        {% if chaise %}<div class="alert alert-danger">
            Cette personne est en chaise roulante. Un véhicule adapté est nécessaire.
        </div>{% endif %}
        {% if autres_handis %}<div class="alert alert-warning">
            {{ autres_handis }}
        </div>{% endif %}
        {% include 'transport/transport_detail.html' %}
        {% if transports_prec %}
        <h3>Chauffeurs précédents pour ce client</h3>
            {% for transp in transports_prec %}
            <div>{{ transp.heure_rdv|date_transp }} - {{ transp.chauffeur }}</div>
            {% endfor %}
        {% endif %}
    </div>
    <div class="col d-flex flex-column">
        <form id="frm_attribution" method="post" class="unmonitor">{% csrf_token %}
            {{ form.page_origine }}
            <div class="mb-3 d-flex justify-content-between">
                <div>
                    <a href="{% url 'gestion' %}" class="btn btn-secondary">Retour</a>
                    <button id="refuser" type="button" class="btn btn-danger" disabled
                            data-url="{% if transport.pk %}{% url 'transport-refuse' transport.pk %}{% else %}{% url 'transport-model-refuse' transport.modele.pk transport.date|date:'Ymd'%}{% endif %}">
                        Refus
                    </button>
                </div>
                <button id="btn_attribuer" type="submit" class="btn btn-primary" disabled>Attribuer</button>
            </div>
            <div id="remark_container" class="fst-italic" hidden></div>
            <div class="mb-1">
                <input id="chauffeur_search" type="text" class="form-control" placeholder="Filtrer chauffeurs…" autocomplete="off">
            </div>
            <div class="container overflow-scroll" style="max-height: 58vh"
                 data-iconno="{% static 'admin/img/icon-no.svg' %}">
            {% for chauffeur in chauffeurs %}
                <div class="row chauffeur_choice">
                  <div class="col-10 ps-0">
                    <input type="radio" name="chauffeur" value="{{ chauffeur.pk }}" id="id_chauffeur_{{ chauffeur.pk }}"
                           class="form-check-input"
                           {% if transport.pk %}data-agendaurl="{% url 'benevole-dispo-transport' chauffeur.pk transport.pk %}"
                           {% else %}data-agendaurl="{% url 'benevole-dispo-transport-model' chauffeur.pk transport.modele.pk transport.date|date:'Ymd' %}"{% endif %}
                           hidden>
                    <label for="id_chauffeur_{{ chauffeur.pk }}">
                        {% if chauffeur.priorite_dispo == 1 %}<img src="{% static 'admin/img/icon-yes.svg' %}">
                        {% elif chauffeur.priorite_dispo == 2 %}<img src="{% static 'img/icon-partial.svg' %}">
                        {% elif chauffeur.priorite_dispo == 5 %}
                            <img src="{% static 'admin/img/icon-no.svg' %}" title="Absence ou Disponibilité annulée" data-bs-toggle="tooltip">
                        {% elif chauffeur.priorite_dispo == 6 %}
                            <img src="{% static 'admin/img/icon-no.svg' %}" title="Transport refusé par le chauffeur" data-bs-toggle="tooltip">
                        {% else %}
                            <img src="" title="" hidden>
                        {% endif %}
                        {% if not chauffeur.conduit_vehicule %}
                            <img src="{% static 'admin/img/icon-no.svg' %}" class="ne_conduit_pas"
                                 title="Ne conduit pas les véhicules C-R" data-bs-toggle="tooltip"
                                 {% if not transport.vehicule %} hidden{% endif %}>
                        {% endif %}
                        {% if chauffeur.pref %}
                            <span title="{{ chauffeur.pref.remarque }}" data-bs-toggle="tooltip">
                                {{ chauffeur.pref.get_typ_display.0 }}
                            </span>
                        {% endif %}
                        {% for incompat in chauffeur.incompats_client %}
                            <span title="Incompatibilité avec handicap {{ incompat }}" data-bs-toggle="tooltip">
                                😡
                            </span>
                        {% endfor %}
                        <span class="me-3 nom_chauffeur">{{ chauffeur }}</span>
                        <div class="details_chauffeur">
                        {{ chauffeur.adresse_active.npa }} {{ chauffeur.adresse_active.localite }},
                        {% if chauffeur.distance_tr is not None %}<span {% if chauffeur.distance_tr.1 == 'vo' %}title="Distance à vol d’oiseau" class="vo" {% if transport.pk %}data-calcdisturl="{% url 'transport-calcdistchauffeur' transport.pk chauffeur.pk %}"{% else %}data-calcdisturl="{% url 'transport-model-calcdistchauffeur' transport.modele.pk transport.date|date:'Ymd' chauffeur.pk %}"{% endif %}
                        {% elif chauffeur.distance_tr.1 == 'city' %}title="Distance entre localités" class="loc"{% endif %}>~ {{ chauffeur.distance_tr.0 }}km</span>{% else %}<i>distance inconnue</i>{% endif %}
                        </div>
                    </label>
                  </div>
                  <div class="col-2 text-end ps-0 pe-3">
                        {% if chauffeur.remarques %}
                        <span class="chauffeur_remarques" data-bs-toggle="tooltip" title="{{ chauffeur.remarques }}">
                            <img class="icon blacksvg" src="{% static 'img/note.svg' %}">
                        </span>
                        {% endif %}
                        {% for tel in chauffeur.telephones %}{{ tel.tel|as_tel_icon }}{% endfor %}
                  </div>
                </div>
            {% empty %}
                <div>Aucun chauffeur n'est disponible</div>
            {% endfor %}
            </div>
            <!--div id="chauffeur_externe" class="form-group mt-2">
                {{ form.chauffeur_externe.errors }} {{ form.chauffeur_externe }} {{ form.chauffeur_externe.label_tag|strip_colon }}
            </div-->
            {% if vehicules %}
            <div class="mt-3">
                {% if not transport.vehicule %}<button id="show_vehicles" type="button" class="btn btn-outline-primary">Réserver un véhicule</button>{% endif %}
                <div{% if not transport.vehicule %} hidden{% endif %}>
                    <div class="fw-bold">Véhicules :</div>
                    <div class="container overflow-scroll" style="max-height: 35vh">
                        {% for vehicule in vehicules %}
                        <div class="row vehicule_choice">
                            <input type="radio" name="vehicule" value="{{ vehicule.pk }}" id="id_vehicule_{{ vehicule.pk }}"
                                   class="form-check-input"
                                   {% if transport.vehicule == vehicule %}checked{% endif %}
                                   {% if transport.pk %}
                                   data-agendaurl="{% url 'vehicule-dispo-transport' vehicule.pk transport.pk %}"
                                   {% else %}
                                   data-agendaurl="{% url 'vehicule-dispo-transport-model' vehicule.pk transport.modele.pk transport.date|date:'Ymd' %}"{% endif %}
                                   hidden
                            >
                            <label for="id_vehicule_{{ vehicule.pk }}">{{ vehicule }}</label>
                        </div>
                        {% endfor %}
                    </div>
                    <div class="mt-2">
                        <button id="btn_attribuer_vhc" type="submit" class="btn btn-sm btn-primary" disabled>Attribuer ce véhicule (sans chauffeur)</button>
                    </div>
                </div>
            </div>
            {% endif %}
        </form>
    </div>
    <div id="planif_chauffeur_container" class="col" hidden></div>
    <div id="planif_vehicule_container" class="col" hidden></div>
</div>
{% endblock %}
