{% extends "benevole/benevole_list.html" %}
{% load transport_utils %}

{% block add_headers %}
    <th>Âge</th>{% if view.show_cours_cond %}<th>Date dernier cours de conduite</th>{% endif %}
{% endblock %}

{% block add_filters %}
    <td>{{ form.age }}</td>{% if view.show_cours_cond %}<td></td>{% endif %}
{% endblock %}

{% block add_columns %}
    <td>{{ benevole.age }}</td>
    {% if view.show_cours_cond %}<td>{{ benevole.dernier_cours_cond|date:'d.m.Y' }}</td>{% endif %}
{% endblock %}

{% block 'remarques_filter' %}
    {{ form.macaron_echu }} {{ form.macaron_echu.label_tag|strip_colon }}
{% endblock %}

{% block 'remarques' %}{{ block.super }}{{ benevole|echeance_macaron }} {% endblock %}
