{% load client_utils transport_utils %}

{% bandeau_absence client %}
{% if chaise %}<div class="alert alert-danger">
    Cette personne est en chaise roulante. Un véhicule adapté est nécessaire.
</div>{% endif %}

{% for transp in transports %}
    {% if forloop.first %}
        <h4>Derniers transports</h4>
    {% endif %}
    <div class="{{ transp.get_statut_display }} mb-3">
        <div class="d-flex justify-content-between dernier_date_heure">
            <div>{{ transp.date|date_transp }} à {{ transp.heure_depart|localtime }} (Rdv. {{ transp.heure_rdv|localtime }})</div>
            <div>
                <img class="icon copy-transport" title="Recopier les infos de ce transport" src={% static 'img/copy.svg' %}
                    {% with depart=transp.adresse_depart destination=transp.destination %}
                    {% if not depart.est_adresse_client %}
                    data-origid="{{ depart.id }}" data-origtext="{{ depart }}"
                    {% endif %}
                    {% if destination.est_adresse_client %}
                    data-destid="-1" data-desttext="Domicile du client"
                    {% else %}
                    data-destid="{{ destination.id }}" data-desttext="{{ destination }}"
                    {% endif %}
                    {% endwith %}
                    data-heure_rdv="{{ transp.heure_rdv|localtime }}"
                    data-retour="{{ transp.retour }}"
                    data-duree_rdv="{{ transp.duree_rdv|format_duree }}"
                    data-type="{{ transp.trajet_dest_princ.typ }}"
                    data-remarques="{{ transp.remarques }}">
            </div>
        </div>
        <div>
            {% if transp.vers_domicile %}<i>Retour à domicile</i> depuis {{ transp.adresse_depart|as_html }}{% else %}{{ transp.destination }}{% endif %}
        </div>
        <div><b>Chauff:</b> {{ transp.chauffeur|default_if_none:'-' }}</div>
    </div>
{% empty %}
    <i>Aucun transport à afficher</i>
{% endfor %}
