{% extends "transport/base.html" %}
{% load client_utils transport_utils %}

{% block title %}Client transport: {{ client }}{% endblock %}

{% block breadcrumb %}
<li class="breadcrumb-item"><a href="{% url 'home' %}">Accueil</a></li>
<li class="breadcrumb-item"><a href="{% url 'clients' %}">Clients</a></li>
<li class="breadcrumb-item active" aria-current="page">{{ client }}</li>
{% endblock %}

{% block content %}
    <h2>{{ client.nom }} {{ client.prenom }} {% services_as_icons client current_app 'p-2' %}</h2>

    {% if client %}
      {% include 'client/client_tabs.html' with active='general' readonly=form.readonly %}
    {% endif %}

    {% if client.date_deces %}
    <div class="alert alert-danger mt-2 p-2 d-flex justify-content-between">
        <p class="mb-0 align-self-center">
            Personne décédée le {{ client.date_deces|date:'d.m.Y' }}.
        </p>
    </div>
    {% endif %}
    {% if client and not dans_service_actuel and not client.archive_le %}
    <div class="alert alert-danger mt-2 p-2 d-flex justify-content-between">
        <p class="mb-0 align-self-center">
            Cette personne n’est pas identifiée comme cliente «{{ current_app }}».
        </p>
        <form class="d-inline" action="{% url 'client-add-service' client.pk %}" method="post">{% csrf_token %}
            <button class="btn btn-primary">Définir cette personne comme cliente «{{ current_app }}»</button>
        </form>
    </div>
    {% endif %}

    <div class="row mt-2">
        <div class="col d-flex justify-content-between">
            <div>{{ adresse.rue }}
                {% with map_link=adresse.map_link %}
                {% if map_link %}
                    <a href="{{ map_link }}" target="blank">
                        <img class="icon align-top ms-3" src="{% static 'img/map-pointer.svg' %}"
                         title="Voir sur la carte" data-bs-toggle="tooltip"></a>
                {% else %}
                    <img class="icon blacksvg align-top ms-3" src="{% static 'img/warning.svg' %}"
                         title="Cette personne n’a pas pu être géolocalisée" data-bs-toggle="tooltip">
                {% endif %}
                {% endwith %}
            </div>
            <div>{{ adresse.npa }} {{ adresse.localite }}</div>
            <div class="tels">{{ client|tels_as_divs }}</div>
            {% if client.date_naissance %}
            <div>{{ client.date_naissance|date:'d.m.Y' }} ({{ client.age|to_int }} ans)</div>
            {% endif %}
        </div>
    </div>
    {% if client.remarques_ext_transport or client.remarques_int_transport %}
    <div class="fst-italic">
        {% if client.remarques_ext_transport %}{{ client.remarques_ext_transport|linebreaksbr }}<br>{% endif %}
        {{ client.remarques_int_transport|linebreaksbr }}
    </div>
    {% endif %}

    {% bandeau_absence client %}

    <div class="row mt-3 pt-2 border-top">
        <div class="col-3 fw-bold">Préferences/incompatibilités :</div>
        <div class="col-6">
            {% for pref in preferences %}
                <div>
                    {{ pref.get_typ_display }}: {{ pref.chauffeur }}{% if pref.remarque %}, {{ pref.remarque }}{% endif %}
                    <a href="{% url 'transport-client-editpref' client.pk pref.pk %}" class="openmodal" title="Modifier"
                       data-deleteurl="{% url 'transport-client-deletepref' pref.pk %}"
                       data-deleteconfirm="Souhaitez-vous vraiment supprimer ce lien client-chauffeur ?">
                        <img class="small-icon" src="{% static 'img/edit.svg' %}">
                    </a>
                </div>
            {% empty %}<div class="fst-italic">Aucune</div>
            {% endfor %}
            <a href="{% url 'transport-client-newpref' client.pk %}" type="button" class="btn btn-sm btn-outline-primary openmodal">+</a>
        </div>
        <div class="col-3">
            {% if client.handicaps %}{{ client.get_handicaps_display }}{% endif %}
        </div>
    </div>

    <div class="row mt-3 mb-1">
        <div class="col"><h4>Prochains transports</h4></div>
        <div class="col text-end">
            {% if dans_service_actuel %}
            <a href="{% url 'gestion' %}" class="btn btn-secondary">Gestion des transports</a>
            <a href="{% url 'transport-saisie' %}?client={{ client.pk }}" class="btn btn-primary">Saisir un transport…</a>
            {% endif %}
        </div>
    </div>
    {% for transp in prochains_transports %}
        {% if forloop.first %}
        <table class="table transport_list">
            <thead>
                <tr><th>Date</th><th>Départ</th><th>Rdv</th><th>Retour</th><th></th><th>Destination</th><th>Chauffeur</th><th>Statut</th><th></th></tr>
            </thead>
        {% endif %}
        {% if transp.date %}{% transport_line transp 'statut,-client,chauffeur' %}
        {% else %}{% include "transport/vhc_occup_line.html" with occup=transp %}{% endif %}
        {% if forloop.last %}</table>{% endif %}
    {% empty %}<i>Aucun transport planifié</i>
    {% endfor %}

{% endblock %}
