{% extends "client/client_edit_base.html" %}

{% block custom_fields %}
    <div class="row mb-2 align-items-top">
      <div class="col-6">
        <div class="form-group">
            {{ form.handicaps.label_tag }} {{ form.handicaps.errors }} {{ form.handicaps }}
        </div>
      </div>
      <div class="col">
        <div class="col-md-6 form-group no_debiteur">
            {{ form.no_debiteur.label_tag }} {{ form.no_debiteur.errors }} {{ form.no_debiteur }}
        </div>
        <div class="row">
            {% if form.tarif_avs_des %}
            <div class="col-md-6 form-group">
                {{ form.tarif_avs_des.label_tag }} {{ form.tarif_avs_des.errors }} {{ form.tarif_avs_des }}
            </div>
            {% endif %}
            {% if form.fonds_transport %}
            <div class="col-md-6 form-group mb-2 mt-2">
                {{ form.fonds_transport.errors }} {{ form.fonds_transport }} {{ form.fonds_transport.label_tag|strip_colon }}
            </div>
            {% endif %}
        </div>
        <div class="form-group">
            {{ form.date_deces.label_tag }} {{ form.date_deces.errors }} {{ form.date_deces }}
        </div>
      </div>
    </div>
{% endblock %}
