{% extends "transport/base.html" %}
{% load l10n %}

{% block title %}Défraiements{% endblock %}

{% block breadcrumb %}
<li class="breadcrumb-item"><a href="{% url 'home' %}">Accueil</a></li>
<li class="breadcrumb-item active" aria-current="page">Défraiements</li>
{% endblock %}

{% block content %}
{% include 'transport/finances_tabs.html' with active='frais' %}

<div class="row mt-2">
    <div class="col">
        <form method="get" id="mois_form" class="d-flex immediate_submit unmonitor">
        {{ date_form.year }} {{ date_form.month }}
        </form>
    </div>
    <div class="col text-end">
      {% if mois_passe %}
        <form class="inline" method="post" action="{% url 'defrayer-chauffeurs' date_form.cleaned_data.year date_form.cleaned_data.month %}">
            {% csrf_token %}
            <button type="submit" class="btn btn-outline-primary">
                <img class="icon" src="{% static 'ficons/tsv.svg' %}"> Exporter ce mois
            </button>
        </form>
        {% if transmission_url and mois_passe and non_transmises %}
        <form class="inline" method="post" action="{{ transmission_url }}">
            {% csrf_token %}
            <input type="hidden" name="service" value="transport">
            <button type="submit" class="btn btn-outline-primary">
                Envoyer les notes de frais à l’ERP ({{ non_transmises }})
            </button>
        </form>
        {% endif %}
      {% else %}
        <p class="alert alert-warning">Ce mois n’est pas encore passé. Les chiffres sont indicatifs.</p>
      {% endif %}
    </div>
</div>

<table class="table table-hover">
    <thead class="sticky-top">
        <tr><th>Bénévole</th>
            {% for header, _ in note_columns %}
            <th class="text-end">{{ header }}</th>
            {% endfor %}
            <th>Exporté</th>
        </tr>
    </thead>
    <tbody id="filter_container">
    {% for note in object_list %}
    <tr><td>
        <a href="{% url 'benevole-edit' 'transport' note.benevole.pk %}">{{ note.benevole.nom }} {{ note.benevole.prenom }}</a>
        </td>
        {% for _, field_name in note_columns %}
        <td class="text-end">
            {% if 'frais' in field_name %}{{ note|get_item:field_name|monetize }}{% else %}{{ note|get_item:field_name|floatformat }}{% endif %}
        </td>
        {% endfor %}
        <td>
            {% if note.date_export %}<img src="{% static 'admin/img/icon-yes.svg' %}" title="Envoyée le {{ note.date_export|date:'d.m.Y'|default:'-' }}">
            {% else %}<img src="{% static 'admin/img/icon-no.svg' %}">{% endif %}
        </td>
    </tr>
    {% endfor %}
    </tbody>
    <tbody class="table-group-divider">
    <tr class="table-light fw-bold">
        <td>Totaux</td>
        {% for _, field_name in note_columns %}
        <td class="text-end">
            {% if 'frais' in field_name %}{{ totaux|get_item:field_name|monetize }}{% else %}{{ totaux|get_item:field_name|floatformat }}{% endif %}
        </td>
        {% endfor %}
    </tr>
    </tbody>
</table>

{% endblock %}
