{% extends "general_edit.html" %}

{% block header_infos %}
    {{ block.super }}
    {% if non_controles > 0 %}
        <div class="alert alert-danger">Attention, il semble qu’il reste un certain nombre de transports non contrôlés ({{ non_controles }}).</div>
    {% endif %}
    {% if occups_sans_km > 0 %}
        <div class="alert alert-danger">Attention, il reste des réservations de véhicules sans le nombre de kilomètres parcourus.</div>
    {% endif %}
{% endblock %}
