{% extends "base.html" %}
{% load l10n %}

{% block title %}Factures{% endblock %}

{% block breadcrumb %}
<li class="breadcrumb-item"><a href="{% url 'home' %}">Accueil</a></li>
<li class="breadcrumb-item"><a href="{% url 'finances' %}">Facturation</a></li>
<li class="breadcrumb-item active" aria-current="page">{{ title }}</li>
{% endblock %}

{% block content %}
    <div class="row align-items-center">
        <div class="col">
            <h2>{{ title }} (<span class="list-count">{{ paginator.count }}</span>)</h2>
        </div>
        {% block export_factures %}{# Surcharge selon canton #}{% endblock %}
    </div>

    <form class="immediate_submit table-filter unmonitor" method="get" action=".">
    <table class="table table-striped facture-list">
        <thead class="sticky-top">
            <tr><th>N°</th><th>Mois</th><th>Date de facture</th><th>Client</th></tr>
            <!--tr class="filters">
                <td>{{ form.date_facture }}</td><td>{{ form.nom_client }}</td>
                <td>{{ form.libelle }}</td><td>{{ form.article }}</td>
            </tr-->
        </thead>
        <tbody id="filter_container">
        {% for facture in object_list %}
            <tr data-clientid="{{ facture.client.pk }}">
                <td>{{ facture.no }}
                    {% if facture.export_err %}
                        <img src="{% static 'img/warning.svg' %}" class="icon blacksvg" data-bs-toggle="tooltip" title="{{ facture.export_err }}">
                    {% endif %}
                </td>
                <td>{{ facture.mois_facture|mois_fr }} {{ facture.mois_facture.year }}</td>
                <td>{{ facture.date_facture|date:'d.m.Y' }}</td>
                <td><a href="{% url 'client-edit' facture.client_id %}">{{ facture.client }}</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    </form>

    {% include 'pagination.html' %}

{% endblock %}
