{% extends "transport/base.html" %}

{% block breadcrumb %}
<li class="breadcrumb-item"><a href="{% url 'home' %}">Accueil</a></li>
<li class="breadcrumb-item active" aria-current="page">Finances</li>
{% endblock %}

{% block content %}

<h1>Finances</h1>

{% include 'transport/finances_tabs.html' with active='factures' %}

<div class="row mt-2 mb-3">
    <div class="col">
        <form method="get" id="mois_form" class="d-flex immediate_submit unmonitor">
        {{ date_form.year }} {{ date_form.month }}
        </form>
    </div>
</div>

<form class="mb-3 mt-2">{% csrf_token %}
    {% if a_facturer > 0 %}
    <button class="btn btn-primary openmodal"
            data-modalurl="{% url 'facturer-transports' year month %}" data-savelabel="Facturer"
            title="Facturer les transports">Facturer {{ month_str }}
    </button>
    {% endif %}
</form>
<div class="d-flex mt-3">
    <a href="{% url 'factures-non-transmises' %}"
       class="btn btn-{% if non_transmises == 0 %}outline-{% endif %}primary{% if non_transmises == 0 %} disabled{% endif %}">
       Factures non transmises à la compta ({{ non_transmises }})
    </a>

    <form class="ms-auto" action="{% url 'exporter-compta' year month %}" method="post">{% csrf_token %}
        <button class="btn btn-outline-primary">
            Exportation pour compta {{ month_str }}
        </button>
    </form>
</div>
{% endblock %}
