{% extends "transport/base.html" %}
{% load transport_utils %}

{% block title %}Transports du {{ jour|date_transp }}{% endblock %}

{% block breadcrumb %}
<li class="breadcrumb-item"><a href="{% url 'gestion' %}">Transports</a></li>
<li class="breadcrumb-item active" aria-current="page">Transports du {{ jour|date_transp }}</li>
{% endblock %}

{% block content %}

<ul class="nav nav-pills mb-2 jours-semaine">
  {% for day in jours_semaine %}
  <li class="nav-item">
    <a class="nav-link{% if day == jour %} active" aria-current="page{% endif %}"
       href="{% url 'transports-by-day' day.year day.month day.day %}{% querystring %}">{{ day|date_transp }}</a>
  </li>
  {% endfor %}
</ul>

<div class="text-end">
    <form method="get" class="d-inline-block">{{ filter_form.region }}</form>
</div>

{% for chauffeur, data in chauffeurs.items %}
    <div class="pb-2">
        <div><a href="{% url 'benevole-transports' chauffeur.pk %}">{{ chauffeur }}</a> ({{ chauffeur.localite }})</div>
        <div class="timeline border">&nbsp;
            {% for transp in data.transports %}
                <span class="timeline-transp statut{{ transp.statut }}" style="{{ transp|timeline_style }}"
                      title="{{ transp.client }}, {{ transp.adresse_depart.localite }} ({{ transp.heure_depart.time }}) -
            {{ transp.destination.localite }} ({{ transp.heure_depart_retour.time }})" data-bs-toggle="tooltip"
                      >&nbsp;</span>
            {% endfor %}
            {% for dispo in data.dispos %}
                <span class="timeline-dispo dispo-{{ dispo.cancelled|yesno:'cancelled,ok' }}" style="{{ dispo|timeline_style }}"
                      title="Disponibilité de {{ dispo.debut|localtime }} à {{ dispo.fin|localtime }}" data-bs-toggle="tooltip"
                      >&nbsp;</span>
            {% endfor %}
        </div>
    </div>
{% endfor %}

{% for chauffeur, data in chauffeurs_dispos.items %}
    {% if forloop.first %}
        <h4 class="d-inline-block mt-3">Chauffeurs avec disponibilités, mais sans transport</h4>
        <span class="badge rounded-pill bg-secondary align-text-top">{{ chauffeurs_dispos|length }}</span>
    {% endif %}
    <div class="pb-2">
        <div><a href="{% url 'benevole-transports' chauffeur.pk %}">{{ chauffeur }}</a> ({{ chauffeur.localite }})</div>
        <div class="timeline border">&nbsp;
            {% for dispo in data.dispos %}
                <span class="timeline-dispo dispo-{{ dispo.cancelled|yesno:'cancelled,ok' }}" style="{{ dispo|timeline_style }}"
                      title="Disponibilité de {{ dispo.debut|localtime }} à {{ dispo.fin|localtime }}" data-bs-toggle="tooltip"
                      >&nbsp;</span>
            {% endfor %}
        </div>
    </div>
{% endfor %}

{% for transp in non_attribues %}
    {% if forloop.first %}
        <h3 class="mt-2 d-inline-block">Non attribués</h3>
        <span class="badge rounded-pill bg-secondary align-text-top">{{ non_attribues|length }}</span>
    {% endif %}
    <div class="pb-2">
        <div>
            {{ transp.client }}, {{ transp.adresse_depart.localite }} ({{ transp.heure_depart.time }}) -
            {{ transp.destination.localite }} ({{ transp.heure_depart_retour.time }})
        </div>
        <div class="timeline border">&nbsp;
            <span class="timeline-transp" style="{{ transp|timeline_style }}">&nbsp;</span>        
        </div>
    </div>
{% endfor %}

{% endblock %}
