{% extends "transport/base.html" %}
{% load leaflet_tags transport_utils %}

{% block extrastyle %}
    {{ block.super }}
    {% leaflet_css %}
    <style>#themap { height: 500px; max-width: 800px; }</style>
{% endblock %}
{% block extra_javascript %}
    {{ block.super }}
    {% leaflet_js %}
    <script>
        /* Afficher le trajet sur la carte. */
        window.addEventListener("map:init", (e) => {
            const map = e.detail.map;
            var polyline = null;
            document.querySelectorAll('table').forEach(tbl => {
                let latlngs = eval(tbl.dataset.linecoords);
                console.log(latlngs);
                if (latlngs) {
                    polyline = L.polyline(latlngs, {color: 'red'}).addTo(map);
                    map.fitBounds(polyline.getBounds());
                }
            });
        }, false);
        window.addEventListener('DOMContentLoaded', () => {
            document.querySelectorAll(".edit_distance").forEach(img => img.addEventListener('click', () => {
                img.closest('td').querySelector('form').removeAttribute('hidden');
                img.setAttribute('hidden', true);
            }));
        });
    </script>
{% endblock %}

{% block content %}
<h2>Détails des trajets du transport</h2>

{% if transport.chauffeur and transport.chauff_aller_dist %}
<div class="border rounded p-2">
    <b>Trajet aller du chauffeur ({{ transport.chauffeur }}):</b>
    {{ transport.chauff_aller_dist|as_km }} km / {{ transport.chauff_aller_duree|format_duree }}
</div>
{% endif %}

{% for trajet in trajets %}
    <div class="border rounded mt-3 mb-2">
    {% if not trajet.route.linestring %}
    <div class="alert alert-danger p-1">
        Désolé, le tracé de ce trajet n’a pas pu être obtenu et n’est donc pas affiché sur la carte
    </div>
    {% endif %}
    <table class="table table-sm mb-0" data-linecoords="{{ trajet.route.linestring }}">
        <tr><th>Origine:</th><td>{{ trajet.trajet.origine }}</td></tr>
        <tr><th>Destination:</th><td>{{ trajet.trajet.destination }}</td></tr>
        <tr><th>Durée:</th><td>{{ trajet.trajet.duree_calc|format_duree }}</td></tr>
        <tr><th>Distance:</th>
            <td><div class="d-flex flex-wrap justify-content-between">
                    {{ trajet.trajet.dist_calc|as_km }}km
                    <img class="icon cursor-pointer edit_distance" src="{% static 'img/edit.svg' %}" title="Modifier cette distance">
                </div>
                {% if trajet.figee %}
                    <div><i>distance figée pour ce trajet: {{ trajet.figee.distance }}km, distance calculée: {{ trajet.route.distance|as_km }}km</i></div>
                {% endif %}
                <!-- possible distance edition -->
                <form method="POST" class="w-100" hidden>{% csrf_token %}
                    <label for="id_distance_km">Nouvelle distance [km]:</label>
                    <input type="number" name="distance_km" id="id_distance_km" placeholder="1.0" step="0.1" min="0">
                    <br>
                    <button type="submit" class="btn btn-primary mt-2" formaction="{% url 'trajet-set-distance' trajet.trajet.pk %}">
                        Distance fixe pour ce trajet uniquement
                    </button>
                    {% if trajet.figee %}
                    <input type="hidden" name="fixed_pk" value="{{ trajet.figee.pk }}">
                    <button type="submit" class="btn btn-danger mt-2" formaction="{% url 'trajet-remove-fixed-distance' trajet.trajet.pk %}">
                        Supprimer cette distance figée
                    </button>
                    {% else %}
                    <button type="submit" class="btn btn-primary mt-2" formaction="{% url 'trajet-set-fixed-distance' trajet.trajet.pk %}">
                        Distance fixe pour ce trajet et tous les trajets futurs identiques
                    </button>
                    {% endif %}
                </form>
            </td>
        </tr>
    </table>
    </div>
{% endfor %}

{% if transport.chauffeur and transport.chauff_retour_dist %}
<div class="border rounded p-2 mb-2">
    <b>Trajet retour du chauffeur ({{ transport.chauffeur }}):</b>
    {{ transport.chauff_retour_dist|as_km }} km / {{ transport.chauff_retour_duree|format_duree }}
</div>
{% endif %}

{% leaflet_map "map" %}

{% if transport.chauffeur %}
<div class="border rounded p-2 mt-2">
    {% with total_km=transport.dist_calc_chauffeur %}
    <b>Distance totale estimée (y.c. trajets chauffeur):</b> {{ total_km|as_km }} km
    {% endwith %}
</div>
{% endif %}

{% endblock %}
