{% extends "transport/base.html" %}

{% block title %}Liste des véhicules{% endblock %}

{% block breadcrumb %}
<li class="breadcrumb-item"><a href="{% url 'home' %}">Accueil</a></li>
<li class="breadcrumb-item active" aria-current="page">Véhicules</li>
{% endblock %}

{% block content %}
    <div class="row align-items-center">
        <div class="col"><h2>Liste des véhicules</h2></div>
    </div>
    <table class="table table-striped">
        <thead class="sticky-top">
            <tr><th>Marque/modèle</th><th>N° plaque</th><th>Responsable</th>
                <th>Emplacement</th>
            </tr>
        </thead>
        <tbody>
        {% for vehicule in object_list %}
            <tr>
                <td><a href="{% url 'vehicule-detail' vehicule.pk %}">{{ vehicule.modele }}</a></td>
                <td>{{ vehicule.no_plaque }}</td>
                <td>{{ vehicule.responsable|default:'-' }}</td>
                <td>{{ vehicule.npa }} {{ vehicule.localite }}</td>
            </tr>
        {% endfor %}
    </table>
{% endblock content %}
