{% extends "transport/base.html" %}

{% block title %}{{ object }}{% endblock %}

{% block breadcrumb %}
<li class="breadcrumb-item"><a href="{% url 'home' %}">Accueil</a></li>
<li class="breadcrumb-item"><a href="{% url 'vehicules' %}">Véhicules</a></li>
<li class="breadcrumb-item active" aria-current="page">{{ object }}</li>
{% endblock %}

{% block content %}
    {% include 'transport/vehicule_tabs.html' with active='infos' %}

    <div class="row">
        <div class="col-2 fw-bold">Modèle</div>
        <div class="col">{{ object.modele }}</div>
    </div>
    <div class="row">
        <div class="col-2 fw-bold">N° plaque</div>
        <div class="col">{{ object.no_plaque }}</div>
    </div>
    <div class="row">
        <div class="col-2 fw-bold">Accepte chaises roulantes</div>
        <div class="col">{{ object.chaises_ok|yesno:'Oui,Non' }}</div>
    </div>
    <div class="row">
        <div class="col-2 fw-bold">Responsable</div>
        <div class="col">{{ object.responsable|default:'-' }}</div>
    </div>
    <div class="row">
        <div class="col-2 fw-bold">Emplacement</div>
        <div class="col">{{ object.rue }}, {{ object.npa }} {{ object.localite }}</div>
    </div>
    {% if perms.change_vehicule %}
    <a href="{% url 'vehicule-edit' object.pk %}" class="btn btn-primary mt-3 openmodal">Modifier</a>
    {% endif %}
{% endblock content %}
