<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link {% if active == 'infos' %}active{% endif %}" href="{% url 'vehicule-detail' vehicule.pk %}">Infos</a>
  </li>
  <li class="nav-item">
    <a class="nav-link {% if active == 'agenda' %}active{% endif %}" href="{% url 'vehicule-agenda' vehicule.pk 0 0 %}">Agenda</a>
  </li>
  <li class="nav-item">
    <a class="nav-link {% if active == 'transports' %}active{% endif %}" href="{% url 'vehicule-transports' vehicule.pk %}">Transports</a>
  </li>
  <li class="nav-item">
    <a class="nav-link {% if active == 'archives' %}active{% endif %}" href="{% url 'vehicule-archives' vehicule.pk %}">Archives</a>
  </li>
</ul>
