{% extends "transport/base.html" %}
{% load transport_utils %}

{% block title %}{{ object }}{% endblock %}

{% block breadcrumb %}
<li class="breadcrumb-item"><a href="{% url 'home' %}">Accueil</a></li>
<li class="breadcrumb-item"><a href="{% url 'vehicules' %}">Véhicules</a></li>
<li class="breadcrumb-item active" aria-current="page">{{ object }}</li>
{% endblock %}

{% block content %}
    {% include 'transport/vehicule_tabs.html' with active=view.active %}

<table class="table table-sm">
    <thead>
        <tr><th>Date</th><th>Départ</th><th>Rdv</th><th>Retour</th><th>Client</th><th></th><th>Destination</th><th>Statut</th></tr>
    </thead>
    <tbody>
    {% for transp in object_list %}
        {% transport_line transp 'statut,-chauffeur' %}
    {% empty %}<tr><td><i>Aucun transport pour l’instant.</i></td></tr>
    {% endfor %}
    </tbody>
</table>
{% endblock content %}
