﻿{% load transport_utils %}
<!-- Loaded in BS modal -->
<form id="standalone-form" class="agenda-edit no-button-bar" method="post" action="{{ request.path }}">{% csrf_token %}
    <div>{{ form.non_field_errors }}</div>
    {% if form.client %}
        {{ form.client }}
        <div class="input-group">
            {{ form.client_select }}
            {{ form.client.errors }} {{ form.client_select.errors }}
        </div>
    {% endif %}
    <div class="d-flex">
        <div>{{ form.duree }}</div>
    </div>
    {% if form.kms %}
    <div>{{ form.kms.as_field_group }}</div>
    {% endif %}
    <div class="formfield">
        {{ form.description.errors }}{{ form.description.label_tag }}{{ form.description }}
    </div>
</form>

<div class="modal-footer row">
    {% if delete_url %}
    <div class="col-3 ps-0">
        <form class="inline" method="post" action="{{ delete_url }}">
            <button type="submit" id="delete" class="btn btn-danger delete">Supprimer</button>
        </form>
    </div>
    {% endif %}
    <div class="col text-end pe-0">
        <button type="button" id="modal-cancel" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
        <button type="submit" id="modal-save" form="standalone-form" class="btn btn-primary">Enregistrer</button>
    </div>
</div>

{% if object.pk and occ_date %}
    <form class="inline" method="post" action="{{ toggle_url }}">
        {% csrf_token %}
        <input name="occ_date" type="hidden" value="{{ occ_date|date:'c' }}">
        <button type="submit" id="delete" class="btn btn-warning delete confirm"
            data-confirm="Voulez-vous vraiment {% if occ_obj %}restaurer{% else %}annuler{% endif %} cette occurrence ?">
                {% if occ_obj %}Restaurer{% else %}Annuler{% endif %} l’occurrence du {{ occ_date|date:'j F' }}
        </button>
    </form>
{% endif %}
