<tr><td>{{ occup.duree.lower|date:'D d.m.Y'|upper }}</td>
    <td>{{ occup.duree.lower|date:'H:i' }}</td><td></td><td>{{ occup.duree.upper|date:'H:i' }}</td><td></td>
    <td>Utilisation de <a href="{% url 'vehicule-agenda' occup.vehicule.pk occup.duree.lower.year occup.duree.lower.isocalendar.week %}">{{ occup.vehicule }}</a>
        {% if occup.description %} {% help_tooltip occup.description %}{% endif %}
    </td>
    <td></td><td></td><td></td>
</tr>
