/* Elements de l'alarme à masquer pour les visites */
#add-samas-button, .courrier_non_envoye, #bloc_facturation {
  display: none;
}

.contact-visites {
  background-color: rgba(0, 207, 255, 0.14);
}

#form-inscription > div > label, .libelle_inscription {
  color: #4d4946;
  background-color: #eee;
  width: 100%;
  padding: 3px 6px;
}

/* Parce qu'un texte peut suivre le widget */
#id_date_quest { display: inline-block; }
