{% extends "transport/factures.html" %}

{% block export_factures %}
    {% if api_export %}
    <div class="col-auto text-end">
        <form method="post" action="{{ api_export }}" class="unmonitor">{% csrf_token %}
            <button type="submit" class="btn btn-primary" title="Exportation CSV des factures pour la compta">
                Exportation CSV pour compta
            </button>
        </form>
    </div>
    {% endif %}
{% endblock %}
