{% extends "base.html" %}

{% block title %}Appartements{% endblock %}

{% block breadcrumb %}
<li class="breadcrumb-item"><a href="{% url 'home' %}">Accueil</a></li>
<li class="breadcrumb-item active" aria-current="page">Appartements</li>
{% endblock %}

{% block content %}
    <div class="row align-items-center">
        <div class="col"><h2>Appartements avec encadrement</h2></div>
        <div class="col text-end">
            <a class="btn btn-sm btn-outline-primary" href="{% url 'appart-new' %}">Nouveau</a>
        </div>
    </div>

    <table class="table">
        <thead class="sticky-top">
            <tr>
                <th>N° app.</th><th>Adresse</th><th>Gérant</th><th>Client actuel</th><th style="width: 20%;">Remarques</th>
            </tr>
        </thead>
        <tbody>
        {% for appart in object_list %}
            <tr>
                <td>
                    <a href="{% url 'appart-edit' appart.pk %}">{{ appart.no_app }}</a>
                </td>
                <td>{{ appart.rue }}<br>{{ appart.npa }} {{ appart.localite }}</td>
                <td>{{ appart.gerant.get_full_name }}</td>
                <td>{% with client=appart.client_actuel %}
                    {% if client %}<a href="{{ client.get_absolute_url }}">{{ client.noms }} {{ client.prenoms }}</a>{% else %}-{% endif %}
                    {% endwith %}
                </td>
                <td>{{ appart.remarques }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
