{% extends "base.html" %}

{% block title %}Ajout/édition d’appartement{% endblock %}

{% block breadcrumb %}
<li class="breadcrumb-item"><a href="{% url 'home' %}">Accueil</a></li>
<li class="breadcrumb-item"><a href="{% url 'apparts' %}">Appartements</a></li>
<li class="breadcrumb-item active" aria-current="page">Édition</li>
{% endblock %}

{% block content %}
{% if form.errors or form.formset.errors %}
    <div class="alert alert-danger alert-dismissible">
        Le formulaire contient des erreurs, veuillez les corriger avant d'enregistrer à nouveau.
    </div>
{% endif %}
<p>{{ form.non_field_errors }}</p>
<form method="post" action="{{ request.path }}" autocomplete="off" class="debounce">{% csrf_token %}
    {% for field in form.hidden_fields %}{{ field }}{% endfor %}
    {% for field in form.visible_fields %}
        <div class="form-group">
            {{ field.label_tag }} {{ field.errors }} {{ field }}
        </div>
        {% if field.name == 'gerant_select' and not form.client_select and form.instance.pk %}
        <div class="mt-2 mb-2">
            Client actuel : <a href="{{ form.instance.client_actuel.get_absolute_url }}">{{ form.instance.client_actuel }}</a>
            <button class="btn btn-sm btn-outline-secondary ms-4 openmodal" title="Mettre une date de fin pour ce client"
                    data-modalurl="{% url 'clientappart-fin' form.instance.pk %}">Terminer</button>
        </div>
        {% endif %}
    {% endfor %}
    <div class="d-flex justify-content-between mt-2">
        <div></div>
        <button type="submit" class="btn btn-primary">Enregistrer</button>
    </div>
</form>

{% endblock content %}
