{% extends "alarme/base.html" %}
{% load alarme_utils %}

{% block title %}Statistiques bénévoles{% endblock %}

{% block content %}
    {% include "stat-form.html" %}
    {% include "stats/tabs.html" with active="benevoles" %}

    {% if stats %}
    <div class="row">
        <div class="col">
            <div class="mt-3 ms-3">
                {{ date_form.avs_only }} {{ date_form.avs_only.label_tag|strip_colon }}
            </div>
            <table class="table table-sm table-hover stat_table">
                <thead>
                    <tr><th></th>
                        {% for month in months %}<th class="text-end">{{ month }}</th>{% endfor %}
                        <th class="text-end">Total</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>{{ labels.benevoles.label }} {% help_tooltip labels.benevoles.help %}</td>
                        {% for month in months %}
                            <td class="num">{{ stats.benevoles|get_item:month|default_if_none:'-' }}</td>
                        {% endfor %}
                        <td class="num">{{ stats.benevoles|get_item:'total' }}</td>
                    </tr>
                </tbody>
                <tbody class="table-group-divider">
                    {% for pk, mission in missions.items %}
                    <tr>
                        <td><button class="btn btn-secondary-light btn-sm collapseImg collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse{{ pk }}" aria-expanded="false">▼</button> <b>{{ mission }}</b>
                        </td>
                        {% for month in months %}
                            <td class="num">{{ stats|get_item:pk|get_item:month|get_item:'nb' }}</td>
                        {% endfor %}
                        <td class="num">{{ stats|get_item:pk|get_item:'total'|get_item:'nb' }}</td>
                    </tr>
                        {% for key in stat_subkeys %}
                        <tr class="collapse" id="collapse{{ pk }}">
                            <td>{{ labels|get_item:key|get_item:'label' }}</td>
                            {% for month in months %}
                                <td class="num">{{ stats|get_item:pk|get_item:month|get_item:key|format_type:'-' }}</td>
                            {% endfor %}
                            <td class="num">{{ stats|get_item:pk|get_item:'total'|get_item:key|format_type:'-' }}</td>
                        </tr>
                        {% endfor %}
                    {% endfor %}
                </tbody>
                <tbody class="table-group-divider">
                    <tr>
                        <td><b>Total toutes interventions</b></td>
                        {% for month in months %}
                            <td class="num">{{ stats.total|get_item:month|get_item:'nb' }}</td>
                        {% endfor %}
                    </tr>
                    {% for key in stat_subkeys %}
                    <tr>
                        <td>{{ labels|get_item:key|get_item:'label' }}</td>
                        {% for month in months %}
                            <td class="num">{{ stats.total|get_item:month|get_item:key|format_type:'-' }}</td>
                        {% endfor %}
                        <td class="num">{{ stats.total.total|get_item:key|format_type:'-' }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <div class="text-end">
                <a class="btn-icon" title="Exporter la statistique" href=".{% querystring export=1 %}">
                    <img class="icon-ui" src="{% static 'ficons/tsv.svg' %}">
                </a>
            </div>
        </div>
    </div>
    {% endif %}
{% endblock %}
