{% extends "besoins/base.html" %}

{% block title %}Importation des clients OSAD{% endblock %}

{% block content %}
<h1>Importation des clients OSAD</h1>
<p>
    Ce formulaire permet d’importer les clients OSAD à partir d’un fichier d’adresses au format .xlsx ou .csv.
    Si des clients OSAD actuellement dans cette base de données ne figurent plus dans ce fichier, ils seront archivés et plus disponibles pour le questionnaire des besoins.
</p>
<form method="post" enctype="multipart/form-data" class="debounce unmonitor">{% csrf_token %}
    {% if lignes_rapport %}
        <p class="alert alert-success">
        Le test d'importation est terminée. Vous trouverez ci-après les erreurs
        ou les changements qui auraient été effectués si vous n’aviez pas choisi
        l’option de test.
        </p>
        <div class="alert alert-success">
            {% for line in lignes_rapport %}<div>{{ line }}</div>{% endfor %}
        </div>
    {% endif %}

    {{ form.as_div }}
    <button type="submit" class="btn btn-primary">Importer</button>
</form>
{% endblock %}
