{% extends "transport/base.html" %}

{% block title %}Statistiques chauffeurs{% endblock %}

{% block content %}
    {% include "stat-form.html" %}
    {% include "transport/stats/tabs.html" with active=view.active %}

    <table class="table table-sm table-hover stat_table">
        <thead>
            <tr><th></th>{% for month in months %}<th class="text-end">{{ month }}</th>{% endfor %}
            <th class="text-end">Total</th></tr>
        </thead>
        <tbody>
            <tr>
                <td>{{ labels.0.label }}{% if labels.0.help %}{% help_tooltip labels.0.help %}{% endif %}</td>
                {% for month in months %}
                    <td class="num">{{ stats.nb_chauffeurs|get_item:month|default_if_none:'-' }}</td>
                {% endfor %}
                <td class="num">{{ stats.nb_chauffeurs|get_item:'total' }}</td>
            </tr>
            <tr>
                <td>{{ labels.1.label }}{% if labels.1.help %}{% help_tooltip labels.1.help %}{% endif %}</td>
                {% for month in months %}
                    <td class="num">{{ stats.nb_chauffeurs_dispos|get_item:month|default_if_none:'-' }}</td>
                {% endfor %}
                <td class="num">{{ stats.nb_chauffeurs_dispos|get_item:'total' }}</td>
            </tr>
            {% for reg, reg_key in regions %}
                <tr class="substats">
                    <td>{{ reg }}</td>
                    {% for month in months %}
                        <td class="num">{{ stats|get_item:reg_key|get_item:month|default_if_none:'-' }}</td>
                    {% endfor %}
                    <td class="num"></td>
                </tr>
            {% endfor %}
            <tr>
                <td>{{ labels.2.label }}{% if labels.2.help %}{% help_tooltip labels.2.help %}{% endif %}</td>
                {% for month in months %}
                    <td class="num">{{ stats.km_chauffeurs|get_item:month|default_if_none:'-' }}</td>
                {% endfor %}
                <td class="num">{{ stats.km_chauffeurs|get_item:'total' }}</td>
            </tr>
            <tr>
                <td>{{ labels.3.label }}{% if labels.3.help %}{% help_tooltip labels.3.help %}{% endif %}</td>
                {% for month in months %}
                    <td class="num">{{ stats.frais_chauffeurs|get_item:month|default_if_none:'-' }}</td>
                {% endfor %}
                <td class="num">{{ stats.frais_chauffeurs|get_item:'total' }}</td>
            </tr>
            <tr>
                <td>{{ labels.4.label }}{% if labels.4.help %}{% help_tooltip labels.4.help %}{% endif %}</td>
                {% for month in months %}
                    <td class="num">{{ stats.duree_chauffeurs|get_item:month|default_if_none:'-'|format_duree:'HM' }}</td>
                {% endfor %}
                <td class="num">{{ stats.duree_chauffeurs|get_item:'total'|format_duree:'HM' }}</td>
            </tr>
            <tr>
                <td>{{ labels.5.label }}{% if labels.5.help %}{% help_tooltip labels.5.help %}{% endif %}</td>
                <td colspan="{{ months|length }}"></td>
                <td class="num">
                    <a href="{% url 'benevole-formations-export' 'transport' %}{% querystring %}">{{ stats.nb_formations.total }}</a>
                </td>
            </tr>
            <tr>
                <td>{{ labels.6.label }}{% if labels.6.help %}{% help_tooltip labels.6.help %}{% endif %}</td>
                <td colspan="{{ months|length }}"></td>
                <td class="num">{{ stats.duree_formations.total|format_duree:'HM' }}</td>
            </tr>
        </tbody>
    </table>
    <div class="text-end">
        <a class="btn-icon" title="Exporter la statistique" href=".{% querystring export=1 %}">
            <img class="icon-ui" src="{% static 'ficons/tsv.svg' %}">
        </a>
    </div>
{% endblock %}
