{% extends "transport/base.html" %}

{% block title %}Statistiques{% endblock %}

{% block content %}
    <div class="row border-bottom mb-3">
        <div class="col">
            <form id="date_select_form" class="immediate_submit" method="get">
                {{ date_form.non_field_errors }}
                <p class="lead">
                    Statistiques pour l’année {{ date_form.year }}
                </p>
            </form>
        </div>
    </div>

    {% include "transport/stats/tabs.html" with active=view.active %}

    {% if stats %}
    <table class="table table-sm table-hover table-striped stat_table">
        <thead>
            <tr><th>Statistique transports</th><th class="text-end">{{ annee }}</th></tr>
            <tr><th></th>{% for month in months %}<th class="text-end">{{ month.abrev }}</th>{% endfor %}
                <th class="text-end">Total</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{ labels.count_cl }}</td>
                {% for line in stats.values %}<td class="num">{{ line.count_cl|default:0 }}</td>{% endfor %}
                <td class="num table-primary">{{ totals.count_cl }}</td>
            </tr>
            <tr>
                <td>{{ labels.count_chauff }}</td>
                {% for line in stats.values %}<td class="num">{{ line.count_chauff|default:0 }}</td>{% endfor %}
                <td class="num table-primary">{{ totals.count_chauff }}</td>
            </tr>
            <tr>
                <td>{{ labels.count_transp }} {% help_tooltip "un aller-retour compte comme 2 transports" %}</td>
                {% for line in stats.values %}<td class="num">{{ line.count_transp|default:0 }}</td>{% endfor %}
                <td class="num table-primary">{{ totals.count_transp }}</td>
            </tr>
            <tr>
                <td>{{ labels.sum_km }} {% help_tooltip "km parcourus par les chauffeurs, du départ de leur domicile au retour à leur domicile (tous clients confondus)" %}</td>
                {% for line in stats.values %}<td class="num">{{ line.sum_km|default:0}}</td>{% endfor %}
                <td class="num table-primary">{{ totals.sum_km }}</td>
            </tr>
            <tr>
                <td><i>{{ labels.km_medic }}</i> {% help_tooltip "pour clients en âge AVS ou touchant une rente et vivant à domicile" %}</td>
                {% for line in stats.values %}<td class="num">{{ line.types_traj.medic }}</td>{% endfor %}
                <td class="num table-primary">{{ totals.types_traj.medic }}</td>
            </tr>
            <tr>
                <td><i>{{ labels.km_particip }}</i> {% help_tooltip "pour clients en âge AVS ou touchant une rente et vivant à domicile" %}</td>
                {% for line in stats.values %}<td class="num">{{ line.types_traj.particip }}</td>{% endfor %}
                <td class="num table-primary">{{ totals.types_traj.particip }}</td>
            </tr>
            <tr>
                <td><i>{{ labels.km_autres }}</i> {% help_tooltip "tous les autres km, soit autres catégorie, clients non AVS, ne touchant pas de rente, ou dans un home." %}</td>
                {% for line in stats.values %}<td class="num">{{ line.types_traj.autres }}</td>{% endfor %}
                <td class="num table-primary">{{ totals.types_traj.autres }}</td>
            </tr>
            <tr>
                <td>{{ labels.sum_duree }} {% help_tooltip "durée totale du transport du départ du domicile du chauffeur au retour au domicile du chauffeur. Temps d'attente compris." %}</td>
                {% for line in stats.values %}<td class="num">{{ line.sum_duree|format_duree:'HM'|default:"00:00" }}</td>{% endfor %}
                <td class="num table-primary">{{ totals.sum_duree|format_duree:'HM' }}</td>
            </tr>
        </tbody>
    </table>
    <div class="text-end">
        <a class="btn-icon" title="Exporter la statistique" href=".{% querystring export=1 %}">
            <img class="icon-ui" src="{% static 'ficons/tsv.svg' %}">
        </a>
    </div>
    {% endif %}
{% endblock %}
