<ul class="nav nav-tabs nav-statistiques">
    {# active is defined in include tag #}
    <li class="nav-item">
        <a class="nav-link {% if active == 'transports' %}active{% endif %}"
           href="{% url 'stats-index' %}{% querystring %}">Transports</a>
    </li>
    <li class="nav-item">
        <a class="nav-link {% if active == 'chauffeurs' %}active{% endif %}"
           href="{% url 'stats-chauffeurs' %}{% querystring %}">Chauffeurs</a>
    </li>
    <li class="nav-item">
        <a class="nav-link {% if active == 'transports-ofas' %}active{% endif %}"
           href="{% url 'stats-ofas' %}{% querystring %}">Stats CRS/OFAS</a>
    </li>
</ul>
