{% extends "transport/base.html" %}

{% block title %}Statistiques{% endblock %}

{% block content %}
    {% include "stat-form.html" %}
    {% include "transport/stats/tabs.html" with active=view.active %}

    {% if stats %}
    <div class="row">
        <div class="col">
            <table class="table table-sm table-hover stat_table">
                <thead>
                    <tr><th></th>{% for month in months %}<th class="text-end">{{ month }}</th>{% endfor %}
                    <th class="text-end">Total</th></tr>
                </thead>
                <tbody>
                    <tr><td colspan="{{ months|length|add:2 }}" class="app_line">
                        <span class="lead">Transports{% if view.active == 'transports-ofas' %} (OFAS)
                            {% help_tooltip "Critères OFAS: Âge AVS et catégories Médico-thérapeutiques et Participatif-intégratif" %}{% endif %}
                        </span>
                        <span class="ms-5">
                        {% if view.active != 'transports-ofas' %}{{ date_form.region }}{% endif %}
                        </span>
                        </td>
                    </tr>
                    <tr>
                        <td>{{ stat_items.clients.label }}</td>
                        {% for month in months %}
                            <td class="num">{{ stats.clients|get_item:month|default_if_none:'-' }}</td>
                        {% endfor %}
                        <td class="num">{{ stats.clients|get_item:'total' }}</td>
                    </tr>
                    <tr>
                        <td>{{ stat_items.transports.label }} {% help_tooltip stat_items.transports.help %}</td>
                        {% for month in months %}
                            <td class="num">{{ stats.transports|get_item:month|default_if_none:'-' }}</td>
                        {% endfor %}
                        <td class="num">{{ stats.transports|get_item:'total' }}</td>
                    </tr>
                    <tr class="substats">
                        <td>dont {{ stat_items.allers.label|lower }}</td>
                        {% for month in months %}
                            <td class="num">{{ stats.allers|get_item:month|default_if_none:'-' }}</td>
                        {% endfor %}
                        <td class="num">{{ stats.allers|get_item:'total' }}</td>
                    </tr>
                    <tr class="substats bottom">
                        <td>dont {{ stat_items.allers_retours.label|lower }}</td>
                        {% for month in months %}
                            <td class="num">{{ stats.allers_retours|get_item:month|default_if_none:'-' }}</td>
                        {% endfor %}
                        <td class="num">{{ stats.allers_retours|get_item:'total' }}</td>
                    </tr>
                    <tr><td colspan="{{ months|length|add:2 }}"></td></tr>
                    <tr class="substats">
                        <td>dont Médico-thérapeutique</td>
                        {% for month in months %}
                            <td class="num">{{ stats.tr_medic|get_item:month|default_if_none:'-' }}</td>
                        {% endfor %}
                        <td class="num">{{ stats.tr_medic|get_item:'total' }}</td>
                    </tr>
                    <tr class="substats">
                        <td>dont Participatif-intégratif</td>
                        {% for month in months %}
                            <td class="num">{{ stats.tr_particip|get_item:month|default_if_none:'-' }}</td>
                        {% endfor %}
                        <td class="num">{{ stats.tr_particip|get_item:'total' }}</td>
                    </tr>
                    <tr class="substats stats-emplettes">
                        <td>dont Emplettes à deux</td>
                        {% for month in months %}
                            <td class="num">{{ stats.tr_emplettes|get_item:month|default_if_none:'-' }}</td>
                        {% endfor %}
                        <td class="num">{{ stats.tr_emplettes|get_item:'total' }}</td>
                    </tr>
                    <tr class="substats">
                        <td>dont Home</td>
                        {% for month in months %}
                            <td class="num">{{ stats.tr_home|get_item:month|default_if_none:'-' }}</td>
                        {% endfor %}
                        <td class="num">{{ stats.tr_home|get_item:'total' }}</td>
                    </tr>
                    <tr>
                        <td>{{ stat_items.km_chauffeurs.label }} {% help_tooltip stat_items.km_chauffeurs.help %}</td>
                        {% for month in months %}
                            <td class="num">{{ stats.km_chauffeurs|get_item:month|default_if_none:'-' }}</td>
                        {% endfor %}
                        <td class="num">{{ stats.km_chauffeurs|get_item:'total' }}</td>
                    </tr>
                    <tr><td colspan="{{ months|length|add:2 }}"></td></tr>
                    <tr class="substats">
                        <td>dont Médico-thérapeutique</td>
                        {% for month in months %}
                            <td class="num">{{ stats.km_medic|get_item:month|default_if_none:'-' }}</td>
                        {% endfor %}
                        <td class="num">{{ stats.km_medic|get_item:'total' }}</td>
                    </tr>
                    <tr class="substats">
                        <td>dont Participatif-intégratif</td>
                        {% for month in months %}
                            <td class="num">{{ stats.km_particip|get_item:month|default_if_none:'-' }}</td>
                        {% endfor %}
                        <td class="num">{{ stats.km_particip|get_item:'total' }}</td>
                    </tr>
                    <tr class="substats stats-emplettes">
                        <td>dont Emplettes à deux</td>
                        {% for month in months %}
                            <td class="num">{{ stats.km_emplettes|get_item:month|default_if_none:'-' }}</td>
                        {% endfor %}
                        <td class="num">{{ stats.km_emplettes|get_item:'total' }}</td>
                    </tr>
                    <tr class="substats">
                        <td>dont Home</td>
                        {% for month in months %}
                            <td class="num">{{ stats.km_home|get_item:month|default_if_none:'-' }}</td>
                        {% endfor %}
                        <td class="num">{{ stats.km_home|get_item:'total' }}</td>
                    </tr>
                    <tr class="stats-emplettes">
                        <td>{{ stat_items.clients_emplettes.label }}</td>
                        {% for month in months %}
                            <td class="num">{{ stats.clients_emplettes|get_item:month|default_if_none:'-' }}</td>
                        {% endfor %}
                        <td class="num">{{ stats.clients_emplettes|get_item:'total' }}</td>
                    </tr>
                    <tr class="stats-emplettes">
                        <td>{{ stat_items.chauffeurs_emplettes.label }}</td>
                        {% for month in months %}
                            <td class="num">{{ stats.chauffeurs_emplettes|get_item:month|default_if_none:'-' }}</td>
                        {% endfor %}
                        <td class="num">{{ stats.chauffeurs_emplettes|get_item:'total' }}</td>
                    </tr>
                    <tr class="stats-emplettes">
                        <td>{{ stat_items.duree_emplettes.label }}</td>
                        {% for month in months %}
                            <td class="num">{{ stats.duree_emplettes|get_item:month|default_if_none:'-'|format_duree }}</td>
                        {% endfor %}
                        <td class="num">{{ stats.duree_emplettes|get_item:'total'|format_duree }}</td>
                    </tr>
                </tbody>
                <tbody class="table-group-divider">
                    <tr>
                        <td>{{ stat_items.annules.label }}</td>
                        {% for month in months %}
                            <td class="num">{{ stats.annules|get_item:month|counter_total }}</td>
                        {% endfor %}
                        <td class="num">{{ stats.annules.total|counter_total }}</td>
                    </tr>
                    {% for label, key in stat_items.annules.sub_items %}
                    <tr class="substats">
                        <td>dont {{ label }}</td>
                        {% for month in months %}
                            <td class="num">{{ stats.annules|get_item:month|get_item:key|default_if_none:'-' }}</td>
                        {% endfor %}
                        <td class="num">{{ stats.annules.total|get_item:key }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
                <tbody class="table-group-divider">
                    <tr>
                        <td>{{ stat_items.total_factures.label }}</td>
                        {% for month in months %}
                            <td class="num">{{ stats.total_factures|get_item:month|default_if_none:'-'|format_duree }}</td>
                        {% endfor %}
                        <td class="num">{{ stats.total_factures|get_item:'total'|format_duree }}</td>
                    </tr>
                </tbody>
            </table>
            <div class="text-end">
                <a class="btn-icon" title="Exporter la statistique" href=".{% querystring export=1 %}">
                    <img class="icon-ui" src="{% static 'ficons/tsv.svg' %}">
                </a>
            </div>
        </div>
    </div>
    {% endif %}
{% endblock %}
