{% extends "base.html" %}

{% block title %}Page introuvable{% endblock %}

{% block content %}
  <h2>Page introuvable</h2>
  {% if exception == "Resolver404" %}
  <p>Nous sommes désolés, la page demandée n'existe pas ou plus.</p>
  {% else %}
  <p>{{ exception }}</p>
  {% endif %}
{% endblock %}
