{% extends base %}
{% load agenda %}

{% block extrastyle %}
<link rel="stylesheet" type="text/css" href="{% static 'css/agenda.css' %}">
{% endblock %}

{% block title %}{{ agendas.0.title }}{% endblock %}

{% block content %}
    {% if benevole and show_tabs %}
        {% include 'benevole/benevole_tabs.html' with active='agenda' %}
    {% endif %}
    {% if vehicule and show_tabs %}
        {% include 'transport/vehicule_tabs.html' with active='agenda' %}
    {% endif %}

{% if filter_form %}
    <form id="agenda-filter-form" method="post">{% csrf_token %}
        <div class="">
            Journée du <input type="text" name="date" class="vDateField" size="10" data-url="{% url 'agenda-day' 0 0 0 %}">
        </div>
        {{ filter_form.as_p }}
    </form>
{% endif %}

{% for agenda in agendas %}
    <a name="{{ agenda.chauffeur.username }}"></a>
    {% if agenda.title %}<h2>{{ agenda.title }}</h2>{% endif %}

    <div class="mb-1 d-flex" style="align-items: center; text-align: center;">
        <div style="flex-grow: 0;">
            <a class="btn btn-secondary" href="{{ agenda.prev_events }}" title="Semaine précédente">&lt;</a>
        </div>

        <div style="flex: auto;">
            {% for btn in agenda.add_buttons %}
            <a class="btn btn-{{ btn.style }} openmodal" href="{{ btn.href }}" title="{{ btn.title }}">{{ btn.title }}</a>
            {% endfor %}
        </div>

        {% block center-buttons %}
        {% endblock %}

        <div style="flex-grow: 0;">
            <a class="btn btn-secondary" href="{{ agenda.next_events }}" title="Semaine suivante">&gt;</a>
        </div>
    </div>

    {% block agenda_content %}
    {% if agenda.has_holidays %}
    <div class="agenda-grid holiday-grid">
        {% for day, events in agenda.week_events.items %}
        <div class="cell-holiday">{% if events.holiday %}{{ events.holiday }}{% endif %}</div>
        {% endfor %}
    </div>
    {% endif %}

    {% include 'agenda_grid.html' %}

    {% endblock %}
{% endfor %}
{% endblock %}
