<!DOCTYPE html>
<html lang="fr">
    <head>
        <title>
            {% block title_intro %}Croix-Rouge - {{ current_app|capfirst }}{% endblock %} /
            {% block title %}{% endblock %}
        </title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {% block extrameta %}{% endblock %}
        <link rel="icon" href="{% static 'favicon.ico' %}">

        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/main.css' %}">
        <link rel="stylesheet" href="{% static 'css/custom.css' %}">
        {% block extrastyle %}{% endblock %}

        <script src="{% static 'js/bootstrap.bundle.min.js' %}" defer></script>
        <script src="{% static 'js/autocomplete.js' %}" defer></script>
        <script src="{% static 'js/js.cookie.min.js' %}" defer></script>
        <script src="{% static 'js/theme.js' %}" defer></script>
        <script src="{% static 'js/main.js' %}" defer></script>
        <script src="{% static 'js/custom.js' %}" defer></script>
        {% block extra_javascript %}{% endblock %}
        {{ form.media }}
    </head>
    <body class="d-flex flex-column h-100 {{ test_instance|yesno:'test_instance,' }} {% block bodyclass %}{% endblock %}">
        <header>
            <figure class="mb-0">
                <a href="/">
                    <img id="logo-cr" src="{% static main_logo %}">
                </a>
            </figure>
            {% if test_instance %}<div id="header_test_text">Instance de test</div>{% endif %}
            {% block app_logo %}{% if app_logo %}<img id="logo-app" src="{% static app_logo %}">{% endif %}{% endblock %}
        </header>

        {% block user_bar %}
        {% include 'user_bar.html' %}
        {% endblock %}

        <div class="top-container container mb-3">
            <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
              <ol class="breadcrumb">
                {% block breadcrumb %}
                {% if breadcrumbs %}{% for link, label in breadcrumbs %}
                  {% if link %}<li class="breadcrumb-item"><a href="{{ link }}">{{ label }}</a></li>
                  {% else %}<li class="breadcrumb-item active" aria-current="page">{{ label }}</li>
                  {% endif %}
                {% endfor %}
                {% elif user.is_authenticated %}
                  <li class="breadcrumb-item"><a href="/">Accueil</a></li>
                {% endif %}
                {% endblock %}
              </ol>
            </nav>

            {% include 'messages_block.html' %}

            <section class="mt-3 main-content">
                {% block content %}{% endblock %}
            </section>
        </div>

        <footer class="footer mt-auto p-4 border-top bg-dark text-light">
            {% block footer %}{% endblock %}
        </footer>

    <div id="waitOverlay" hidden>
        <div class="loader text-center">
            <svg version="1.1" id="loader-1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
           width="40px" height="40px" viewBox="0 0 40 40" enable-background="new 0 0 40 40" xml:space="preserve">
          <path opacity="0.2" fill="#000" d="M20.201,5.169c-8.254,0-14.946,6.692-14.946,14.946c0,8.255,6.692,14.946,14.946,14.946
            s14.946-6.691,14.946-14.946C35.146,11.861,28.455,5.169,20.201,5.169z M20.201,31.749c-6.425,0-11.634-5.208-11.634-11.634
            c0-6.425,5.209-11.634,11.634-11.634c6.425,0,11.633,5.209,11.633,11.634C31.834,26.541,26.626,31.749,20.201,31.749z"/>
          <path fill="#000" d="M26.013,10.047l1.654-2.866c-2.198-1.272-4.743-2.012-7.466-2.012h0v3.312h0
            C22.32,8.481,24.301,9.057,26.013,10.047z">
            <animateTransform attributeType="xml"
              attributeName="transform"
              type="rotate"
              from="0 20 20"
              to="360 20 20"
              dur="0.5s"
              repeatCount="indefinite"/>
            </path>
          </svg>
        </div>
    </div>
    {% include 'modal.html' %}

    </body>
    <!-- SVG for theme switcher -->
    <svg xmlns="http://www.w3.org/2000/svg" class="base-svgs" hidden>
      <symbol viewBox="0 0 24 24" width="1rem" height="1rem" id="icon-auto"><path d="M0 0h24v24H0z" fill="currentColor"/><path d="M12 22C6.477 22 2 17.523 2 12S6.477 2 12 2s10 4.477 10 10-4.477 10-10 10zm0-2V4a8 8 0 1 0 0 16z"/></symbol>
      <symbol viewBox="0 0 24 24" width="1rem" height="1rem" id="icon-moon"><path d="M0 0h24v24H0z" fill="currentColor"/><path d="M10 7a7 7 0 0 0 12 4.9v.1c0 5.523-4.477 10-10 10S2 17.523 2 12 6.477 2 12 2h.1A6.979 6.979 0 0 0 10 7zm-6 5a8 8 0 0 0 15.062 3.762A9 9 0 0 1 8.238 4.938 7.999 7.999 0 0 0 4 12z"/></symbol>
      <symbol viewBox="0 0 24 24" width="1rem" height="1rem" id="icon-sun"><path d="M0 0h24v24H0z" fill="currentColor"/><path d="M12 18a6 6 0 1 1 0-12 6 6 0 0 1 0 12zm0-2a4 4 0 1 0 0-8 4 4 0 0 0 0 8zM11 1h2v3h-2V1zm0 19h2v3h-2v-3zM3.515 4.929l1.414-1.414L7.05 5.636 5.636 7.05 3.515 4.93zM16.95 18.364l1.414-1.414 2.121 2.121-1.414 1.414-2.121-2.121zm2.121-14.85l1.414 1.415-2.121 2.121-1.414-1.414 2.121-2.121zM5.636 16.95l1.414 1.414-2.121 2.121-1.414-1.414 2.121-2.121zM23 11v2h-3v-2h3zM4 11v2H1v-2h3z"/></symbol>
    </svg>
</html>
