{% if messages %}
<ul class="list-unstyled messages">
    {% for message in messages %}
        <li class="alert {{ message.tags }} alert-dismissible" role="alert">
            {{ message|linebreaksbr|capfirst }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </li>
    {% endfor %}
</ul>
{% endif %}
