<div id="user-bar" class="noprint">
    <div class="col text-end pe-3">
        {% if user.is_authenticated %}
        <div id="user-tools" class="d-flex">
            <div class="fw-bold ms-auto">
                <a href="{% url 'two_factor:profile' %}">{% firstof user.get_short_name user.get_username %}</a>
            </div>
            <div class="ms-2 me-2">•</div>
            <form action="{% url 'logout' %}" method="post" class="d-inline-block">
                {% csrf_token %}
                <button type="submit" class="nav-link btn btn-link m-0">
                    Se déconnecter
                </button>
            </form>
            {% include "admin/color_theme_toggle.html" %}
        </div>
        {% endif %}
        <div class="col-xl-1"></div>
    </div>
</div>
