<table class="table mt-4">
    <thead>
        <th colspan="3" class="fw-bold">Bénéficiaires en attente de la visite d’inscription</th>
        <th>Date de la demande</th><th>Visite prévue</th>
    </thead>
{% for client in en_attente %}
    <tr>
        {% with adresse=client.adresse %}
        <td><a href="{% url 'client-edit' client.pk %}">{{ client.nom_prenom }}</a></td>
        <td>{{ adresse.rue }}</td>
        <td>{{ adresse.npa }} {{ adresse.localite }}</td>
        <td>{{ client.date_demande|date:'d.m.Y' }}</td>
        <td>{% if client.visite_prevue %}
            {{ client.visite_prevue.debut|date:'d.m.Y H:i' }}, par {{ client.visite_prevue.visiteur }}
                {% if user.benevole == client.visite_prevue.visiteur %}
                <button type="button" class="btn btn-light btn-icon openmodal" title="Modifier la visite"
                        data-modalurl="{% url 'visite-edit' client.visite_prevue.pk %}"
                        data-deleteurl="{% url 'visite-delete' client.visite_prevue.pk %}"
                        data-deleteconfirm="Souhaitez-vous vraiment supprimer cette visite ?">
                    <img src="{% static 'img/edit.svg' %}">
                </button>
                {% endif %}
            {% elif profil == "inscripteur" %}<a class="btn btn-sm btn-primary openmodal"
                         href="{% url 'visite-new' %}?client={{ client.pk }}&benevole={{ user.benevole.pk }}">Planifier</a>
            {% else %}-{% endif %}
        </td>
        {% endwith %}
    </tr>
{% endfor %}
</table>
