{% extends "visite/base.html" %}
{% load common_utils visite_utils %}
{# Template shared for global attributions list and for benevole attributions list #}

{% block title %}Binômes visites{% endblock %}

{% block breadcrumb %}
<li class="breadcrumb-item"><a href="{% url 'home' %}">Accueil</a></li>
<li class="breadcrumb-item active" aria-current="page">Binômes</li>
{% endblock %}

{% block content %}
    <div class="row align-items-center">
        <div class="col"><h2>{{ title }} <span class="fs-5">({{ paginator.count }})</span></h2></div>
        {% if active %}
        <div class="col-auto text-end">
            <!--a class="btn btn-sm btn-outline-primary" href="">Archives</a-->
            {% if active == 'benevole' %}
            <a class="btn btn-secondary btn-sm" href="{% url 'visites' %}?visiteur={{ benevole.pk }}">⇒ Vers les visites</a>
            {% endif %}
            <a class="btn btn-sm btn-primary openmodal" href="{% url 'attribution-new' %}">Nouveau binôme</a>
        </div>
        {% endif %}
    </div>

    {% include view.tabs_template %}

    <form class="immediate_submit table-filter unmonitor" method="get" action=".">
    {% if active != 'benevole' %}
    <div class="mt-2 me-2 d-flex align-items-center">
        <span class="me-3">Afficher:</span>
        <div class="">
            <input type="radio" class="btn-check" name="type_affichage" id="aff_heures" value="heures" checked>
            <label class="btn btn-outline-success" for="aff_heures">Heures</label>
        </div>
        <div class="ms-2">
            <input type="radio" class="btn-check" name="type_affichage" id="aff_nombre" value="nombre">
            <label class="btn btn-outline-success" for="aff_nombre">Nbre de visites</label>
        </div>
        <select name="annee" class="form-select w-auto ms-4">
            {% for annee in annees %}<option value="{{ annee }}"{% if request.GET.annee == annee %} selected{% endif %}>{{ annee }}</option>{% endfor %}
        </select>
    </div>
    {% endif %}
    <table class="table table-striped">
        <thead class="sticky-top">
            <tr><th>Bénéficiaire</th>{% if active != 'benevole' %}<th>Bénévole</th>{% endif %}<th>Dès le</th>
                {% if active == 'terminees' or active == 'benevole' %}<th>Jusqu’au</th><th>Motif fin</th>{% endif %}
                <th>Dern. visite</th>
                {% for m in mois %}<th>{{ m|date:'M' }}</th>{% endfor %}<th></th>
            </tr>
            {% if form %}
            <tr class="filters">
                <td>{{ form.nom_client }}</td><td>{{ form.nom_visiteur }}</td><td></td>
                <td></td><td colspan="{{ mois|length }}"><td></td>
            </tr>
            {% endif %}
        </thead>
        <tbody id="filter_container">
        {% for attr in object_list %}
            <tr>
                <td><a href="{% url 'client-edit' attr.client_id %}">{{ attr.client }}</a></td>
                {% if active != 'benevole' %}
                <td><a href="{% url 'benevole-edit' attr.visiteur_id %}">{{ attr.visiteur }}</a></td>
                {% endif %}
                <td>{{ attr.debut|date:'d.m.Y' }}</td>
                {% if active == 'terminees' or active == 'benevole' %}
                <td>{{ attr.fin|date:'d.m.Y'|default:"en cours…" }}</td>
                <td>{{ attr.motif_fin }}</td>
                {% endif %}
                <td>{{ attr.derniere_visite|date:'d.m.Y'|default:"-" }}</td>
                {% for m in mois %}
                    {% total_par_mois m attr as total %}
                    <td class="month text-center border-start border-end">
                        {% if total.0 is not None %}
                            <div class="total_duree">{{ total.0|format_duree }}</div>
                            <div class="total_nbre text-center" hidden>{{ total.1 }}</div>
                        {% elif forloop.last %}
                        <a href="{% url 'visite-new' %}?client={{ attr.client.pk }}&benevole={{ attr.visiteur.pk }}" class="btn btn-sm btn-light openmodal" title="Ajouter une visite">+</a>
                        {% endif %}
                    </td>
                {% endfor %}
                <td>
                    <button type="button" class="btn btn-light btn-icon openmodal" title="Modifier le binôme" data-modalurl="{% url 'attribution-edit' attr.pk %}">
                    <img src="{% static 'img/edit.svg' %}">
                    </button>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    </form>

    {% include 'pagination.html' %}

{% endblock %}
