{% extends "visite/base.html" %}
{% load client_utils visite_utils %}

{% block title %}{{ client }} - Inscription{% endblock %}

{% block breadcrumb %}
<li class="breadcrumb-item"><a href="{% url 'home' %}">Accueil</a></li>
<li class="breadcrumb-item"><a href="{% url 'clients' %}">Bénéficiaires</a></li>
<li class="breadcrumb-item active" aria-current="page">{{ client }}</li>
{% endblock breadcrumb %}

{% block content %}
    <h2>{{ client }} {% services_as_icons client current_app 'p-2' %}</h2>
    <div class="row mt-2 mb-2">
      <div class="col-12 col-md-9">
        {% include 'client/client_tabs.html' with active='inscription' %}
      </div>
    </div>

    <form id="form-inscription" method="post" action="{{ request.path }}">{% csrf_token %}
    {% for hidden in form.hidden_fields %}{{ hidden }}{% endfor %}
    {{ form.non_field_errors }}
    {% for field in form.visible_fields %}
    <div class="form-group mb-2">
        {% if field.widget_type == 'checkbox' %}{{ field }} {{ field.label_tag|strip_colon }}
        {% else %}{{ field.label_tag }} {{ field }}{% endif %}
        {{ field.errors }}
        {% if field.name == "date_quest" and visiteur_inscr %}par {{ visiteur_inscr }}{% endif %}
    </div>
    {% endfor %}
    <div class="text-end"><button type="submit" class="btn btn-primary">Enregistrer</button></div>
    </form>
{% endblock content %}
