{% extends "base.html" %}
{% load client_utils visite_utils %}

{% block title %}{{ client }} - Visites{% endblock %}

{% block breadcrumb %}
<li class="breadcrumb-item"><a href="{% url 'home' %}">Accueil</a></li>
<li class="breadcrumb-item"><a href="{% url 'clients' %}">Bénéficiaires</a></li>
<li class="breadcrumb-item active" aria-current="page">{{ client }}</li>
{% endblock breadcrumb %}

{% block content %}
    <div class="row align-items-center">
        <div class="col"><h2>{{ client }} {% services_as_icons client current_app 'p-2' %}</h2></div>
    </div>
    <div class="row mt-2 mb-2">
      <div class="col-12 col-md-9">
        {% include 'client/client_tabs.html' with active='visites' %}
      </div>
    </div>

    <table class="table table-striped">
        <thead class="sticky-top">
            <tr><th>Bénévole</th><th>Date</th>
                <th>Durée</th><th>Compte-rendu</th>
            </tr>
        </thead>
        <tbody>
        {% for visite in object_list %}
            <tr class="hidden-btns">
                <td><a href="{% url 'benevole-edit' visite.visiteur_id %}">{{ visite.visiteur }}</a></td>
                <td>{{ visite.debut|date:'d.m.Y H:i' }}{% if visite.vad_initiale %} <span class="badge bg-warning">1ère visite</span>{% endif %}</td>
                <td>{{ visite.duree|format_duree }}</td>
                <td>{{ visite.compte_rendu }}</td>
                <td class="text-end">
                {% if visite|can_edit:request.user %}
                    <button type="button" class="btn btn-light btn-icon openmodal" title="Modifier la visite"
                            data-bs-toggle="tooltip" data-modalurl="{% url 'visite-edit' visite.pk %}">
                        <img class="icon" src="{% static 'img/edit.svg' %}">
                    </button>
                {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock content %}
