{% extends "base.html" %}
{% load client_utils visite_utils %}

{% block title %}{{ client }} - Attributions{% endblock %}

{% block breadcrumb %}
<li class="breadcrumb-item"><a href="{% url 'home' %}">Accueil</a></li>
<li class="breadcrumb-item"><a href="{% url 'clients' %}">Bénéficiaires</a></li>
<li class="breadcrumb-item active" aria-current="page">{{ client|default:"Nouveau client" }}</li>
{% endblock breadcrumb %}

{% block content %}
    <div class="row align-items-center">
        <div class="col"><h2>{{ client }} {% services_as_icons client current_app 'p-2' %}</h2></div>
    </div>
    <div class="row mt-2 mb-2">
      <div class="col-12 col-md-9">
        {% include 'client/client_tabs.html' with active='attribs' %}
      </div>
    </div>

    <table class="table table-striped">
        <thead class="sticky-top">
            <tr><th>Bénévole</th><th>Dès le</th>
                <th>Jusqu’au</th><th>Motif fin</th>
                <th>Remarques</th>{% for m in mois %}<th>{{ m|date:'M' }}</th>{% endfor %}<th></th>
            </tr>
        </thead>
        <tbody>
        {% for attr in object_list %}
            <tr>
                <td><a href="{% url 'benevole-edit' attr.visiteur_id %}">{{ attr.visiteur }}</a></td>
                <td>{{ attr.debut|date:'d.m.Y' }}</td>
                <td>{% if attr.fin %}{{ attr.fin|date:'d.m.Y' }}{% else %}<i>En cours</i>{% endif %}</td>
                <td>{{ attr.motif_fin }}</td>
                <td>
                    {% if attr.client.remarques_int_visite %}
                    <div><i>Bénéficiaire:</i> {{ attr.client.remarques_int_visite|linebreaksbr }}</div>
                    {% endif %}
                    {% if attr.benevole.remarques %}<div><i>Bénév.:</i> {{ attr.benevole.remarques|linebreaksbr }}</div>{% endif %}
                    {% if attr.remarques %}<div><i>Attrib.:</i> {{ attr.remarques|linebreaksbr }}</div>{% endif %}
                </td>
                {% for m in mois %}
                    {% total_par_mois m attr as duree %}
                    <td>
                        {% if duree %}{{ duree|format_duree }}{% elif forloop.last %}
                        <a href="{% url 'visite-new' %}?client={{ attr.client.pk }}&benevole={{ attr.visiteur.pk }}" class="btn btn-sm btn-light openmodal" title="Ajouter une visite">+</a>
                        {% endif %}
                    </td>
                {% endfor %}
                <td>
                    <button type="button" class="btn btn-light btn-icon openmodal" title="Modifier l’attribution" data-modalurl="{% url 'attribution-edit' attr.pk %}">
                    <img src="{% static 'img/edit.svg' %}">
                    </button>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock content %}
