{% extends "visite/base.html" %}
{% load client_utils %}

{% block breadcrumb %}
<li class="breadcrumb-item"><a href="{% url 'home' %}">Accueil</a></li>
<li class="breadcrumb-item active" aria-current="page">Binômes</li>
{% endblock %}

{% block content %}
    <div class="row align-items-center">
        <div class="col-8">
            <h2>Bénéficiaires en attente de visiteurs <span class="badge bg-secondary fs-6">{{ count }}</span></h2>
        </div>
        <div class="col text-end">
            <a class="btn btn-sm btn-primary openmodal" href="{% url 'attribution-new' %}">Nouveau binôme</a>
        </div>
    </div>

    <h3 class="mt-3">En attente d’un binôme depuis l’inscription <span class="badge bg-secondary fs-6">{{ attente_binome|length }}</span></h3>
    {% if not attente_binome %}<div><i>Aucune pour l’instant.</i></div>{% else %}
    <table class="table table-striped client_list">
        <thead class="sticky-top">
            <tr>
                <th>Nom</th><th>Adresse</th><th>Localité</th><th>Téléphone-s</th><th>Date de naissance</th>
                <th>Attente depuis</th><th>Remarques</th>
            </tr>
        </thead>
        <tbody>
        {% for client in attente_binome %}
            <tr>
                <td>
                    <a href="{% url 'client-edit' client.pk %}">{{ client.nom }}</a> {{ client.prenom }}
                </td>
                <td>{{ client.adresse_active.rue }}</td>
                <td>{{ client.adresse_active.npa }} {{ client.adresse_active.localite }}</td>
                <td class="tels">{{ client|tels_as_divs }}</td>
                <td>{{ client.date_naissance|date:'d.m.Y' }}</td>
                <td>{{ client.date_inscr|date:'d.m.Y' }}</td>
                <td>{{ client.remarques_int_visite }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% endif %}

    <h3 class="mt-3">En attente d’un binôme depuis la fin du binôme précédent <span class="badge bg-secondary fs-6">{{ attente_prochain|length }}</span></h3>
    {% if not attente_prochain %}<div><i>Aucune pour l’instant.</i></div>{% else %}
    <table class="table table-striped client_list">
        <thead class="sticky-top">
            <tr>
                <th>Nom</th><th>Adresse</th><th>Localité</th><th>Téléphone-s</th><th>Date de naissance</th>
                <th>Attente depuis</th><th>Remarques</th>
            </tr>
        </thead>
        <tbody>
       {% for client in attente_prochain %}
            <tr>
                <td>
                    <a href="{% url 'client-edit' client.pk %}">{{ client.nom }}</a> {{ client.prenom }}
                </td>
                <td>{{ client.adresse_active.rue }}</td>
                <td>{{ client.adresse_active.npa }} {{ client.adresse_active.localite }}</td>
                <td class="tels">{{ client|tels_as_divs }}</td>
                <td>{{ client.date_naissance|date:'d.m.Y' }}</td>
                <td>{{ client.last_fin|date:'d.m.Y' }}</td>
                <td>{{ client.remarques_int_visite }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% endif %}
{% endblock %}
