{% extends "visite/base.html" %}

{% block title %}Accueil visites{% endblock %}
{% block bodyclass %}page-home{% endblock %}
{% block breadcrumb %}{% endblock %}

{% block content %}
<h1 class="mb-5 text-center fw-bold">Visites Croix-Rouge</h1>

<div class="row row-cols-1 row-cols-md-3 g-4">
  <div class="col">
    <a href="{% url 'clients-attente' %}" class="link-light">
    <div class="card h-100 text-white mt-1">
      <div class="card-body card-smaller d-flex flex-column align-items-center justify-content-center">
        <h3 class="card-title text-center">Bénéficiaires en attente</h5>
      </div>
    </div>
    </a>
  </div>
  <div class="col">
    <a href="{% url 'clients' %}" class="link-light">
    <div class="card h-100 text-white">
      <div class="card-body card-smaller d-flex flex-column align-items-center justify-content-center">
        <h3 class="card-title">Bénéficiaires</h5>
        <p class="card-text text-center">Gestion des bénéficiaires des visites</p>
      </div>
    </div>
    </a>
  </div>
  <div class="col">
    <a href="{% url 'benevoles' 'visite' %}" class="link-light">
    <div class="card h-100 text-white">
      <div class="card-body d-flex flex-column align-items-center justify-content-center">
        <h3 class="card-title">Bénévoles</h3>
        <p class="card-text text-center">Gestion des bénévoles visiteurs</p>
      </div>
    </div>
    </a>
  </div>
  <div class="col">
    <a href="{% url 'attributions' 'encours' %}" class="link-light">
    <div class="card h-100 text-white">
      <div class="card-body d-flex flex-column align-items-center justify-content-center">
        <h3 class="card-title">Binômes</h3>
        <p class="card-text text-center">Attributions des visiteurs aux bénéficiaires</p>
      </div>
    </div>
    </a>
  </div>
  <div class="col">
    <a href="{% url 'visites' %}" class="link-light">
    <div class="card h-100 text-white">
      <div class="card-body d-flex flex-column align-items-center justify-content-center">
        <h3 class="card-title">Visites</h3>
        <p class="card-text text-center">Liste des visites</p>
      </div>
    </div>
    </a>
  </div>
  <div class="col">
    <a href="{% url 'stats-visites' %}" class="link-light">
    <div class="card text-white mb-1">
      <div class="card-body card-smaller d-flex flex-column align-items-center justify-content-center p-3">
        <h3 class="card-title">Statistiques</h3>
        <p class="card-text text-center">Nbre de bénéficiaires, bénévoles, etc.</p>
      </div>
    </div>
    </a>
    {% if perms.common.change_utilisateur %}
    <a href="{% url 'utilisateur-list' %}" class="link-light">
    <div class="card text-white">
      <div class="card-body card-smaller d-flex flex-column align-items-center justify-content-center">
        <h3 class="card-title text-center">Gestion des utilisateurs</h3>
      </div>
    </div>
    </a>
    {% endif %}
  </div>
</div>

{% include "visite/attentes_1ere_visite.html" %}

{% endblock content %}

{% block footer %}{% endblock %}
