{% extends "visite/base.html" %}

{% block title %}Accueil visites{% endblock %}
{% block breadcrumb %}{% endblock %}

{% block content %}
<h1 class="mb-5 text-center fw-bold">Visites Croix-Rouge</h1>

{% if attribs %}
<div class="text-end">
    <a class="btn btn-secondary" href="{% url 'home-app' %}">Accès portail bénévoles</a>
</div>
{% endif %}

{% include "visite/attentes_1ere_visite.html" %}

{% endblock %}
