<form id="standalone-form" class="{{ form_classes }} debounce" method="post" action="{{ request.path }}">
    {% csrf_token %}
    {% for hidden in form.hidden_fields %}{{ hidden }}{% endfor %}
    {{ form.non_field_errors }}
    <div class="form-group row mb-2">
        <div class="col-sm">
            {{ form.client.label_tag }} {{ form.client }} {{ form.client.errors }}
        </div>
        <div class="col-sm">
            {{ form.visiteur.label_tag }} {{ form.visiteur }} {{ form.visiteur.errors }}
        </div>
    </div>
    <div class="form-group row mb-2">
        <div class="col-sm mb-2">
            {{ form.debut.label_tag }} {{ form.debut }} {{ form.debut.errors }}
        </div>
        <div class="col-sm">
            {{ form.duree.label_tag }} {{ form.duree }} {{ form.duree.errors }}
            {% if form.km %}<div>{{ form.km.label_tag }} {{ form.km }} {{ form.km.errors }}</div>{% endif %}
        </div>
    </div>
    <div class="form-group mb-2">
        {{ form.compte_rendu.label_tag }} {{ form.compte_rendu }} {{ form.compte_rendu.errors }}
    </div>
    {% if form.vad_initiale %}
    <div class="form-check">
        {{ form.vad_initiale }} {{ form.vad_initiale.label_tag|strip_colon }} {{ form.vad_initiale.errors }}
    </div>
    {% endif %}

    {% if form.formset is not None %}
    <fieldset id="frais_formset">
        <div>
            {{ form.formset.management_form.as_div }}
            {% for subform in form.formset %}
                <div class="border border-2 mt-2 p-3 rounded fset-line">
                {% for hidden in subform.hidden_fields %}{{ hidden }}{{ hidden.errors }}{% endfor %}
                {{ subform.non_field_errors }}
                <div class="row align-items-end">
                    <div class="col-sm-8">
                        {{ subform.typ.label_tag }} {{ subform.typ }}{{ subform.typ.errors }}
                    </div>
                    <div class="col-sm-4">
                        {{ subform.cout.label_tag }}
                        <div class="input-group">
                            {{ subform.cout }}
                            <div class="input-group-text">CHF</div>
                        </div>
                        {{ subform.cout.errors }}
                    </div>
                    <div>{{ subform.justif.label_tag }} {{ subform.justif }}{{ subform.justif.errors }}</div>
                    {% if subform.instance.pk %}
                    <div class="text-end">
                        <span class="delete-formset-link"><img src="{% static 'admin/img/icon-deletelink.svg' %}" title="Supprimer cette ligne de frais"></span>
                    </div>
                    {% endif %}
                </div>
                </div>
            {% endfor %}
            {% with subform=form.formset.empty_form %}
            <div class="border border-2 mt-3 p-3 rounded empty_form" hidden>
                {% for hidden in subform.hidden_fields %}{{ hidden }}{% endfor %}
                <div class="row align-items-end">
                    <div class="col-sm-8">{{ subform.descriptif.label_tag }} {{ subform.descriptif }}</div>
                    <div class="col-sm-4">
                        {{ subform.cout.label_tag }}
                        <div class="input-group">
                            {{ subform.cout }}
                            <div class="input-group-text">CHF</div>
                        </div>
                    </div>
                </div>
                <div>{{ subform.justif.label_tag }} {{ subform.justif }}</div>
            </div>
            {% endwith %}
        </div>
        <div class="text-end">
            <button type="button" class="btn btn-primary mt-3 add_more" title="Ajouter un autre coût">+</button>
        </div>
    </fieldset>
    {% endif %}
</form>
