{% extends "base.html" %}

{% block title %}{{ benevole }} - Notes de frais{% endblock %}

{% block breadcrumb %}
<li class="breadcrumb-item"><a href="{% url 'home' %}">Accueil</a></li>
<li class="breadcrumb-item"><a href="{% url 'benevoles' current_app %}">Bénévoles</a></li>
<li class="breadcrumb-item active" aria-current="page">{{ benevole }}</li>
{% endblock %}

{% block content %}
    <h2>Notes de frais pour {{ benevole }}</h2>
    
    <div class="row mt-2 mb-2">
      <div class="col-12 col-md-9">
        {% include 'benevole/benevole_tabs.html' with active='notesfrais' %}
      </div>
    </div>

    <table class="table">
      <thead>
        <tr>
          <th scope="col" class="quand">Mois</th>
          <th scope="col" class="qui">Service</th>
          <th scope="col">Frais</th>
          <th scope="col">Total TTC</th>
          <th scope="col">{% if trans_url %}Transmise à la compta{% endif %}</th>
        </tr>
      </thead>
      <tbody>
        {% for note in object_list %}
        <tr>
          <td>{{ note.mois|date:'m.Y' }}</td>
          <td>{{ note.service }}</td>
          <td>{% for ligne in note.lignes.all %}
            <div>
                {{ ligne.libelle.libelle }},
                {% if ligne.montant_unit %}{{ ligne.quantite }} * {{ ligne.montant_unit|monetize }}
                {% else %}{{ ligne.quantite }}{% endif %}
            </div>
          {% endfor %}</td>
          <td>{{ note.somme_totale|monetize }}</td>
          <td>
          {% if trans_url %}
          {% if note.date_export %}{{ note.date_export|date:'d.m.Y' }}
              {% else %}
                Non
                <form method="post" action="{{ trans_url }}" class="inline unmonitor">{% csrf_token %}
                    {% if note.pk %}
                    <input type="hidden" name="note_id" value="{{ note.pk }}">
                    {% else %}
                    <input type="hidden" name="note_benevole_id" value="{{ benevole.pk }}">
                    <input type="hidden" name="note_year" value="{{ note.mois.year }}">
                    <input type="hidden" name="note_month" value="{{ note.mois.month }}">
                    {% endif %}
                    <button class="btn btn-{{ note.mois|current_month|yesno:'secondary,primary' }} long-op" type="submit"
                            data-confirm="Voulez-vous vraiment transmettre cette note de frais au système comptable ?{% if note.mois|current_month %} ATTENTION: ce mois n’est pas encore écoulé !{% endif %}">
                        Transmettre
                    </button>
                </form>
              {% endif %}
          {% endif %}
          {% if note.pk and not note.date_export and note.mois|previous_month %}
            <form method="post" action="{% url 'benevole-notesfrais-refaire' current_app note.pk %}"
                  class="inline unmonitor">{% csrf_token %}
            <button type="submit" class="btn btn-outline-secondary btn-small">
              <img src="{% static 'img/recycle.svg' %}" title="Regénérer la note (par ex. après des corrections)" data-bs-toggle="tooltip">
            </button>
            </form>
          {% endif %}
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>

    {% include 'pagination.html' %}
{% endblock %}
