{% extends "base.html" %}
{% load benev_utils client_utils %}

{% block title %}{{ labels.title }}{% endblock %}

{% block breadcrumb %}
<li class="breadcrumb-item"><a href="{% url 'home' %}">Accueil</a></li>
<li class="breadcrumb-item active" aria-current="page">{{ labels.breadcrumb }}</li>
{% endblock %}

{% block content %}
    <div class="row align-items-center">
        <div class="col-12 col-md-6"><h2>{{ labels.title }}</h2></div>
        <div class="col-12 col-md-6 d-flex flex-row-reverse align-items-center">
            {% if view.is_archive %}
                <a class="btn btn-sm btn-outline-primary" href="{{ back_url_data.url }}">{{ back_url_data.title }}</a>
            {% else %}
                <a class="btn btn-sm btn-outline-primary ms-2" href="{% url 'benevoles-archives' app %}">Archives</a>
                <a class="btn btn-sm btn-outline-primary ms-2" href="{% url 'benevole-new' app %}">{{ labels.new }}</a>
                <span>{{ form.listes }}</span>
            {% endif %}
        </div>
    </div>

    <form id="benev-filter-form" class="immediate_submit table-filter unmonitor" method="get" action=".">
    <table class="table">
        <thead class="sticky-top">
            <tr>
                <th>Nom</th><th>Localité</th><th>Tél.</th><th>Courriel</th><th>Activités</th>
                {% block add_headers %}{% endblock %}
                <th style="width: 20%;">Remarques</th>
            </tr>
            <tr class="filters">
                <td>{{ form.nom }}</td><td>{{ form.npa_localite }}</td><td>{{ form.tel }}</td>
                <td></td><td>{{ form.activites }}</td>
                {% block add_filters %}{% endblock %}
                <td>{% block 'remarques_filter' %}{% endblock %}</td>
            </tr>
        </thead>
        <tbody id="filter_container">
        {% for benevole in object_list %}
            <tr class="{{ benevole|liste_classes }}">
                <td>{% if not benevole.adresse_active.empl_geo %}
                    <img class="icon blacksvg" src="{% static 'img/warning.svg' %}"
                         title="Cette personne n’a pas été géolocalisée" data-bs-toggle="tooltip">
                    {% endif %}
                    <a href="{{ benevole.get_absolute_url }}">{{ benevole.nom }} {{ benevole.prenom }}</a></td>
                <td>{{ benevole.adresse_active.npa }} {{ benevole.adresse_active.localite }}</td>
                <td class="tels">{{ benevole|tels_as_divs }}</td>
                <td>{{ benevole.courriel|as_email }}</td>
                <td>{{ benevole.get_activites_display }}</td>
                {% block add_columns %}{% endblock %}
                <td>{% block 'remarques' %}
                    {{ benevole.remarques }}
                    {% if benevole.inactif_msg %}<div class="inactif_msg">{{ benevole.inactif_msg }}</div>{% endif %}
                {% endblock %}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    </form>

    {% include 'pagination.html' %}

{% endblock %}
