{% extends "base.html" %}

{% block title %}{{ benevole }} - Formations{% endblock %}

{% block breadcrumb %}
<li class="breadcrumb-item"><a href="{% url 'home' %}">Accueil</a></li>
<li class="breadcrumb-item"><a href="{% url 'benevoles' current_app %}">Bénévoles</a></li>
<li class="breadcrumb-item active" aria-current="page">{{ benevole }}</li>
{% endblock %}

{% block content %}
    <h2>Formations pour {{ benevole }}</h2>
    
    <div class="row mt-2 mb-2">
      <div class="col-12 col-md-9">
        {% include 'benevole/benevole_tabs.html' with active='formations' %}
      </div>
      <div class="col-12 col-md-3 text-end">
          <button type="button" class="btn btn-primary openmodal" title="Ajouter une nouvelle formation"
                  data-modalurl="{% url 'benevole-formation-add' current_app benevole.pk %}">Nouvelle formation</button
      </div>
    </div>

    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">Titre</th>
          <th scope="col">Descriptif</th>
          <th scope="col">Catégorie</th>
          <th scope="col" class="quand">Quand</th>
          <th scope="col">Attestation</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        {% for entry in object_list %}
        <tr>
          <td>{{ entry.titre }}</td>
          <td>{{ entry.descriptif }}</td>
          <td>{{ entry.categorie }}</td>
          <td>{{ entry.quand|date:'d.m.Y' }}</th>
          <td>{% if entry.attestation %}
            <a href="{{ entry.attestation.url }}"><img src="{{ entry.attestation.icon }}" class="ficon"></a>
            {% endif %}
          </td>
          <td>{% if entry|can_edit:request.user %}
              <button type="button" class="btn btn-light btn-icon openmodal" title="Modifier la formation"
                    data-modalurl="{% url 'benevole-formation-edit' current_app benevole.pk entry.pk %}"
                    data-deleteurl="{% url 'benevole-formation-delete' current_app benevole.pk entry.pk %}"
                    data-deleteconfirm="Voulez-vous vraiment supprimer cette formation ?">
                    <img src="{% static 'img/edit.svg' %}">
              </button>
              {% endif %}
          </td>
        </tr>
        {% empty %}
        <tr><td colspan="6" class="fst-italic">Aucune formation enregistrée.</td></tr>
        {% endfor %}
      </tbody>
    </table>

    {% include 'pagination.html' %}
{% endblock %}
