{% extends "base.html" %}

{% block title %}{{ benevole }}{% endblock %}

{% block breadcrumb %}
<li class="breadcrumb-item"><a href="{% url 'home' %}">Accueil</a></li>
<li class="breadcrumb-item"><a href="{{ labels.breadcrumb_url }}">{{ labels.breadcrumb1 }}</a></li>
<li class="breadcrumb-item active" aria-current="page">{{ benevole.get_full_name|default:labels.breadcrumb2 }}</li>
{% endblock %}

{% block content %}

    {% if benevole %}
        {% include 'benevole/benevole_tabs.html' with active='edition' %}
    {% endif %}

    {% block below_tabs %}
    {% if app == 'transport' and preferences %}
    <div class="row mt-3 pt-2 border-top">
        <div class="col-3 fw-bold">Préferences/incompatibilités :</div>
        <div class="col-6">
            {% for pref in preferences %}
                <div>
                    {{ pref.get_typ_display }}: {{ pref.client }}{% if pref.remarque %}, {{ pref.remarque }}{% endif %}
                </div>
            {% endfor %}
        </div>
    </div>
    {% endif %}
    {% if benevole.pk %}
        {% if not benevole.utilisateur_id %}
        <div class="alert alert-warning p-2 d-flex justify-content-between align-items-center">
            Cette personne ne dispose actuellement pas de compte pour se connecter avec l’application.
            {% if not benevole.courriel %}Une adresse de courriel est obligatoire à cet effet.{% else %}
            <div class="ms-4">
                <form method="post" action="{% url 'benevole-new-account' app form.instance.pk %}">
                  {% csrf_token %}
                  <button class="btn btn-primary" data-bs-toggle="tooltip"
                          data-confirm="Voulez-vous vraiment créer un compte et envoyer un mot de passe à cette personne ?"
                          title="Créer un compte utilisateur pour que le bénévole puisse se connecter aux applications">
                      Créer un compte
                  </button>
                </form>
            </div>
            {% endif %}
        </div>
        {% elif not benevole.utilisateur.is_active %}
        <div class="alert alert-warning p-2 d-flex justify-content-between align-items-center">
            <div>Le compte de connexion de cette personne est désactivé.</div>
            <a class="btn btn-primary" href="{% url 'utilisateur-edit' benevole.utilisateur_id %}">Modifier le compte</a>
        </div>
        {% endif %}
    {% endif %}
    {% endblock %}

    {% if form.errors or form.act_formset.errors %}
    <div class="alert alert-danger alert-dismissible">
        Le formulaire contient des erreurs, veuillez les corriger avant d'enregistrer à nouveau.
    </div>
    {% endif %}
    <p>{{ form.non_field_errors }}</p>
    <form method="post" action="{{ request.path }}" autocomplete="off" class="debounce">{% csrf_token %}
        <div class="row mb-2">
          <div class="col">
            <div class="form-group">
                {{ form.nom.label_tag }} {{ form.nom.errors }} {{ form.nom }}
            </div>
          </div>
          <div class="col">
            <div class="form-group">
                {{ form.prenom.label_tag }} {{ form.prenom.errors }} {{ form.prenom }}
            </div>
          </div>
        </div>

        {% if not form.instance.pk %}
        <div id="doublons" data-url="{% url 'benevole-autocomplete' 'tous' %}" hidden>
            <div>Doublons possibles :</div>
            <ul id="doublons_content"></ul>
        </div>
        {% endif %}

        <div class="row mb-2">
          <div class="col">
            <div class="form-group">
                {{ form.genre.label_tag }} {{ form.genre.errors }} {{ form.genre }}
            </div>
          </div>
          <div class="col">
            <div class="form-group">
                {{ form.date_naissance.label_tag }} {{ form.date_naissance.errors }} {{ form.date_naissance }}
            </div>
          </div>
        </div>

        {% if benevole.pk %}
            {% url 'benevole-edit' benevole.pk as adr_edit_url %}
            {% include "client/adresse_bloc_edit.html" %}
        {% else %}
            <div class="form-group mb-2">
            {{ form.rue.label_tag }} {{ form.rue.errors }} {{ form.rue }}
            </div>

            <div class="form-group mb-2">
              {# hidden #}{{ form.npa }} {{ form.localite }}
              {{ form.npalocalite.label_tag }}{{ form.npalocalite.errors }}{{ form.npalocalite }}
            </div>
        {% endif %}

        <div class="row mb-2">
            <div class="col-sm-6">
              <div class="card">
                  <div class="card-header fw-bold">
                    Téléphones
                  </div>
                  <div class="card-body">
                    {% include "client/phone_formset.html" %}
                  </div>
              </div>
            </div>
            <div class="col-sm-6 form-group">
            {{ form.courriel.label_tag }}
            {% help_tooltip "Cette adresse de courriel est utilisée aussi comme nom d’utilisateur pour la connexion aux applications bénévoles. Avertissez le bénévole en cas de modification." %}
            {{ form.courriel.errors }} {{ form.courriel }}
            </div>
        </div>

        <div class="row mb-2">
          <div class="col">
            <div class="form-group">
                {{ form.langues_select.label_tag }} {{ form.langues_select.errors }} {{ form.langues_select }}
                {{ form.langues.errors }} {{ form.langues }}
            </div>
          </div>
          {% if form.incompats %}
          <div class="col">
            <div class="form-group">
                {{ form.incompats.label_tag }} {{ form.incompats.errors }} {{ form.incompats }}
            </div>
          </div>
          {% endif %}
        </div>

        <div class="row mb-2">
          {% if form.formation %}
          <div class="col">
            <div class="form-group">
                {{ form.formation.label_tag }} {{ form.formation.errors }} {{ form.formation }}
            </div>
          </div>
          {% endif %}
          <div class="col">
            <div class="form-group">
                {{ form.absences.label_tag }} {{ form.absences.errors }} {{ form.absences }}
            </div>
          </div>
          {% if form.contacts %}
          <div class="col contacts_urgence">
            <div class="form-group">
                {{ form.contacts.label_tag }} {{ form.contacts.errors }} {{ form.contacts }}
            </div>
          </div>
          {% endif %}
        </div>

        {% if form.prefs_visite %}
        <div class="row mb-2">
          <div class="col">
            <div class="form-group">
                {{ form.prefs_visite.label_tag }} {{ form.prefs_visite.errors }} {{ form.prefs_visite }}
            </div>
          </div>
        </div>
        {% endif %}

        {% if form.no_plaques %}
        <div class="row mb-2">
          <div class="col">
            <div class="form-group">
                {{ form.vehicule.label_tag }} {{ form.vehicule.errors }} {{ form.vehicule }}
            </div>
          </div>
          <div class="col">
            <div class="form-group">
                {{ form.no_plaques.label_tag }} {{ form.no_plaques.errors }} {{ form.no_plaques }}
            </div>
          </div>
          <div class="col">
            <div class="form-group">
                {{ form.nb_portes_vhc.label_tag }} {{ form.nb_portes_vhc.errors }} {{ form.nb_portes_vhc }}
            </div>
          </div>
        </div>
        <div class="row mb-2">
          <div class="col conduit_vehicule mt-auto mb-2">
            <div class="form-group">
                {{ form.conduit_vehicule.errors }} {{ form.conduit_vehicule }} {{ form.conduit_vehicule.label_tag|strip_colon }}
            </div>
          </div>
          <div class="col">
            <div class="form-group d-flex">
                <span class="me-3">{{ form.macaron_valide.label_tag }}</span>
                <div>{{ form.macaron_valide.errors }} <div class="d-flex">{{ form.macaron_valide }}</div></div>
            </div>
          </div>
          <div class="col">
            <div class="form-group">
                {{ form.no_macaron.label_tag }} {{ form.no_macaron.errors }} {{ form.no_macaron }}
            </div>
          </div>
        </div>
        {% endif %}

        <div class="row mb-2">
            <div class="col form-group">
                {{ form.remarques.as_field_group }}
            </div>
            {% if form.ne_pas_defrayer %}
            <div class="col-2 form-group mt-3">
                {{ form.ne_pas_defrayer.as_field_group }}
            </div>
            {% endif %}
        </div>

        {% if benevole %}
        <div class="row mb-2 border-top border-bottom">
            <div class="col-md-6 mt-3 mb-2">
                <div id="fichiers-container" data-url="{% url 'benevole-fichier-list' benevole.persona_id %}">
                {% include 'fichier_list.html' with parent=benevole editurl_name='benevole-fichier-edit' deleteurl_name='benevole-fichier-delete' %}
                </div>
                {% if not form.readonly %}
                <div>
                    <a href="{% url 'benevole-fichier-add' benevole.persona_id %}" class="btn btn-secondary openmodal" id="btn-add-file">Ajouter un fichier</a>
                </div>
                {% endif %}
            </div>
        </div>
        {% endif %}

        <h3>Activités</h3>
        <div>
            {{ form.act_formset.management_form.as_div }}
            {% for subform in form.act_formset %}
            <div class="border border-2 mt-2 p-3 rounded fset-line{% if subform.instance.fin %} terminee{% endif %}">
                {% for hidden in subform.hidden_fields %}{{ hidden }}{{ hidden.errors }}{% endfor %}
                {{ subform.non_field_errors }}
                <div class="row">
                    <div class="col">{{ subform.type_act }}{{ subform.type_act.errors }}</div>
                    <div class="col">
                        {{ subform.duree.errors }}
                        <div class="d-flex">{{ subform.duree }}</div>
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col-auto">{{ subform.inactif }} {{ subform.inactif.label_tag|strip_colon }}</div>
                    <div class="col">{{ subform.note.label_tag }}{{ subform.note }}</div>
                </div>
            </div>
            {% endfor %}
        </div>

        <div class="d-flex justify-content-between mt-2">
            <div></div>
            <button type="submit" class="btn btn-primary">Enregistrer</button>
        </div>
    </form>
{% endblock %}
