{% extends "base.html" %}

{% block title %}{{ benevole }} - Journal{% endblock %}

{% block breadcrumb %}
<li class="breadcrumb-item"><a href="{% url 'home' %}">Accueil</a></li>
<li class="breadcrumb-item"><a href="{% url 'benevoles' current_app %}">Bénévoles</a></li>
<li class="breadcrumb-item active" aria-current="page">{{ benevole }}</li>
{% endblock %}

{% block content %}
    <h2>Journal des modifications pour {{ benevole }}</h2>
    
    <div class="row mt-2 mb-2">
      <div class="col-12 col-md-9">
        {% include 'benevole/benevole_tabs.html' with active='journal' %}
      </div>
      <div class="col-12 col-md-3 text-end">
          <button type="button" class="btn btn-primary openmodal" title="Ajouter une nouvelle note"
                  data-modalurl="{% url 'benevole-journal-add' current_app benevole.pk %}">Nouvelle note</button
      </div>
    </div>

    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col" class="quand">Quand</th>
          <th scope="col" class="qui">Qui</th>
          <th scope="col">Description</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        {% for entry in object_list %}
        <tr>
          <td>{{ entry.quand|date:'d.m.Y H:i' }}</th>
          <td>{{ entry.qui.get_full_name }}</td>
          <td>{{ entry.description|safe }}</td>
          <td>{% if entry|can_edit:request.user %}
              <button type="button" class="btn btn-light btn-icon openmodal" title="Modifier la note"
                    data-modalurl="{% url 'benevole-journal-edit' current_app benevole.pk entry.pk %}"
                    data-deleteurl="{% url 'benevole-journal-delete' current_app benevole.pk entry.pk %}"
                    data-deleteconfirm="Voulez-vous vraiment supprimer cette note ?">
                    <img src="{% static 'img/edit.svg' %}">
              </button>
              {% endif %}
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>

    {% include 'pagination.html' %}
{% endblock %}
