.conduit_vehicule { display: none; }
.chauffeur_externe { display: none; }
#bouton_figer_frais { display: none; }
.frais_total_col { display: none; }

.debiteur-manquant, .no_debiteur, .no_debiteur_client {
  display: none;
}
.convention-localisation { display: none; }
.contacts_urgence { display: none; }
.facture-list .manquant {
  display: none;
}
div.prest_compl { display: none; }
