{% extends "besoins/base.html" %}

{% block title %}Importation des clients transport{% endblock %}

{% block content %}
<h1>Importation des clients transport</h1>
<p>
    Ce formulaire permet d’importer les clients transport à partir d’un fichier d’adresses au format .xlsx.
    Si des clients transport actuellement dans cette base de données ne figurent plus dans ce fichier, ils seront archivés et plus disponibles pour le questionnaire des besoins.
</p>
<form method="post" enctype="multipart/form-data" class="debounce">{% csrf_token %}
    {{ form.as_div }}
    <button type="submit" class="btn btn-primary">Importer</button>
</form>
{% endblock %}
