#add-samas-button { display: none; }
.form-group.rabais { display: none; }
#osad_cb { display: none; }
/* Option "Transport" */
option[value='emplettes'] { display: none; }
div#id_facturation_pour div:nth-child(3) { display: none; }
.stats-samas, .stats-emplettes { display: none; }
#q11-wrapper { display: none; } /* Infos pour autres services */
