{% extends "transport/app/base.html" %}

{% block content %}
<h2>Transports à rapporter</h2>

{% for transp in object_list %}
  {% if forloop.first %}<div class="list-group mt-3">{% endif %}
     <a href="{% url 'benevole-rapport' transp.pk %}" class="list-group-item list-group-item-action">
         Transport pour {{ transp.client }} le {{ transp.heure_depart|date:'l d.m.Y - H:i' }}
     </a>
  {% if forloop.last %}</div>{% endif %}
{% empty %}
    <p class="fst-italic">Aucun transport à rapporter pour le moment</p>
{% endfor %}
{% endblock %}
