{% for widget in widget.subwidgets %}
    <div{% if not forloop.first %} class="ms-3"{% endif %}>
        {% if forloop.first %}<label for="{{ widget.attrs.id }}" class="d-inline">Depuis le&nbsp;:</label>{% else %}<label for="{{ widget.attrs.id }}" class="d-inline">Jusqu’au&nbsp;:</label>{% endif %}
        {% include widget.template_name %}
    </div>
{% endfor %}
