<div class="datetimerangewidget">
{% for widget in widget.subwidgets %}
    {% if forloop.counter == 1 %}<div><label for="{{ widget.attrs.id }}" class="d-inline required">Depuis le&nbsp;:</label> {% include widget.template_name %}{% endif %}
    {% if forloop.counter == 2 %} à {% include widget.template_name %}</div>{% endif %}
    {% if forloop.counter == 3 %}<div class="mt-1"><label for="{{ widget.attrs.id }}" class="d-inline required">Jusqu’au&nbsp;:</label> {% include widget.template_name %}{% endif %}
    {% if forloop.counter == 4 %} à {% include widget.template_name %}</div>{% endif %}
{% endfor %}
</div>
