{% extends "visite/base.html" %}

{% block title %}Statistiques{% endblock %}

{% block content %}
    {% include "stat-form.html" %}

    {% if not date_form_has_errors %}
    <div class="row">
        <div class="col">
            <table class="table table-sm table-hover stat_table">
                <thead>
                    <tr><th></th>{% for month in months %}<th class="text-end">{{ month }}</th>{% endfor %}
                    <th class="text-end">Total</th></tr>
                </thead>
                <tbody>
                    <tr>
                        <td>{{ labels.0.label }} {% help_tooltip labels.0.help %}</td>
                        {% for month in months %}
                            <td class="num">{{ stats.clients|get_item:month|default_if_none:'-' }}</td>
                        {% endfor %}
                        <td class="num">{{ stats.clients|get_item:'total' }}</td>
                    </tr>
                    <tr>
                        <td>{{ labels.1.label }} {% help_tooltip labels.1.help %}</td>
                        {% for month in months %}
                            <td class="num">{{ stats.visiteurs|get_item:month|default_if_none:'-' }}</td>
                        {% endfor %}
                        <td class="num">{{ stats.visiteurs|get_item:'total' }}</td>
                    </tr>
                    <tr>
                        <td>{{ labels.2.label }} {% help_tooltip labels.2.help %}</td>
                        {% for month in months %}
                            <td class="num">{{ stats.binomes|get_item:month|default_if_none:'-' }}</td>
                        {% endfor %}
                        <td class="num">{{ stats.binomes|get_item:'total' }}</td>
                    </tr>
                    <tr>
                        <td>{{ labels.3.label }} {% help_tooltip labels.3.help %}</td>
                        {% for month in months %}
                            <td class="num">{{ stats.vad_initiales|get_item:month|default_if_none:'-' }}</td>
                        {% endfor %}
                        <td class="num">{{ stats.vad_initiales|get_item:'total' }}</td>
                    </tr>
                    <tr>
                        <td>{{ labels.4.label }} {% help_tooltip labels.4.help %}</td>
                        {% for month in months %}
                            <td class="num">{{ stats.nb_visites|get_item:month|default_if_none:'-' }}</td>
                        {% endfor %}
                        <td class="num">{{ stats.nb_visites|get_item:'total' }}</td>
                    </tr>
                    <tr>
                        <td>{{ labels.5.label }}</td>
                        {% for month in months %}
                            <td class="num">{{ stats.duree_heures1|get_item:month|default_if_none:'-'|format_duree:'HM' }}</td>
                        {% endfor %}
                        <td class="num">{{ stats.duree_heures1|get_item:'total'|format_duree:'HM' }}</td>
                    </tr>
                    <tr>
                        <td>{{ labels.6.label }}</td>
                        {% for month in months %}
                            <td class="num">{{ stats.duree_heures|get_item:month|default_if_none:'-'|format_duree:'HM' }}</td>
                        {% endfor %}
                        <td class="num">{{ stats.duree_heures|get_item:'total'|format_duree:'HM' }}</td>
                    </tr>
                </tbody>
            </table>
            <div class="text-end">
                <a class="btn-icon" title="Exporter la statistique" href=".{% querystring export=1 %}">
                    <img class="icon-ui" src="{% static 'ficons/tsv.svg' %}">
                </a>
            </div>
        </div>
    </div>
    {% endif %}
{% endblock %}
