{% extends "transport/factures.html" %}

{% block export_factures %}
    {% if api_export %}
    <div class="col-auto text-end">
        <form id="envoi-factures" method="post" action="{{ api_export }}" class="unmonitor">{% csrf_token %}
            <button type="submit" class="btn btn-primary long-op" title="Envoi des factures à la compta">
                Envoi des factures à l’ERP</button>
            <button type="button" class="btn btn-warning stop-op" hidden title="Interrompre l’envoi des factures">Stop</button>
        </form>
    </div>
    {% endif %}
{% endblock %}
